Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files}
      stage_fixed: true
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix: avoid using react-native field
  docs/pages/build.md
  packages/create-react-native-library/templates/common/$package.json
  packages/react-native-builder-bob/src/index.ts
Due: lint, types, markdown

feat: switch to new jsx runtime
  .github/workflows/build-templates.yml
  packages/create-react-native-library/templates/common-example/example/src/App.tsx
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/tsconfig.json
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/src/index.ts
  tsconfig.json
Due: lint, types

Deploying to gh-pages from @ callstack/react-native-builder-bob@0595213e4814c9bc34c270ef89bf31f8e0bd9bed 🚀
  404.html
  _next/static/D6o6ONCy21yts_dJ1Y-tH/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-31dce3fbb6085f73.js
  _next/static/chunks/pages/build-66c7b4e5833e9c92.js
  _next/static/wLvRp3IVB0wwrh1j6oo_K/_buildManifest.js
  _next/static/wLvRp3IVB0wwrh1j6oo_K/_ssgManifest.js
  build.html
  create.html
  faq.html
  index.html
Due: lint, types

feat: add ESM support for generated project (#583)
  docs/pages/build.md
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/tsconfig.json
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/src/__tests__/index.test.ts
  packages/react-native-builder-bob/src/babel.ts
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/targets/commonjs.ts
  packages/react-native-builder-bob/src/targets/module.ts
  packages/react-native-builder-bob/src/targets/typescript.ts
  packages/react-native-builder-bob/src/utils/compile.ts
Due: lint, types, markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@933a3b38e0c8426111f956518edd4488c8ed75bc 🚀
  404.html
  _next/static/IREhZVUVlSWKdmMGX2tNE/_buildManifest.js
  _next/static/IREhZVUVlSWKdmMGX2tNE/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-31dce3fbb6085f73.js
  _next/static/chunks/pages/build-7eaa9c98f3f1ca1c.js
  _next/static/wLvRp3IVB0wwrh1j6oo_K/_buildManifest.js
  build.html
  create.html
  faq.html
  index.html
Due: lint, types

fix: update the package name and bundleIdentifier for example app
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/utils/generateExampleApp.ts
Due: lint, types

chore: publish
  docs/CHANGELOG.md
  docs/package.json
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@a1bc1bae766336e4e0473a50d44f90cbc0c59b77 🚀
  404.html
  _next/static/S9D_o4wT8Vj4f8un0pxwJ/_buildManifest.js
  _next/static/S9D_o4wT8Vj4f8un0pxwJ/_ssgManifest.js
  build.html
  create.html
  faq.html
  index.html
Due: lint, types

fix: fix enabling new arch for test-app example on android
  packages/create-react-native-library/src/utils/generateExampleApp.ts
Due: lint, types

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
Due: markdown

docs: mention tsconfig and eslint related changes for esm
  docs/pages/build.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@f27277024704292d1f344e86394df60bf8b0b1bd 🚀
  404.html
  _next/static/G5bOS_Y6ioLG6UXjKN1ep/_buildManifest.js
  _next/static/G5bOS_Y6ioLG6UXjKN1ep/_ssgManifest.js
  _next/static/S9D_o4wT8Vj4f8un0pxwJ/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-43e1d3fd74761cf2.js
  _next/static/chunks/pages/build-7eaa9c98f3f1ca1c.js
  build.html
  create.html
  faq.html
  index.html
Due: lint, types

docs: minor improvements
  docs/pages/build.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@376c5bf4d6c91ed2808bd0fb3f44722b556b4d95 🚀
  404.html
  _next/static/G5bOS_Y6ioLG6UXjKN1ep/_buildManifest.js
  _next/static/JuJNMbEIVd7624lpINCFT/_buildManifest.js
  _next/static/JuJNMbEIVd7624lpINCFT/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-43e1d3fd74761cf2.js
  _next/static/chunks/pages/build-c5e106323c85773e.js
  build.html
  create.html
  faq.html
  index.html
Due: lint, types

feat: codegen command for bob cli
  packages/react-native-builder-bob/src/index.ts
Due: lint, types

feat: add codegen scripts to xcode
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat: use bob codegen instead of scripts in templates
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/native-library-mixed/scripts/patch-codegen-java-package.cjs
  packages/create-react-native-library/templates/native-library-new/scripts/patch-codegen-java-package.cjs
  packages/create-react-native-library/templates/native-view-mixed/scripts/patch-codegen-java-package.cjs
  packages/create-react-native-library/templates/native-view-new/scripts/patch-codegen-java-package.cjs
Due: none

feat: add gradle script to invoke codegen
  packages/create-react-native-library/src/index.ts
Due: lint, types

chore: don't use rmDir
  packages/react-native-builder-bob/src/utils/patchCodegen.ts
Due: lint, types

feat: add codegen script to new arch templates
  packages/create-react-native-library/templates/common/$package.json
Due: none

feat: register codegen native files
  packages/create-react-native-library/templates/native-common/android/build.gradle
  packages/create-react-native-library/templates/native-common/{%- project.identifier %}.podspec
Due: none

fix: json is officially the worst format ever
  packages/create-react-native-library/templates/common/$package.json
Due: none

chore: add util to patch codegen on bob
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/__tests__/patchCodegen.test.ts
  packages/react-native-builder-bob/src/utils/patchCodegen.ts
  yarn.lock
Due: lint, types

fix: don't add codegen target on legacy projects
  packages/create-react-native-library/templates/common/$package.json
Due: none

feat: ignore codegen files
  packages/create-react-native-library/templates/common/$.gitignore
Due: none

refactor: extract the example app codegen patch function
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/utils/patchExampleAppCodegen.ts
Due: lint, types

fix: android gradle task has whitespace
  packages/create-react-native-library/src/utils/patchExampleAppCodegen.ts
Due: lint, types

feat: add outputdir and includesGeneratedCode to package json
  packages/create-react-native-library/templates/common/$package.json
Due: none

feat: move bob codegen to bob build --target codegen
  packages/create-react-native-library/src/utils/patchExampleAppCodegen.ts
  packages/create-react-native-library/templates/common/$package.json
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/targets/codegen.ts
  packages/react-native-builder-bob/src/types.ts
  packages/react-native-builder-bob/src/utils/patchCodegen.ts
Due: lint, types

fix: patch the codegen java package issue
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/native-library-mixed/scripts/patch-codegen-java-package.cjs
  packages/create-react-native-library/templates/native-library-new/scripts/patch-codegen-java-package.cjs
  packages/create-react-native-library/templates/native-view-mixed/scripts/patch-codegen-java-package.cjs
  packages/create-react-native-library/templates/native-view-new/scripts/patch-codegen-java-package.cjs
Due: none

feat: add cmake path to react native config
  packages/create-react-native-library/templates/native-library-mixed/react-native.config.js
  packages/create-react-native-library/templates/native-library-new/react-native.config.js
  packages/create-react-native-library/templates/native-view-mixed/react-native.config.js
  packages/create-react-native-library/templates/native-view-new/react-native.config.js
Due: lint, types

fix: JSON is why we cannot have good things
  packages/create-react-native-library/templates/common/$package.json
Due: none

docs: add comments to example app codegen files
  packages/create-react-native-library/src/utils/patchExampleAppCodegen.ts
Due: lint, types

fix: use an alternative approach to support ESM
  docs/pages/build.md
  packages/create-react-native-library/templates/common/$package.json
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/src/babel.ts
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/utils/compile.ts
Due: lint, types, markdown

feat: support ESM config for bob
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/index.ts
  yarn.lock
Due: lint, types

fix: bump fallback bob version
  packages/create-react-native-library/src/index.ts
Due: lint, types

Deploying to gh-pages from @ callstack/react-native-builder-bob@5052841763c6b50ea474f272480dc86c3f466138 🚀
  404.html
  _next/static/9dNHXQb3qRKvoPerpaXKk/_buildManifest.js
  _next/static/9dNHXQb3qRKvoPerpaXKk/_ssgManifest.js
  _next/static/JuJNMbEIVd7624lpINCFT/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-a4853aff1f81e3d6.js
  _next/static/chunks/pages/build-c5e106323c85773e.js
  build.html
  create.html
  faq.html
  index.html
Due: lint, types

fix: fix init command
  packages/create-react-native-library/src/utils/generateExampleApp.ts
Due: lint, types
