Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files}
      stage_fixed: true
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

refactor: don't mutate questions
  packages/create-react-native-library/src/utils/prompt.ts
Due: lint, types

ci: use xcode 16.2
  .github/workflows/build-templates.yml
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
Due: none

fix: add missing dependency for bob
  packages/react-native-builder-bob/package.json
  yarn.lock
Due: none

fix: remove unnecessary condition
  packages/create-react-native-library/templates/common/$package.json
Due: none

feat: add non-interactive mode
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/inform.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/src/utils/assert.ts
  packages/create-react-native-library/src/utils/local.ts
  packages/create-react-native-library/src/utils/prompt.ts
Due: lint, types

feat: add non-interactive mode (#831)
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/inform.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/src/utils/assert.ts
  packages/create-react-native-library/src/utils/local.ts
  packages/create-react-native-library/src/utils/prompt.ts
Due: lint, types

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

fix: use kebab case for CLI arguments
  packages/create-react-native-library/src/constants.ts
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/input.ts
Due: lint, types

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
Due: markdown

ci: schedule nightly builds with latest react native
  .github/workflows/build-templates.yml
Due: none

fix: upgrade to latest react-native
  .github/workflows/build-templates.yml
  docs/pages/build.md
  docs/pages/esm.md
  packages/create-react-native-library/src/constants.ts
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
  packages/create-react-native-library/templates/common/$.gitignore
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/__tests__/__snapshots__/init.test.ts.snap
  packages/react-native-builder-bob/src/init.ts
  yarn.lock
Due: lint, types, markdown

fix: upgrade to latest react-native (#832)
  .github/workflows/build-templates.yml
  docs/pages/build.md
  docs/pages/esm.md
  packages/create-react-native-library/src/constants.ts
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
  packages/create-react-native-library/templates/common/$.gitignore
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/__tests__/__snapshots__/init.test.ts.snap
  packages/react-native-builder-bob/src/init.ts
  yarn.lock
Due: lint, types, markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@5bc7888a43b105014a62aba28cd1ad55465ea9d3 🚀
  404.html
  _next/static/Jcu7a5NdyJOcTMjF1BW6l/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-27e292270a8c970d.js
  _next/static/chunks/pages/build-3bef00653332399e.js
  _next/static/chunks/pages/esm-e078a52445257ae5.js
  _next/static/chunks/pages/esm-e6d9707028232441.js
  _next/static/hC2pJwuGBU_C4iJZoOGdc/_buildManifest.js
  _next/static/hC2pJwuGBU_C4iJZoOGdc/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

fix: fix handling react native version for test app
  packages/create-react-native-library/package.json
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/inform.ts
  packages/create-react-native-library/src/input.ts
  yarn.lock
Due: lint, types

refactor: improve types
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/utils/prompt.ts
Due: lint, types

chore: publish
  docs/CHANGELOG.md
  docs/package.json
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@7b604809ea5789df2d7c501668f4285d90608f57 🚀
  404.html
  _next/static/Y9LlYQbzSoVgLSqyMatKX/_buildManifest.js
  _next/static/Y9LlYQbzSoVgLSqyMatKX/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

fix: add additional check for codegenNativeComponent
  packages/react-native-builder-bob/src/__fixtures__/project/MyNativeComponent.js
  packages/react-native-builder-bob/src/__fixtures__/project/MyNativeComponent.jsx
  packages/react-native-builder-bob/src/__fixtures__/project/MyNativeComponent.ts
  packages/react-native-builder-bob/src/__fixtures__/project/MyNativeComponent.tsx
  packages/react-native-builder-bob/src/__fixtures__/project/code/$exports-output.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$imports-output.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/MyNativeComponent.js
  packages/react-native-builder-bob/src/__fixtures__/project/code/MyNativeComponent.jsx
  packages/react-native-builder-bob/src/__fixtures__/project/code/MyNativeComponent.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/MyNativeComponent.tsx
  packages/react-native-builder-bob/src/utils/isCodegenSpec.ts
Due: lint, types

chore: publish
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

document app.plugin.js in package.json exports
  docs/pages/esm.md
Due: markdown

Update esm.md
  docs/pages/esm.md
Due: markdown

chore: specify error origin in babel-config.js
  packages/react-native-builder-bob/babel-config.js
Due: lint, types

docs: mention module-sync condition
  docs/pages/esm.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@4c062bdd9462212a95f75f72663e18f6f599e0bb 🚀
  404.html
  _next/static/3uNlfylcZUTyIyds5ITNJ/_buildManifest.js
  _next/static/3uNlfylcZUTyIyds5ITNJ/_ssgManifest.js
  _next/static/Y9LlYQbzSoVgLSqyMatKX/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/esm-babb6e3d020b76bf.js
  _next/static/chunks/pages/esm-e078a52445257ae5.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

update nitro modules version
  packages/create-react-native-library/src/constants.ts
Due: lint, types

chore: update eslint config
  eslint.config.mjs
  package.json
  packages/create-react-native-library/src/input.ts
  packages/react-native-builder-bob/src/schema.ts
  yarn.lock
Due: lint, types

chore: fix lint issues
  packages/create-react-native-library/src/utils/prompt.ts
Due: lint, types

docs: add example code for expo config plugin
  docs/pages/esm.md
Due: markdown

chore: fix prettier
  docs/pages/esm.md
Due: markdown

docs: document app.plugin.js in package.json exports (#834)
  docs/pages/esm.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@79f2a6858b2c58fac1343f0ab2acaa9b427f207f 🚀
  404.html
  _next/static/3uNlfylcZUTyIyds5ITNJ/_buildManifest.js
  _next/static/VI1_K1IfX7iylZLNXYNZ3/_buildManifest.js
  _next/static/VI1_K1IfX7iylZLNXYNZ3/_ssgManifest.js
  _next/static/chunks/374-a120adabe4626e0d.js
  _next/static/chunks/849-f4d2fde300e3926a.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-08134494d6bb8dc5.js
  _next/static/chunks/pages/build-27e292270a8c970d.js
  _next/static/chunks/pages/create-36eac93fa265277d.js
  _next/static/chunks/pages/create-5e32e0bb26c2a416.js
  _next/static/chunks/pages/esm-babb6e3d020b76bf.js
  _next/static/chunks/pages/esm-bedd2a296a1c1bb8.js
  _next/static/chunks/pages/faq-795a8beb692e5683.js
  _next/static/chunks/pages/faq-b331a2cf1d6c8681.js
  _next/static/chunks/pages/index-a859e34b4b1563d0.js
  _next/static/chunks/pages/index-dce50200c7381984.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

chore: upgrade nextra
  docs/content/_meta.tsx
  docs/content/build.md
  docs/content/create.md
  docs/content/esm.md
  docs/content/faq.md
  docs/content/index.md
  docs/next-env.d.ts
  docs/next.config.mjs
  docs/package.json
  docs/pages/_meta.json
  docs/src/app/[[...mdxPath]]/page.tsx
  docs/src/app/layout.tsx
  docs/src/mdx-components.tsx
  docs/theme.config.jsx
  docs/tsconfig.json
  yarn.lock
Due: lint, types, markdown

refactor: use react-native-monorepo-config in the example
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/templates/example-common/example/metro.config.js
  packages/create-react-native-library/templates/expo-library/example/metro.config.js
  packages/react-native-builder-bob/metro-config.js
Due: lint, types

ci: update cocoapod cache key
  .github/workflows/build-templates.yml
Due: none

ci: use xcode 16.3 for builds
  .github/workflows/build-templates.yml
Due: none

ci: fix nitro modules build and add js library build (#836)
  .github/workflows/build-templates.yml
  packages/create-react-native-library/src/constants.ts
Due: lint, types

chore: improve eslint rules and fix issues
  eslint.config.mjs
  package.json
  packages/create-react-native-library/bin/create-react-native-library
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/src/utils/local.ts
  packages/create-react-native-library/src/utils/prompt.ts
  packages/create-react-native-library/src/utils/resolveNpmPackageVersion.ts
  packages/create-react-native-library/src/utils/sortObjectKeys.ts
  packages/create-react-native-library/src/utils/spawn.ts
  packages/create-react-native-library/templates/common/$package.json
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/bin/bob
  packages/react-native-builder-bob/metro-config.js
  packages/react-native-builder-bob/src/__tests__/init.test.ts
  packages/react-native-builder-bob/src/build.ts
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/init.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/removeCodegenAppLevelCode.ts
  packages/react-native-builder-bob/src/targets/typescript.ts
  packages/react-native-builder-bob/src/utils/compile.ts
  packages/react-native-builder-bob/src/utils/prompts.ts
  packages/react-native-builder-bob/src/utils/spawn.ts
  packages/react-native-builder-bob/src/utils/workerize.ts
  tsconfig.json
  yarn.lock
Due: lint, types

fix: fix nitro module versions
  packages/create-react-native-library/templates/common/$package.json
Due: none
