Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files}
      stage_fixed: true
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix: remove newline on swift file
  packages/create-react-native-library/templates/nitro-module/ios/{%- project.name %}.swift
Due: none

docs: add installation steps
  packages/create-react-native-library/templates/common/README.md
Due: markdown

fix: pass args to cmake
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

chore: formatting
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/template.ts
Due: lint, types

fix: use correct podspec
  packages/create-react-native-library/templates/native-common/{%- project.identifier %}.podspec
Due: none

fix: redundant podspec file
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
  packages/create-react-native-library/templates/native-common/{- project.name }.podspec
Due: none

fix: correct the nitro paths
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/nitro-module/src/$index.tsx
Due: lint, types

fix: nitro json expects an array
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/nitro-module/$nitro.json
Due: lint, types

feat: json is the worst format ever
  packages/create-react-native-library/templates/common/$package.json
Due: none

fix: better spacing
  packages/create-react-native-library/src/inform.ts
Due: lint, types

feat: add newline with nitro
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
Due: markdown

feat: ignore nitrogen
  packages/create-react-native-library/templates/common/$.gitignore
Due: none

feat: remove unnecessary comment
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

refactor: remove package_array
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/nitro-module/nitro.json
Due: lint, types

feat: remove one doc link from contributing
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
Due: markdown

Update packages/create-react-native-library/templates/common/CONTRIBUTING.md
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
Due: markdown

add newline in nitro ts
  packages/create-react-native-library/templates/nitro-module/src/{%- project.name %}.nitro.ts
Due: lint, types

feat: don't mention the nitro docs when user creates a lib
  packages/create-react-native-library/src/inform.ts
Due: lint, types

refactor: introduce viewConfig and moduleConfig
  packages/create-react-native-library/src/exampleApp/dependencies.ts
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/common-local/$package.json
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
  packages/create-react-native-library/templates/common/README.md
  packages/create-react-native-library/templates/native-common/android/build.gradle
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
Due: lint, types, markdown

feat: only ignore jsi libs on nitro modules
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

feat: only fetch the nitro version when the module type is nitro
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/template.ts
Due: lint, types

fix: use the correct cpp path
  packages/create-react-native-library/templates/nitro-module/android/src/main/cpp/cpp-adapter.cpp
Due: none

feat: make nitro the second option and add an experimental label
  packages/create-react-native-library/src/input.ts
Due: lint, types

feat: pin the nitro modules peer dep
  packages/create-react-native-library/templates/common/$package.json
Due: none

chore: remove unnecessary $ from file names
  packages/create-react-native-library/templates/nitro-module/android/CMakeLists.txt
  packages/create-react-native-library/templates/nitro-module/android/src/main/cpp/cpp-adapter.cpp
  packages/create-react-native-library/templates/nitro-module/nitro.json
  packages/create-react-native-library/templates/nitro-module/src/index.tsx
Due: lint, types

feat: change nitro description
  packages/create-react-native-library/src/input.ts
Due: lint, types

feat: update ios template with the latest version
  packages/create-react-native-library/templates/nitro-module/ios/{%- project.name %}.swift
Due: none

feat: add nitrogen custom target
  packages/create-react-native-library/templates/common/$package.json
Due: none

feat: generate codegen code on lib ci
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
Due: none

Update packages/create-react-native-library/src/inform.ts
  packages/create-react-native-library/src/inform.ts
Due: lint, types

feat: explain why nitro modules are needed as a dependency
  packages/create-react-native-library/templates/common/README.md
Due: markdown

fix: remove nitrogen step
  .github/workflows/build-templates.yml
Due: none

docs: update comment
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
Due: lint, types

update the fallback nitro version
  packages/create-react-native-library/src/index.ts
Due: lint, types

change a few words in contributing guide
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
Due: markdown

remove the memory size from hybrid objects
  packages/create-react-native-library/templates/nitro-module/android/src/main/java/com/margelo/nitro/{%- project.package_dir %}/{%- project.name %}.kt
  packages/create-react-native-library/templates/nitro-module/ios/{%- project.name %}.swift
Due: none

don't strip the nitro module code when proguard is enabled
  packages/create-react-native-library/templates/nitro-module/android/src/main/java/com/margelo/nitro/{%- project.package_dir %}/{%- project.name %}.kt
Due: none

fix linting issues
  packages/create-react-native-library/src/index.ts
Due: lint, types

chore: publish
  docs/CHANGELOG.md
  docs/package.json
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@ec2c874cd7ee78ecdadb97ea1f978121663ad41f 🚀
  404.html
  _next/static/V8tmqZusif-bBBuRFO8e5/_buildManifest.js
  _next/static/V8tmqZusif-bBBuRFO8e5/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types
