Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files}
      stage_fixed: true
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

chore: publish
  docs/CHANGELOG.md
  docs/package.json
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@b04635746b60411154e962a6e70e7436163b6ba2 🚀
  404.html
  _next/static/Hef_nngA2FV_VRRVzzknI/_buildManifest.js
  _next/static/Hef_nngA2FV_VRRVzzknI/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

fix: skip compiling codegen spec with bob
  packages/react-native-builder-bob/src/__fixtures__/project/code/$alias-input.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$alias-output.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$exports-input.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$exports-output.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$imports-input.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$imports-output.ts
  packages/react-native-builder-bob/src/babel.ts
  packages/react-native-builder-bob/src/types.ts
  packages/react-native-builder-bob/src/utils/compile.ts
  packages/react-native-builder-bob/src/utils/isCodegenSpec.ts
Due: lint, types

fix: skip compiling codegen spec with bob (#797)
  packages/react-native-builder-bob/src/__fixtures__/project/code/$alias-input.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$alias-output.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$exports-input.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$exports-output.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$imports-input.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$imports-output.ts
  packages/react-native-builder-bob/src/babel.ts
  packages/react-native-builder-bob/src/types.ts
  packages/react-native-builder-bob/src/utils/compile.ts
  packages/react-native-builder-bob/src/utils/isCodegenSpec.ts
Due: lint, types

chore: publish
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

test: fix tests for rewriteing codegenspec imports
  packages/react-native-builder-bob/src/__fixtures__/project/MyNativeComponent.js
  packages/react-native-builder-bob/src/__fixtures__/project/MyNativeComponent.jsx
  packages/react-native-builder-bob/src/__fixtures__/project/MyNativeComponent.ts
  packages/react-native-builder-bob/src/__fixtures__/project/MyNativeComponent.tsx
  packages/react-native-builder-bob/src/__fixtures__/project/NativeMyLib.js
  packages/react-native-builder-bob/src/__fixtures__/project/NativeMyLib.jsx
  packages/react-native-builder-bob/src/__fixtures__/project/NativeMyLib.ts
  packages/react-native-builder-bob/src/__fixtures__/project/NativeMyLib.tsx
  packages/react-native-builder-bob/src/__fixtures__/project/code/$exports-input.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$exports-output.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$imports-input.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$imports-output.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/MyNativeComponent.js
  packages/react-native-builder-bob/src/__fixtures__/project/code/MyNativeComponent.jsx
  packages/react-native-builder-bob/src/__fixtures__/project/code/MyNativeComponent.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/MyNativeComponent.tsx
  packages/react-native-builder-bob/src/__fixtures__/project/code/NativeMyLib.js
  packages/react-native-builder-bob/src/__fixtures__/project/code/NativeMyLib.jsx
  packages/react-native-builder-bob/src/__fixtures__/project/code/NativeMyLib.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/NativeMyLib.tsx
  packages/react-native-builder-bob/src/__tests__/index.test.ts
Due: lint, types

Deploying to gh-pages from @ callstack/react-native-builder-bob@0655705a61e3d80a812bb1c1ddce141e2825b214 🚀
  404.html
  _next/static/BRLXtj7u46xbrUPH3Agnw/_buildManifest.js
  _next/static/BRLXtj7u46xbrUPH3Agnw/_ssgManifest.js
  _next/static/Hef_nngA2FV_VRRVzzknI/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-1fe463b478ef429b.js
  _next/static/chunks/pages/build-59ea6e84c675bc67.js
  _next/static/chunks/pages/faq-1a3f93dc29c2ebdc.js
  _next/static/chunks/pages/faq-78e7e82386520955.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

docs: improve instructions for opting out of shipping generated code from codegen
  docs/pages/build.md
  docs/pages/faq.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@948f71ecc637b7c72c96ee6a8484736a85838467 🚀
  404.html
  _next/static/BRLXtj7u46xbrUPH3Agnw/_buildManifest.js
  _next/static/c22n09D92W7u8QoWBOMFZ/_buildManifest.js
  _next/static/c22n09D92W7u8QoWBOMFZ/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/faq-1a3f93dc29c2ebdc.js
  _next/static/chunks/pages/faq-73ef7b82da72ba3a.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

refactor: improve how esm is handled in bob
  docs/pages/build.md
  docs/pages/esm.md
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/tsconfig.json
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/__tests__/__snapshots__/init.test.ts.snap
  packages/react-native-builder-bob/src/__tests__/babel.test.ts
  packages/react-native-builder-bob/src/__tests__/init.test.ts
  packages/react-native-builder-bob/src/build.ts
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/init.ts
  packages/react-native-builder-bob/src/targets/commonjs.ts
  packages/react-native-builder-bob/src/targets/module.ts
  packages/react-native-builder-bob/src/targets/typescript.ts
  packages/react-native-builder-bob/src/types.ts
  packages/react-native-builder-bob/src/utils/compile.ts
  packages/react-native-builder-bob/src/utils/loadConfig.ts
  yarn.lock
Due: lint, types, markdown

refactor: improve how esm is handled in bob (#799)
  docs/pages/build.md
  docs/pages/esm.md
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/tsconfig.json
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/__tests__/__snapshots__/init.test.ts.snap
  packages/react-native-builder-bob/src/__tests__/babel.test.ts
  packages/react-native-builder-bob/src/__tests__/init.test.ts
  packages/react-native-builder-bob/src/build.ts
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/init.ts
  packages/react-native-builder-bob/src/targets/commonjs.ts
  packages/react-native-builder-bob/src/targets/module.ts
  packages/react-native-builder-bob/src/targets/typescript.ts
  packages/react-native-builder-bob/src/types.ts
  packages/react-native-builder-bob/src/utils/compile.ts
  packages/react-native-builder-bob/src/utils/loadConfig.ts
  yarn.lock
Due: lint, types, markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@17e4ba836052e5e6d724bc27831dd69a55a7f95c 🚀
  404.html
  _next/static/c22n09D92W7u8QoWBOMFZ/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-1fe463b478ef429b.js
  _next/static/chunks/pages/build-c3fb9b541281be1c.js
  _next/static/chunks/pages/esm-aabc7308ddc80ed8.js
  _next/static/chunks/pages/esm-cb88a36bf01ae4cb.js
  _next/static/zGvA7z827tsRctBTXpO0y/_buildManifest.js
  _next/static/zGvA7z827tsRctBTXpO0y/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

chore: publish
  docs/CHANGELOG.md
  docs/package.json
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@9c0d0df06e65af995d685551835957c3af60d57a 🚀
  404.html
  _next/static/gMCVhUqRjxoa8coI7-Bx3/_buildManifest.js
  _next/static/gMCVhUqRjxoa8coI7-Bx3/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

test: mock package.json to avoid version changes in snapshot
  packages/react-native-builder-bob/src/__tests__/__snapshots__/init.test.ts.snap
  packages/react-native-builder-bob/src/__tests__/init.test.ts
Due: lint, types

build: upgrade eslint to v9
  eslint.config.mjs
  package.json
  yarn.lock
Due: none

feat: upgrade eslint to v9 in created projects
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/eslint.config.mjs
Due: none

fix: check if codegen config is present before skipping compilation
  packages/react-native-builder-bob/src/utils/compile.ts
Due: lint, types

build: update satya164 eslint config to latest (flat-config-compatible) version
  docs/next.config.js
  eslint.config.mjs
  package.json
  packages/create-react-native-library/src/index.ts
  packages/react-native-builder-bob/babel-config.js
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/metro-config.js
  packages/react-native-builder-bob/src/__tests__/babel.test.ts
  packages/react-native-builder-bob/src/__tests__/init.test.ts
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/init.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/patchCodegenAndroidPackage.test.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/removeCodegenAppLevelCode.test.ts
  packages/react-native-builder-bob/src/utils/loadConfig.ts
  yarn.lock
Due: lint, types

feat: add a cwd option
  packages/react-native-builder-bob/src/__tests__/init.test.ts
  packages/react-native-builder-bob/src/build.ts
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/init.ts
  packages/react-native-builder-bob/src/targets/codegen/index.ts
  packages/react-native-builder-bob/src/targets/commonjs.ts
  packages/react-native-builder-bob/src/targets/custom.ts
  packages/react-native-builder-bob/src/targets/module.ts
  packages/react-native-builder-bob/src/targets/typescript.ts
  packages/react-native-builder-bob/src/utils/getProjectRoot.ts
  packages/react-native-builder-bob/src/utils/loadConfig.ts
  packages/react-native-builder-bob/src/utils/rmrf.ts
Due: lint, types

fix: fix configuration for fabric view templates
  docs/pages/faq.md
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/templates/common/$package.json
  packages/react-native-builder-bob/src/__tests__/__snapshots__/init.test.ts.snap
  packages/react-native-builder-bob/src/init.ts
Due: lint, types, markdown

fix: fix configuration for fabric view templates (#801)
  docs/pages/faq.md
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/templates/common/$package.json
  packages/react-native-builder-bob/src/__tests__/__snapshots__/init.test.ts.snap
  packages/react-native-builder-bob/src/init.ts
Due: lint, types, markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@19f5a457eb7d2632807899168159328c8d45d373 🚀
  404.html
  _next/static/QovHWn6vWQPPnnvc5T91d/_buildManifest.js
  _next/static/QovHWn6vWQPPnnvc5T91d/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

Deploying to gh-pages from @ callstack/react-native-builder-bob@86ad9c3a0032cf9c0c70f22ac20592554bf95578 🚀
  404.html
  _next/static/QovHWn6vWQPPnnvc5T91d/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-c12852540b851da4.js
  _next/static/chunks/pages/build-c3fb9b541281be1c.js
  _next/static/chunks/pages/esm-91e93945cc9fe368.js
  _next/static/chunks/pages/esm-aabc7308ddc80ed8.js
  _next/static/chunks/pages/faq-799e3bca540c5532.js
  _next/static/chunks/pages/faq-e77f8cb6bd59aed7.js
  _next/static/ykogKWKAh1sOzb1BNNZn3/_buildManifest.js
  _next/static/ykogKWKAh1sOzb1BNNZn3/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

Deploying to gh-pages from @ callstack/react-native-builder-bob@ac32600876153ba368198bd13be7b9ade5bdc017 🚀
  404.html
  _next/static/SHJhRxztWb-Kv5uXhubRh/_buildManifest.js
  _next/static/SHJhRxztWb-Kv5uXhubRh/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-9187236bb5c8b411.js
  _next/static/chunks/pages/build-c12852540b851da4.js
  _next/static/chunks/pages/esm-5e9704372c399a5a.js
  _next/static/chunks/pages/esm-91e93945cc9fe368.js
  _next/static/ykogKWKAh1sOzb1BNNZn3/_buildManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

docs: improve docs regarding modules
  docs/pages/build.md
  docs/pages/esm.md
  docs/pages/faq.md
  packages/create-react-native-library/templates/common/$package.json
Due: markdown

refactor: drop commonjs build from default setup
  docs/pages/build.md
  docs/pages/esm.md
  packages/create-react-native-library/templates/common/$package.json
  packages/react-native-builder-bob/src/__tests__/__snapshots__/init.test.ts.snap
  packages/react-native-builder-bob/src/init.ts
Due: lint, types, markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@9ca6093f92fba64608374203dbc4652d75a49365 🚀
  404.html
  _next/static/1Uql-9Wvbj_9X1C0diQoZ/_buildManifest.js
  _next/static/1Uql-9Wvbj_9X1C0diQoZ/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

Deploying to gh-pages from @ callstack/react-native-builder-bob@72a579c3ea1d85401852b100b69c41fe3514e0c5 🚀
  404.html
  _next/static/1Uql-9Wvbj_9X1C0diQoZ/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/esm-0be6f952a4a8d49d.js
  _next/static/chunks/pages/esm-5e9704372c399a5a.js
  _next/static/qFawgn-BSbqFM9EEXFeLF/_buildManifest.js
  _next/static/qFawgn-BSbqFM9EEXFeLF/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

fix: align @types/react version between example and root project
  packages/create-react-native-library/src/exampleApp/dependencies.ts
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/common/$package.json
Due: lint, types

Deploying to gh-pages from @ callstack/react-native-builder-bob@0691c049fc15ea8fd6bde87ecd6f2bb89338b3bf 🚀
  404.html
  _next/static/QjDxButrQpZKg_9bnfLMS/_buildManifest.js
  _next/static/QjDxButrQpZKg_9bnfLMS/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

fix: don't throw for missing dep if it's already in root
  packages/create-react-native-library/src/exampleApp/dependencies.ts
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/common/$package.json
Due: lint, types

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
Due: markdown

feat: add nitro view template
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
  packages/create-react-native-library/templates/common/README.md
  packages/create-react-native-library/templates/native-common/android/build.gradle
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
  packages/create-react-native-library/templates/nitro-view/android/CMakeLists.txt
  packages/create-react-native-library/templates/nitro-view/android/src/main/cpp/cpp-adapter.cpp
  packages/create-react-native-library/templates/nitro-view/android/src/main/java/com/margelo/nitro/{%- project.package_dir %}/{%- project.name %}.kt
  packages/create-react-native-library/templates/nitro-view/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/nitro-view/ios/{%- project.name %}.swift
  packages/create-react-native-library/templates/nitro-view/nitro.json
  packages/create-react-native-library/templates/nitro-view/src/index.tsx
  packages/create-react-native-library/templates/nitro-view/src/{%- project.name %}.nitro.ts
Due: lint, types, markdown

chore: change nitro modules version to 0.25.2
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat: add nitro view to template creation
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/template.ts
Due: lint, types
