Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

markdown:
  run: npx prettier --write {staged_files}
  stage_fixed: true

Deploying to gh-pages from @ callstack/react-native-builder-bob@1706d80da6e724036dcf1e95bbd38250192a4f04 🚀
  404.html
  _next/static/3wq8UmTbWx1ICMP4EyZ0k/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/create-4e74a91585d97077.js
  _next/static/chunks/pages/create-7bb85c9b4f8a5036.js
  _next/static/w5L9iiZ8iOmvwGzkWO-W3/_buildManifest.js
  _next/static/w5L9iiZ8iOmvwGzkWO-W3/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

fix: don't ship generated code with the library
  docs/pages/build.md
  docs/pages/faq.md
  packages/create-react-native-library/src/exampleApp/addCodegenBuildScript.ts
  packages/create-react-native-library/src/exampleApp/dependencies.ts
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/native-library-new/react-native.config.js
  packages/create-react-native-library/templates/native-view-new/react-native.config.js
Due: lint, types, markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@3d6a261af187873a5805a945b919758140b204f4 🚀
  404.html
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-c211fe15dca9cfd2.js
  _next/static/chunks/pages/build-fd71e6278f3736e3.js
  _next/static/chunks/pages/faq-78e7e82386520955.js
  _next/static/chunks/pages/faq-799e3bca540c5532.js
  _next/static/j_7_7PjMW7_Gb6XHTATSS/_buildManifest.js
  _next/static/j_7_7PjMW7_Gb6XHTATSS/_ssgManifest.js
  _next/static/w5L9iiZ8iOmvwGzkWO-W3/_buildManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

fix: move Gemfile to the root
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/common/$.gitignore
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
Due: lint, types, markdown

refactor: drop code for old react native versions
  packages/create-react-native-library/templates/native-common/android/build.gradle
  packages/create-react-native-library/templates/native-common/android/src/main/AndroidManifest.xml
  packages/create-react-native-library/templates/native-common/android/src/main/AndroidManifestNew.xml
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
Due: none

fix: use react native babel config for node_modules
  packages/create-react-native-library/src/exampleApp/dependencies.ts
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/babel.config.js
Due: lint, types

fix: use react native babel config for node_modules (#823)
  packages/create-react-native-library/src/exampleApp/dependencies.ts
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/babel.config.js
Due: lint, types

fix: Migrate to babel-plugin-syntax-hermes-parser
  packages/react-native-builder-bob/babel-preset.js
Due: lint, types

fix: add transform-flow-strip-types plugin
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/package.json
  yarn.lock
Due: lint, types

fix: adjust babel config
  packages/create-react-native-library/templates/common/babel.config.js
Due: lint, types

fix: migrate to babel-plugin-syntax-hermes-parser (#822)
  packages/create-react-native-library/templates/common/babel.config.js
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/package.json
  yarn.lock
Due: lint, types

refactor: migrate from jest to vitest
  eslint.config.mjs
  package.json
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/__tests__/__snapshots__/init.test.ts.snap
  packages/react-native-builder-bob/src/__tests__/babel.test.ts
  packages/react-native-builder-bob/src/__tests__/init.test.ts
  packages/react-native-builder-bob/src/init.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/patchCodegenAndroidPackage.test.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/removeCodegenAppLevelCode.test.ts
  packages/react-native-builder-bob/vitest.config.mjs
  yarn.lock
Due: lint, types

refactor: migrate from jest to vitest (#812)
  eslint.config.mjs
  package.json
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/__tests__/__snapshots__/init.test.ts.snap
  packages/react-native-builder-bob/src/__tests__/babel.test.ts
  packages/react-native-builder-bob/src/__tests__/init.test.ts
  packages/react-native-builder-bob/src/init.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/patchCodegenAndroidPackage.test.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/removeCodegenAppLevelCode.test.ts
  packages/react-native-builder-bob/vitest.config.mjs
  yarn.lock
Due: lint, types

docs: fix dead links in documentation
  docs/pages/create.md
Due: markdown

fix: fix typo in podspec
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
Due: none

fix: don't ship generated code with the library
  docs/pages/build.md
  docs/pages/faq.md
  packages/create-react-native-library/src/exampleApp/addCodegenBuildScript.ts
  packages/create-react-native-library/src/exampleApp/dependencies.ts
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/common-local/$package.json
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/native-library-new/react-native.config.js
  packages/create-react-native-library/templates/native-view-new/react-native.config.js
  packages/create-react-native-library/templates/objc-library/ios/{%- project.name %}.h
  packages/create-react-native-library/templates/objc-view-new/ios/{%- project.name %}View.mm
Due: lint, types, markdown

add rn nitro modules dep to local modules
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/inform.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/src/utils/local.ts
  packages/create-react-native-library/src/utils/packageManager.ts
Due: lint, types

separate local and nonlocal next steps
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/inform.ts
Due: lint, types

fix: install nitro modules dependency automatically for local modules (#828)
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/inform.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/src/utils/local.ts
  packages/create-react-native-library/src/utils/packageManager.ts
Due: lint, types

docs: fix dead links in documentation (#826)
  docs/pages/create.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@97c3cc76f56f6fc1c4e4e0cea61a548a1c877e07 🚀
  404.html
  _next/static/ZJGkjBQc6LuVJ7ZmZ7b0G/_buildManifest.js
  _next/static/ZJGkjBQc6LuVJ7ZmZ7b0G/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-c211fe15dca9cfd2.js
  _next/static/chunks/pages/build-fd71e6278f3736e3.js
  _next/static/chunks/pages/create-5e32e0bb26c2a416.js
  _next/static/chunks/pages/create-7bb85c9b4f8a5036.js
  _next/static/chunks/pages/faq-78e7e82386520955.js
  _next/static/chunks/pages/faq-799e3bca540c5532.js
  _next/static/j_7_7PjMW7_Gb6XHTATSS/_buildManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

docs: add info about import.meta and various conditions to ESM docs
  docs/pages/esm.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@cffe7dcaf5641f0706d6635bc732a03c93960907 🚀
  404.html
  _next/static/ZJGkjBQc6LuVJ7ZmZ7b0G/_buildManifest.js
  _next/static/bNXW4VawmmwmKMwVdOfC9/_buildManifest.js
  _next/static/bNXW4VawmmwmKMwVdOfC9/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/esm-28b631750ce305b8.js
  _next/static/chunks/pages/esm-39acdefbd50ae04d.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

docs: link to customConditions in TypeScript docs
  docs/pages/esm.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@ab97df619a334f3d562b60b1974e81a8170b7288 🚀
  404.html
  _next/static/bNXW4VawmmwmKMwVdOfC9/_buildManifest.js
  _next/static/chunks/pages/esm-39acdefbd50ae04d.js
  _next/static/chunks/pages/esm-640e94a7f9c7a3cf.js
  _next/static/nWtZMW2olI2ecf7a7sQiG/_buildManifest.js
  _next/static/nWtZMW2olI2ecf7a7sQiG/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

docs: link to runtime keys spec
  docs/pages/esm.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@ee62040b6aeb9280273ba3833665b09dad6d5bd5 🚀
  404.html
  _next/static/QIhdbz8qUnpwxZ0OR0s_q/_buildManifest.js
  _next/static/QIhdbz8qUnpwxZ0OR0s_q/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/esm-1dd571dbaf370f33.js
  _next/static/chunks/pages/esm-640e94a7f9c7a3cf.js
  _next/static/nWtZMW2olI2ecf7a7sQiG/_buildManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

docs: re-order export conditions
  docs/pages/esm.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@62c0f34e8fdb15af3ea5f450efe5d19200b95d51 🚀
  404.html
  _next/static/QIhdbz8qUnpwxZ0OR0s_q/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/esm-1dd571dbaf370f33.js
  _next/static/chunks/pages/esm-c463f15b683bcd04.js
  _next/static/tGyEsF7gFY9_8xeoH8woD/_buildManifest.js
  _next/static/tGyEsF7gFY9_8xeoH8woD/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

docs: add info about types field and fix typo
  docs/pages/esm.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@ed2a30fae8bfa8e73356d5a962a451bb9187f25b 🚀
  404.html
  _next/static/JgGsHUwRvB21Lkp8x_UzZ/_buildManifest.js
  _next/static/JgGsHUwRvB21Lkp8x_UzZ/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/esm-c463f15b683bcd04.js
  _next/static/chunks/pages/esm-e6d9707028232441.js
  _next/static/tGyEsF7gFY9_8xeoH8woD/_buildManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

refactor: move to react-native-monorepo-config
  docs/pages/faq.md
  packages/create-react-native-library/templates/example-common/example/metro.config.js
  packages/create-react-native-library/templates/expo-library/example/metro.config.js
  packages/react-native-builder-bob/babel-config.js
  packages/react-native-builder-bob/metro-config.js
  packages/react-native-builder-bob/package.json
  yarn.lock
Due: lint, types, markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@da5df0b1da2085445000373367d687e916cd9328 🚀
  404.html
  _next/static/JgGsHUwRvB21Lkp8x_UzZ/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/faq-54d3432f898d8cea.js
  _next/static/chunks/pages/faq-799e3bca540c5532.js
  _next/static/gQFDrL3RrzCpD4rTsDvcb/_buildManifest.js
  _next/static/gQFDrL3RrzCpD4rTsDvcb/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

fix: don't ship generated code with the library (#819)
  docs/pages/build.md
  docs/pages/faq.md
  packages/create-react-native-library/src/exampleApp/addCodegenBuildScript.ts
  packages/create-react-native-library/src/exampleApp/dependencies.ts
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/common-local/$package.json
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/native-library-new/react-native.config.js
  packages/create-react-native-library/templates/native-view-new/react-native.config.js
  packages/create-react-native-library/templates/objc-library/ios/{%- project.name %}.h
  packages/create-react-native-library/templates/objc-view-new/ios/{%- project.name %}View.mm
Due: lint, types, markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@d369d18ed67edcc66cb8da67266e769be3ad271d 🚀
  404.html
  _next/static/CGBtuvhB73bPmsNsKL8yo/_buildManifest.js
  _next/static/CGBtuvhB73bPmsNsKL8yo/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-3bef00653332399e.js
  _next/static/chunks/pages/build-c211fe15dca9cfd2.js
  _next/static/chunks/pages/faq-54d3432f898d8cea.js
  _next/static/chunks/pages/faq-795a8beb692e5683.js
  _next/static/gQFDrL3RrzCpD4rTsDvcb/_buildManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

fix: fix schema for configFile option
  packages/react-native-builder-bob/src/schema.ts
Due: lint, types

chore: publish
  docs/CHANGELOG.md
  docs/package.json
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@92fad2c26ca1bb44088285163068d1dc220224cc 🚀
  404.html
  _next/static/Jcu7a5NdyJOcTMjF1BW6l/_buildManifest.js
  _next/static/Jcu7a5NdyJOcTMjF1BW6l/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

fix: fix incorrect local library prompt. closes #830
  packages/create-react-native-library/src/utils/local.ts
Due: lint, types

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
Due: markdown

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  markdown: any of: *.md
