Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

markdown:
  run: npx prettier --write {staged_files}
  stage_fixed: true

fix: fix compatibility with node 22
  packages/create-react-native-library/package.json
  yarn.lock
Due: none

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
Due: markdown

docs: update screen recording for crnl
  docs/assets/create-react-native-library.svg
Due: none

fix: fix configuring turborepo
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/utils/configureTools.ts
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/native-common-example/turbo.json
Due: lint, types

fix: fix broken nitro view template
  .github/workflows/build-templates.yml
  packages/create-react-native-library/templates/nitro-view/android/src/main/java/com/margelo/nitro/{%- project.package_dir %}/{%- project.name %}Package.kt
Due: none

feat: bump react native to 0.83
  .github/workflows/build-templates.yml
  packages/create-react-native-library/src/constants.ts
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/tools/turborepo/turbo.json
Due: lint, types

docs: update screen recording for bob
  docs/assets/react-native-builder-bob.svg
Due: none

feat: bump react native to 0.83 (#916)
  .github/workflows/build-templates.yml
  packages/create-react-native-library/src/constants.ts
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/tools/turborepo/turbo.json
Due: lint, types

chore: publish
  docs/CHANGELOG.md
  docs/package.json
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
Due: markdown

docs: use "modern" terminology for yarn instead of actual version
  docs/pages/faq.md
Due: markdown

refactor: simplify fabric template
  packages/create-react-native-library/templates/kotlin-view-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}ViewManager.kt
  packages/create-react-native-library/templates/native-view-new/src/{%- project.name %}ViewNativeComponent.ts
  packages/create-react-native-library/templates/nitro-view/android/src/main/java/com/margelo/nitro/{%- project.package_dir %}/{%- project.name %}.kt
  packages/create-react-native-library/templates/objc-view-new/ios/{%- project.name %}View.mm
Due: lint, types

refactor: simplify fabric template (#921)
  packages/create-react-native-library/templates/kotlin-view-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}ViewManager.kt
  packages/create-react-native-library/templates/native-view-new/src/{%- project.name %}ViewNativeComponent.ts
  packages/create-react-native-library/templates/nitro-view/android/src/main/java/com/margelo/nitro/{%- project.package_dir %}/{%- project.name %}.kt
  packages/create-react-native-library/templates/objc-view-new/ios/{%- project.name %}View.mm
Due: lint, types

ci: update xcode version
  .github/workflows/build-templates.yml
Due: none

ci: update xcode version (#922)
  .github/workflows/build-templates.yml
Due: none

refactor: cleanup module templates
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/example-common/example/metro.config.js
  packages/create-react-native-library/templates/expo-library/example/metro.config.js
  packages/create-react-native-library/templates/kotlin-library-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.kt
  packages/create-react-native-library/templates/kotlin-view-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/native-common/android/build.gradle
  packages/create-react-native-library/templates/nitro-common/android/CMakeLists.txt
  packages/create-react-native-library/templates/nitro-common/android/src/main/cpp/cpp-adapter.cpp
  packages/create-react-native-library/templates/nitro-common/nitro.json
  packages/create-react-native-library/templates/nitro-module/nitro.json
  packages/create-react-native-library/templates/nitro-view/android/CMakeLists.txt
  packages/create-react-native-library/templates/nitro-view/android/src/main/cpp/cpp-adapter.cpp
  packages/create-react-native-library/templates/objc-view-new/ios/{%- project.name %}View.mm
Due: lint, types

refactor: cleanup module templates
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/example-common/example/metro.config.js
  packages/create-react-native-library/templates/expo-library/example/metro.config.js
  packages/create-react-native-library/templates/kotlin-library-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.kt
  packages/create-react-native-library/templates/kotlin-view-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/native-common/android/build.gradle
  packages/create-react-native-library/templates/native-common/android/gradle.properties
  packages/create-react-native-library/templates/nitro-common/android/CMakeLists.txt
  packages/create-react-native-library/templates/nitro-common/android/src/main/cpp/cpp-adapter.cpp
  packages/create-react-native-library/templates/nitro-common/nitro.json
  packages/create-react-native-library/templates/nitro-module/nitro.json
  packages/create-react-native-library/templates/nitro-view/android/CMakeLists.txt
  packages/create-react-native-library/templates/nitro-view/android/src/main/cpp/cpp-adapter.cpp
Due: lint, types

refactor: cleanup templates (#923)
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/example-common/example/metro.config.js
  packages/create-react-native-library/templates/expo-library/example/metro.config.js
  packages/create-react-native-library/templates/kotlin-library-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.kt
  packages/create-react-native-library/templates/kotlin-view-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/native-common/android/build.gradle
  packages/create-react-native-library/templates/native-common/android/gradle.properties
  packages/create-react-native-library/templates/nitro-common/android/CMakeLists.txt
  packages/create-react-native-library/templates/nitro-common/android/src/main/cpp/cpp-adapter.cpp
  packages/create-react-native-library/templates/nitro-common/nitro.json
  packages/create-react-native-library/templates/nitro-module/nitro.json
  packages/create-react-native-library/templates/nitro-view/android/CMakeLists.txt
  packages/create-react-native-library/templates/nitro-view/android/src/main/cpp/cpp-adapter.cpp
Due: lint, types

feat: re-enable microsoft test app
  packages/create-react-native-library/src/prompt.ts
Due: lint, types

feat: re-enable microsoft test app
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/prompt.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/example-expo/example/babel.config.js
  packages/create-react-native-library/templates/example-expo/example/index.js
  packages/create-react-native-library/templates/example-expo/example/tsconfig.json
  packages/create-react-native-library/templates/native-common-example/example/react-native.config.js
Due: lint, types

feat: add support for expo example in native libraries (#725)
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/prompt.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/example-expo/example/babel.config.js
  packages/create-react-native-library/templates/example-expo/example/index.js
  packages/create-react-native-library/templates/example-expo/example/tsconfig.json
  packages/create-react-native-library/templates/native-common-example/example/react-native.config.js
Due: lint, types

chore: upgrade lerna-lite
  package.json
  yarn.lock
Due: none

refactor: simplify package for turbo module
  packages/create-react-native-library/templates/kotlin-library-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/kotlin-view-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
Due: none

fix: fix missing turborepo setup for expo example
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/utils/configureTools.ts
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
Due: lint, types

chore: update react-native-monorepo-config
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/react-native-builder-bob/package.json
  yarn.lock
Due: lint, types

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

fix: don't generate test workflow if jest isn't picked
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
Due: none

fix: upgrade prettier to ^3.0.0 to resolve ESLint plugin compatibility
  packages/create-react-native-library/src/utils/configureTools.ts
Due: lint, types

chore: add a script to update dependencies
  .github/workflows/upgrade-template-deps.yml
  eslint.config.mjs
  packages/create-react-native-library/package.json
  packages/create-react-native-library/src/constants.ts
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/src/utils/configureTools.ts
  packages/create-react-native-library/templates/tools/eslint/~package.json
  packages/create-react-native-library/templates/tools/jest/~package.json
  packages/create-react-native-library/templates/tools/lefthook/~package.json
  packages/create-react-native-library/templates/tools/release-it/~package.json
  packages/create-react-native-library/templates/tools/turborepo/~package.json
  scripts/upgrade-template-deps.mts
  yarn.lock
Due: lint, types

chore: add a script to update dependencies (#927)
  .github/workflows/upgrade-template-deps.yml
  eslint.config.mjs
  packages/create-react-native-library/package.json
  packages/create-react-native-library/src/constants.ts
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/src/utils/configureTools.ts
  packages/create-react-native-library/templates/tools/eslint/~package.json
  packages/create-react-native-library/templates/tools/jest/~package.json
  packages/create-react-native-library/templates/tools/lefthook/~package.json
  packages/create-react-native-library/templates/tools/release-it/~package.json
  packages/create-react-native-library/templates/tools/turborepo/~package.json
  scripts/upgrade-template-deps.mts
  yarn.lock
Due: lint, types

chore: don't update peer deps with upgrade script
  scripts/upgrade-template-deps.mts
Due: none

chore: manually trigger github workflows on automated pr
  .github/workflows/check-project.yml
  .github/workflows/upgrade-template-deps.yml
Due: none

chore: manually trigger github workflows on automated pr
  .github/workflows/check-project.yml
  .github/workflows/upgrade-template-deps.yml
  packages/create-react-native-library/src/constants.ts
Due: lint, types

chore: manually trigger github workflows on automated pr
  packages/create-react-native-library/templates/nitro-module/src/{%- project.name %}.nitro.ts
Due: lint, types

chore: upgrade template dependencies
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/nitro-module/src/{%- project.name %}.nitro.ts
  packages/create-react-native-library/templates/tools/eslint/~package.json
  packages/create-react-native-library/templates/tools/jest/~package.json
  packages/create-react-native-library/templates/tools/lefthook/~package.json
  packages/create-react-native-library/templates/tools/release-it/~package.json
  packages/create-react-native-library/templates/tools/turborepo/~package.json
Due: lint, types

chore: upgrade template dependencies (#930)
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/nitro-module/src/{%- project.name %}.nitro.ts
  packages/create-react-native-library/templates/tools/eslint/~package.json
  packages/create-react-native-library/templates/tools/jest/~package.json
  packages/create-react-native-library/templates/tools/lefthook/~package.json
  packages/create-react-native-library/templates/tools/release-it/~package.json
  packages/create-react-native-library/templates/tools/turborepo/~package.json
Due: lint, types

ci: use github app token for creating automated pr
  .github/workflows/check-project.yml
  .github/workflows/upgrade-template-deps.yml
Due: none

ci: use bot credentials for the commit
  .github/workflows/upgrade-template-deps.yml
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  markdown: any of: *.md
