Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

markdown:
  run: npx prettier --write {staged_files}
  stage_fixed: true

feat: print nitro docs prompt
  packages/create-react-native-library/src/inform.ts
Due: lint, types

feat: add swift code
  packages/create-react-native-library/templates/nitro-module/ios/{%- project.name %}.swift
Due: none

fix: nitro json expects an array
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/nitro-module/$nitro.json
Due: lint, types

fix: type problems
  packages/create-react-native-library/templates/nitro-module/src/$index.ts
  packages/create-react-native-library/templates/nitro-module/src/{%- project.name %}.nitro.ts
Due: lint, types

feat: add dependencies for nitro
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/src/utils/promiseWithFallback.ts
  packages/create-react-native-library/templates/common/$package.json
Due: lint, types

fix: pass args to cmake
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

fix: remove unnecessary package json
  packages/create-react-native-library/templates/common/package.json
Due: none

fix: use project name for pod name
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
  packages/create-react-native-library/templates/native-common/{- project.name }.podspec
Due: none

chore: add nitro to CI
  .github/workflows/build-templates.yml
Due: none

docs: add installation steps
  packages/create-react-native-library/templates/common/README.md
Due: markdown

fix: use project package cpp for autolinking
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

fix: correct the nitro paths
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/nitro-module/src/$index.tsx
Due: lint, types

fix: make index a tsx file
  packages/create-react-native-library/templates/nitro-module/src/$index.tsx
Due: lint, types

fix: remove newline on swift file
  packages/create-react-native-library/templates/nitro-module/ios/{%- project.name %}.swift
Due: none

Update packages/create-react-native-library/templates/common/CONTRIBUTING.md
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
Due: markdown

fix: redundant podspec file
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
  packages/create-react-native-library/templates/native-common/{- project.name }.podspec
Due: none

fix: better spacing
  packages/create-react-native-library/src/inform.ts
Due: lint, types

fix: move the autolinked package file to correct package
  packages/create-react-native-library/templates/nitro-module/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
Due: none

chore: formatting
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/template.ts
Due: lint, types

Update packages/create-react-native-library/src/inform.ts
  packages/create-react-native-library/src/inform.ts
Due: lint, types

fix: fix codegen script failing due to missing platforms
  packages/create-react-native-library/templates/native-common-example/example/react-native.config.js
Due: lint, types

fix: fix syntax error when running the app
  packages/react-native-builder-bob/babel-config.js
  packages/react-native-builder-bob/babel-preset.js
Due: lint, types

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

fix: don't crash if resolving version fails
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/utils/promiseWithFallback.ts
  packages/create-react-native-library/src/utils/resolveNpmPackageVersion.ts
Due: lint, types

fix: validate arguments correctly
  .github/workflows/build-templates.yml
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/src/utils/assert.ts
  packages/create-react-native-library/src/utils/prompt.ts
  packages/create-react-native-library/src/utils/prompts.ts
Due: lint, types

fix: validate arguments correctly (#724)
  .github/workflows/build-templates.yml
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/src/utils/assert.ts
  packages/create-react-native-library/src/utils/prompt.ts
  packages/create-react-native-library/src/utils/prompts.ts
Due: lint, types

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
Due: markdown

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/create-react-native-library/templates/native-common-example/example/ios/File.swift
  packages/create-react-native-library/templates/native-common-example/example/ios/{%- project.name %}Example-Bridging-Header.h
Due: markdown

fix: improve example app descriptions
  packages/create-react-native-library/src/input.ts
Due: lint, types

fix: don't create example app for local library
  packages/create-react-native-library/src/inform.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/utils/prompt.ts
Due: lint, types

fix: don't crash if codegenConfig is not defined in package.json (#716)
  packages/react-native-builder-bob/src/utils/patchCodegenAndroidPackage.ts
Due: lint, types

fix: remove deprecated hasConstants parameter
  packages/create-react-native-library/templates/kotlin-library-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
Due: none

fix: remove deprecated hasConstants parameter (#729)
  packages/create-react-native-library/templates/kotlin-library-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
Due: none

chore: always cache actions regardless of failure
  .github/actions/setup/action.yml
  .github/workflows/build-templates.yml
  packages/create-react-native-library/templates/common/$.github/actions/setup/action.yml
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
Due: none

chore: always cache actions regardless of failure (#730)
  .github/actions/setup/action.yml
  .github/workflows/build-templates.yml
  packages/create-react-native-library/templates/common/$.github/actions/setup/action.yml
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
Due: none

chore: change macos-14 to macos-latest
  .github/workflows/build-templates.yml
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
Due: none

chore: change macos-14 to macos-latest (#731)
  .github/workflows/build-templates.yml
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
Due: none

feat: add issue templates
  packages/create-react-native-library/templates/common/$.github/ISSUE_TEMPLATE/bug_report.yml
  packages/create-react-native-library/templates/common/$.github/ISSUE_TEMPLATE/config.yml
Due: none

fix: codegen generated headers are public on ios
  packages/create-react-native-library/templates/native-common/{%- project.identifier %}.podspec
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  markdown: any of: *.md
