Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files}
      stage_fixed: true
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

chore: upgrade pigment
  packages/create-react-native-library/package.json
  yarn.lock
Due: none

feat: add web support to all examples with vite
  docs/pages/create.md
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/inform.ts
  packages/create-react-native-library/src/prompt.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/src/utils/configureTools.ts
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
  packages/create-react-native-library/templates/common/README.md
  packages/create-react-native-library/templates/example-bare/example/babel.config.js
  packages/create-react-native-library/templates/example-bare/example/index.js
  packages/create-react-native-library/templates/example-native-common/example/react-native.config.js
  packages/create-react-native-library/templates/js-library/src/index.tsx
  packages/create-react-native-library/templates/js-library/src/multiply.tsx
  packages/create-react-native-library/templates/js-view/src/index.tsx
  packages/create-react-native-library/templates/js-view/src/{%- project.name %}View.tsx
  packages/create-react-native-library/templates/native-library-new/src/index.tsx
  packages/create-react-native-library/templates/native-library-new/src/multiply.native.tsx
  packages/create-react-native-library/templates/native-library-new/src/multiply.tsx
  packages/create-react-native-library/templates/native-view-new/src/{%- project.name %}View.native.tsx
  packages/create-react-native-library/templates/native-view-new/src/{%- project.name %}View.tsx
  packages/create-react-native-library/templates/nitro-common/nitro.json
  packages/create-react-native-library/templates/nitro-module/src/index.tsx
  packages/create-react-native-library/templates/nitro-module/src/multiply.native.tsx
  packages/create-react-native-library/templates/nitro-module/src/multiply.tsx
  packages/create-react-native-library/templates/nitro-view/src/index.tsx
  packages/create-react-native-library/templates/nitro-view/src/{%- project.name %}View.native.tsx
  packages/create-react-native-library/templates/nitro-view/src/{%- project.name %}View.tsx
  packages/create-react-native-library/templates/tools/vite/example/index.html
  packages/create-react-native-library/templates/tools/vite/example/index.js
  packages/create-react-native-library/templates/tools/vite/example/vite.config.mjs
  packages/create-react-native-library/templates/tools/vite/example/~package.json
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/vite-config.mjs
  scripts/upgrade-template-deps.mts
Due: lint, types, markdown

fix: update nitro config
  packages/create-react-native-library/templates/nitro-common/nitro.json
Due: none

feat: add web support to all examples with vite (#933)
  docs/pages/create.md
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/inform.ts
  packages/create-react-native-library/src/prompt.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/src/utils/configureTools.ts
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
  packages/create-react-native-library/templates/common/README.md
  packages/create-react-native-library/templates/example-bare/example/babel.config.js
  packages/create-react-native-library/templates/example-bare/example/index.js
  packages/create-react-native-library/templates/example-native-common/example/react-native.config.js
  packages/create-react-native-library/templates/js-library/src/index.tsx
  packages/create-react-native-library/templates/js-library/src/multiply.tsx
  packages/create-react-native-library/templates/js-view/src/index.tsx
  packages/create-react-native-library/templates/js-view/src/{%- project.name %}View.tsx
  packages/create-react-native-library/templates/native-library-new/src/index.tsx
  packages/create-react-native-library/templates/native-library-new/src/multiply.native.tsx
  packages/create-react-native-library/templates/native-library-new/src/multiply.tsx
  packages/create-react-native-library/templates/native-view-new/src/{%- project.name %}View.native.tsx
  packages/create-react-native-library/templates/native-view-new/src/{%- project.name %}View.tsx
  packages/create-react-native-library/templates/nitro-module/src/index.tsx
  packages/create-react-native-library/templates/nitro-module/src/multiply.native.tsx
  packages/create-react-native-library/templates/nitro-module/src/multiply.tsx
  packages/create-react-native-library/templates/nitro-view/src/index.tsx
  packages/create-react-native-library/templates/nitro-view/src/{%- project.name %}View.native.tsx
  packages/create-react-native-library/templates/nitro-view/src/{%- project.name %}View.tsx
  packages/create-react-native-library/templates/tools/vite/example/index.html
  packages/create-react-native-library/templates/tools/vite/example/index.js
  packages/create-react-native-library/templates/tools/vite/example/vite.config.mjs
  packages/create-react-native-library/templates/tools/vite/example/~package.json
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/vite-config.mjs
  scripts/upgrade-template-deps.mts
Due: lint, types, markdown

ci: build web on ci
  .github/workflows/build-templates.yml
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
  packages/create-react-native-library/templates/js-view/src/{%- project.name %}View.tsx
  packages/create-react-native-library/templates/tools/vite/example/vite.config.mjs
  packages/create-react-native-library/templates/tools/vite/~package.json
  packages/react-native-builder-bob/configs/babel-config.js
  packages/react-native-builder-bob/configs/babel-preset.js
  packages/react-native-builder-bob/configs/metro-config.js
  packages/react-native-builder-bob/configs/vite-config.mjs
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/utils/compile.ts
Due: lint, types

refactor: use package.json#exports for configs (#934)
  .github/workflows/build-templates.yml
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
  packages/create-react-native-library/templates/js-view/src/{%- project.name %}View.tsx
  packages/create-react-native-library/templates/tools/vite/example/vite.config.mjs
  packages/create-react-native-library/templates/tools/vite/~package.json
  packages/react-native-builder-bob/configs/babel-config.js
  packages/react-native-builder-bob/configs/babel-preset.js
  packages/react-native-builder-bob/configs/metro-config.js
  packages/react-native-builder-bob/configs/vite-config.mjs
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/utils/compile.ts
Due: lint, types

chore: bump fallback bob version
  packages/create-react-native-library/src/constants.ts
Due: lint, types

chore: publish
  docs/CHANGELOG.md
  docs/package.json
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

fix: dedupe peer dependencies for vite
  packages/create-react-native-library/templates/tools/vite/example/vite.config.mjs
Due: none

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
Due: markdown

fix: use package name instead of hardcoded value
  packages/create-react-native-library/templates/tools/vite/example/vite.config.mjs
Due: none

chore: nitro-modules-upgrade
  packages/create-react-native-library/src/constants.ts
  packages/create-react-native-library/templates/nitro-common/android/src/main/cpp/cpp-adapter.cpp
Due: lint, types

feat: update nitro-modules template to new format (#935)
  packages/create-react-native-library/src/constants.ts
  packages/create-react-native-library/templates/nitro-common/android/src/main/cpp/cpp-adapter.cpp
Due: lint, types

chore: update pigment
  packages/create-react-native-library/package.json
  yarn.lock
Due: none

fix: fix delay before the CLI exits
  packages/create-react-native-library/src/index.ts
Due: lint, types

docs: add docs for swift
  docs/pages/create.md
  docs/pages/swift-new-architecture.md
  docs/rspress.config.ts
Due: lint, types, markdown

docs: add docs for using swift with turbo modules and fabric (#937)
  docs/pages/create.md
  docs/pages/swift-new-architecture.md
  docs/rspress.config.ts
Due: lint, types, markdown

feat: add experimental c++ turbo module
  .github/workflows/build-templates.yml
  docs/pages/create.md
  packages/create-react-native-library/src/exampleApp/dependencies.ts
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/prompt.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
  packages/create-react-native-library/templates/cpp-library/android/CMakeLists.txt
  packages/create-react-native-library/templates/cpp-library/cpp/{%- project.name %}Impl.cpp
  packages/create-react-native-library/templates/cpp-library/cpp/{%- project.name %}Impl.h
  packages/create-react-native-library/templates/cpp-library/ios/OnLoad.mm
  packages/create-react-native-library/templates/cpp-library/react-native.config.js
  packages/create-react-native-library/templates/cpp-library/{%- project.name %}.podspec
Due: lint, types, markdown

feat: add experimental c++ turbo module (#938)
  .github/workflows/build-templates.yml
  docs/pages/create.md
  packages/create-react-native-library/src/exampleApp/dependencies.ts
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/prompt.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
  packages/create-react-native-library/templates/cpp-library/android/CMakeLists.txt
  packages/create-react-native-library/templates/cpp-library/cpp/{%- project.name %}Impl.cpp
  packages/create-react-native-library/templates/cpp-library/cpp/{%- project.name %}Impl.h
  packages/create-react-native-library/templates/cpp-library/ios/OnLoad.mm
  packages/create-react-native-library/templates/cpp-library/react-native.config.js
  packages/create-react-native-library/templates/cpp-library/{%- project.name %}.podspec
Due: lint, types, markdown

chore: publish
  docs/CHANGELOG.md
  docs/package.json
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
Due: markdown

feat: support newest ck rspress theme and rspress 2.0.8
  docs/components/Hero.module.css
  docs/components/Hero.tsx
  docs/package.json
  docs/pages/index.mdx
  docs/rspress.config.ts
  yarn.lock
Due: lint, types

chore: fix padding around codeblock on homepage
  docs/components/Hero.module.css
Due: none

feat: bump react-native to 0.85
  .nvmrc
  packages/create-react-native-library/src/constants.ts
  packages/create-react-native-library/templates/common/$.nvmrc
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/tools/eslint/~package.json
  packages/create-react-native-library/templates/tools/jest/~package.json
Due: lint, types

feat: bump react-native to 0.85 (#940)
  .nvmrc
  packages/create-react-native-library/src/constants.ts
  packages/create-react-native-library/templates/common/$.nvmrc
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/tools/eslint/~package.json
  packages/create-react-native-library/templates/tools/jest/~package.json
Due: lint, types

feat: support react-native-version for expo and update to sdk 55
  packages/create-react-native-library/src/constants.ts
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/inform.ts
  packages/create-react-native-library/src/prompt.ts
Due: lint, types

feat: add support for no example app
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/inform.ts
  packages/create-react-native-library/src/prompt.ts
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
Due: lint, types, markdown

wip
  .gitignore
  package.json
  server/Dockerfile
  server/README.md
  server/package.json
  server/src/index.ts
  server/src/runner.ts
  server/src/shared.ts
  server/wrangler.jsonc
  tsconfig.json
  yarn.lock
Due: lint, types, markdown

chore: upgrade to TypeScript 6
  docs/rspress.config.ts
  package.json
  packages/create-react-native-library/package.json
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/tsconfig.json
  packages/create-react-native-library/tsconfig.json
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/tsconfig.json
  tsconfig.json
  yarn.lock
Due: lint, types

chore: upgrade to TypeScript 6 (#942)
  docs/rspress.config.ts
  package.json
  packages/create-react-native-library/package.json
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/tsconfig.json
  packages/create-react-native-library/tsconfig.json
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/tsconfig.json
  tsconfig.json
  yarn.lock
Due: lint, types

chore: bump up explicit deps on CK docs theme
  docs/package.json
  yarn.lock
Due: none

fix: docs icons in development mode
  docs/rspress.config.ts
Due: lint, types
