Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

markdown:
  run: npx prettier --write {staged_files}
  stage_fixed: true

chore: upgrade dependencies
  packages/create-react-native-library/src/constants.ts
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/native-common-example/turbo.json
Due: lint, types

chore: upgrade dependencies (#886)
  packages/create-react-native-library/src/constants.ts
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/native-common-example/turbo.json
Due: lint, types

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
Due: markdown

chore: bump node to latest lts
  .nvmrc
  packages/create-react-native-library/templates/common/$.nvmrc
Due: none

fix(nitro): nitro-codegen is now nitrogen
  packages/create-react-native-library/templates/common/$package.json
Due: none

fix: fix example failing with expo template
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
Due: lint, types

chore: cleanup cache for closed PRs
  .github/workflows/cleanup-cache.yml
Due: none

chore: update TurboModule template
  packages/create-react-native-library/templates/objc-library/ios/{%- project.name %}.mm
Due: none

Update $package.json
  packages/create-react-native-library/templates/common/$package.json
Due: none

Fix typo in CONTRIBUTING.md regarding Xcode
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
Due: markdown

docs: replace XCode with Xcode (#893)
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
Due: markdown

fix: rename nitro-codegen to nitrogen (#891)
  packages/create-react-native-library/templates/common/$package.json
Due: none

fix: update iOS TurboModule template (#889)
  packages/create-react-native-library/templates/objc-library/ios/{%- project.name %}.mm
Due: none

chore: use latest node lts
  .nvmrc
  packages/create-react-native-library/templates/common/$.nvmrc
Due: none

fix: update fallback nitro modules version
  packages/create-react-native-library/src/constants.ts
Due: lint, types

fix: nitrogen script missing during release-it (#895)
  packages/create-react-native-library/templates/common/$package.json
Due: none

remove react-native-safe-area-context from example app
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
Due: lint, types

remove packages from dependencies
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
Due: lint, types

fix: remove react-native-safe-area-context from example app (#897)
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
Due: lint, types

Added table of contents to readme.md
  README.md
Due: markdown

chore: use rspress for docs
  .github/workflows/deploy-docs.yml
  .gitignore
  docs/.gitignore
  docs/assets/favicon.png
  docs/components/Hero.module.css
  docs/components/Hero.tsx
  docs/index.d.ts
  docs/next-env.d.ts
  docs/next.config.js
  docs/package.json
  docs/pages/_meta.json
  docs/pages/build.md
  docs/pages/create.md
  docs/pages/esm.md
  docs/pages/faq.md
  docs/pages/index.md
  docs/pages/index.mdx
  docs/pages/public/construction_worker.png
  docs/rspress.config.ts
  docs/theme.config.jsx
  docs/theme/styles.css
  docs/tsconfig.json
  package.json
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/input.ts
  packages/react-native-builder-bob/babel-config.js
  packages/react-native-builder-bob/src/build.ts
  packages/react-native-builder-bob/src/index.ts
  tsconfig.json
  yarn.lock
Due: lint, types, markdown

chore: fix fix edit url
  docs/rspress.config.ts
Due: lint, types

chore: tweak codeblock
  docs/components/Hero.module.css
Due: none

chore: use commit sha for actions
  .github/workflows/deploy-docs.yml
Due: none

chore: add base url
  docs/components/Hero.tsx
  docs/rspress.config.ts
Due: lint, types

chore: update rspress and callstack theme
  docs/package.json
  yarn.lock
Due: none

chore: fix lint error
  docs/package.json
  yarn.lock
Due: none

chore: update root url
  docs/rspress.config.ts
Due: lint, types

chore: patch @rspress/plugin-llms to fix build error
  .yarn/patches/@rspress-plugin-llms-npm-2.0.0-beta.34-d374542281.patch
  package.json
  yarn.lock
Due: none

chore: upgrade callstack rspress theme
  docs/package.json
  yarn.lock
Due: none

chore: use rspress for docs (#902)
  .github/workflows/deploy-docs.yml
  .gitignore
  .yarn/patches/@rspress-plugin-llms-npm-2.0.0-beta.34-d374542281.patch
  docs/.gitignore
  docs/assets/favicon.png
  docs/components/Hero.module.css
  docs/components/Hero.tsx
  docs/index.d.ts
  docs/next-env.d.ts
  docs/next.config.js
  docs/package.json
  docs/pages/_meta.json
  docs/pages/build.md
  docs/pages/create.md
  docs/pages/esm.md
  docs/pages/faq.md
  docs/pages/index.md
  docs/pages/index.mdx
  docs/pages/public/construction_worker.png
  docs/rspress.config.ts
  docs/theme.config.jsx
  docs/theme/styles.css
  docs/tsconfig.json
  package.json
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/input.ts
  packages/react-native-builder-bob/babel-config.js
  packages/react-native-builder-bob/src/build.ts
  packages/react-native-builder-bob/src/index.ts
  tsconfig.json
  yarn.lock
Due: lint, types, markdown

ci: fix versions for actions
  .github/workflows/build-templates.yml
  .github/workflows/check-project.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/rebase.yml
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  markdown: any of: *.md
