Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files}
      stage_fixed: true
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

Deploying to gh-pages from @ callstack/react-native-builder-bob@622cdd3b409f95c0fc93b7714ae913a86f651213 🚀
  404.html
  _next/static/2EQ_3sQrkf1iI13SPBnnD/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/esm-c55565af79da2a0d.js
  _next/static/chunks/pages/esm-ed410446d5c15ea8.js
  _next/static/pjjcjdpXehpXQ3vYutvdc/_buildManifest.js
  _next/static/pjjcjdpXehpXQ3vYutvdc/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

Deploying to gh-pages from @ callstack/react-native-builder-bob@71f9624fbf86dcdeb5da7ac52d73835fa6051a6f 🚀
  404.html
  _next/static/IsCyY-oyFNq6gBGLDTG8A/_buildManifest.js
  _next/static/IsCyY-oyFNq6gBGLDTG8A/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/esm-0fccc8fb8587c682.js
  _next/static/chunks/pages/esm-c55565af79da2a0d.js
  _next/static/pjjcjdpXehpXQ3vYutvdc/_buildManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

Deploying to gh-pages from @ callstack/react-native-builder-bob@e86321520490816a3461671f65f9a2661f4f3b80 🚀
  404.html
  _next/static/IsCyY-oyFNq6gBGLDTG8A/_buildManifest.js
  _next/static/KyJXa5RsJuvSHfq2lGt0w/_buildManifest.js
  _next/static/KyJXa5RsJuvSHfq2lGt0w/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/esm-0fccc8fb8587c682.js
  _next/static/chunks/pages/esm-e0d61b19b76ee635.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

Deploying to gh-pages from @ callstack/react-native-builder-bob@4c57d60e12ba2ff068074bae006719b3afb35e7f 🚀
  404.html
  _next/static/KyJXa5RsJuvSHfq2lGt0w/_buildManifest.js
  _next/static/TQ821r07-BQxuuyk-yj3v/_buildManifest.js
  _next/static/TQ821r07-BQxuuyk-yj3v/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-48db483659c963d2.js
  _next/static/chunks/pages/build-ed5d4b3c0b50f624.js
  _next/static/chunks/pages/esm-3dce78d974e81b45.js
  _next/static/chunks/pages/esm-e0d61b19b76ee635.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

Deploying to gh-pages from @ callstack/react-native-builder-bob@e00fb92c4e949774c199b557f939088985179728 🚀
  404.html
  _next/static/TQ821r07-BQxuuyk-yj3v/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/esm-3dce78d974e81b45.js
  _next/static/chunks/pages/esm-df4b6b69b5acfd6f.js
  _next/static/qaVklQo4rVJPy0UYqgxeO/_buildManifest.js
  _next/static/qaVklQo4rVJPy0UYqgxeO/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

Deploying to gh-pages from @ callstack/react-native-builder-bob@5207cebd8a20e71fa5ab55b872bb08d78d95a6fd 🚀
  404.html
  _next/static/Oo-uH6v5VGdW1B2w-5GBe/_buildManifest.js
  _next/static/Oo-uH6v5VGdW1B2w-5GBe/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/esm-683ed825f375bf45.js
  _next/static/chunks/pages/esm-df4b6b69b5acfd6f.js
  _next/static/qaVklQo4rVJPy0UYqgxeO/_buildManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

docs: add instructions to support moduleResolution: node
  docs/pages/build.md
  docs/pages/esm.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@42a58720c7272fa79eff1af9a0779f56172bfd4a 🚀
  404.html
  _next/static/Oo-uH6v5VGdW1B2w-5GBe/_buildManifest.js
  _next/static/UGd3-zTqkfcSDwO9U6zZQ/_buildManifest.js
  _next/static/UGd3-zTqkfcSDwO9U6zZQ/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/esm-683ed825f375bf45.js
  _next/static/chunks/pages/esm-90a95e1611868ae2.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

fix: update template .nvmrc to require Node 20.19.0
  packages/create-react-native-library/templates/common/$.nvmrc
Due: none

fix: update engines field to compatible node versions
  package.json
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/package.json
Due: none

chore: publish
  docs/CHANGELOG.md
  docs/package.json
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@222ea600f8f71004698bd04dc590a33b3080bcd3 🚀
  404.html
  _next/static/YkjT93jk6JvsGan_1FSmO/_buildManifest.js
  _next/static/YkjT93jk6JvsGan_1FSmO/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

fix: fix engines field
  package.json
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/package.json
Due: none

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

fix: require node 23.4.0 to avoid ESM warning
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/package.json
Due: none

refactor: migrate from jest to vitest
  eslint.config.mjs
  package.json
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/__tests__/__snapshots__/init.test.ts.snap
  packages/react-native-builder-bob/src/__tests__/babel.test.ts
  packages/react-native-builder-bob/src/__tests__/init.test.ts
  packages/react-native-builder-bob/src/init.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/patchCodegenAndroidPackage.test.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/removeCodegenAppLevelCode.test.ts
  packages/react-native-builder-bob/vitest.config.mjs
  yarn.lock
Due: lint, types

Deploying to gh-pages from @ callstack/react-native-builder-bob@41d5d04ad0ef1bd7f877280a60a6c7cd5ff3d14c 🚀
  404.html
  _next/static/KuSGsvKhz8nslGVlMXxFv/_buildManifest.js
  _next/static/KuSGsvKhz8nslGVlMXxFv/_ssgManifest.js
  _next/static/YkjT93jk6JvsGan_1FSmO/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-48db483659c963d2.js
  _next/static/chunks/pages/build-74884fdd794baa24.js
  _next/static/chunks/pages/esm-90a95e1611868ae2.js
  _next/static/chunks/pages/esm-e907c2b389179d5f.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

Deploying to gh-pages from @ callstack/react-native-builder-bob@0b45375d6014d4355f4ca3d4ad5ac92cecb47ad8 🚀
  404.html
  _next/static/KuSGsvKhz8nslGVlMXxFv/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/esm-d19d6a8609074958.js
  _next/static/chunks/pages/esm-e907c2b389179d5f.js
  _next/static/vsGy72Kvmx7IepSFKUSjm/_buildManifest.js
  _next/static/vsGy72Kvmx7IepSFKUSjm/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

docs: add compatibility list to ESM docs
  docs/pages/build.md
  docs/pages/esm.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@77999773ba10a665fa79db26acd691c63fbced7f 🚀
  404.html
  _next/static/LOZYn1sFKFWhbIYhlyB_5/_buildManifest.js
  _next/static/LOZYn1sFKFWhbIYhlyB_5/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/esm-d19d6a8609074958.js
  _next/static/chunks/pages/esm-d86aa30a4fc2e843.js
  _next/static/vsGy72Kvmx7IepSFKUSjm/_buildManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

docs: tweak wording for compatibility
  docs/pages/esm.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@c2f439283eecd92c55c470237a9cf0c564aea8c7 🚀
  404.html
  _next/static/7GowBLTEZ1d6wBvpbNhJ-/_buildManifest.js
  _next/static/7GowBLTEZ1d6wBvpbNhJ-/_ssgManifest.js
  _next/static/LOZYn1sFKFWhbIYhlyB_5/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/esm-08748e6c66391532.js
  _next/static/chunks/pages/esm-d86aa30a4fc2e843.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

fix: add types field back to support legacy moduleResolution
  docs/pages/build.md
  docs/pages/esm.md
  packages/create-react-native-library/templates/common/$package.json
  packages/react-native-builder-bob/src/__tests__/__snapshots__/init.test.ts.snap
  packages/react-native-builder-bob/src/init.ts
Due: lint, types, markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@28747a28fb0c89b074c3398aff68ea1995922cc6 🚀
  404.html
  _next/static/--CYHM6jYrLePM52uAFYe/_buildManifest.js
  _next/static/--CYHM6jYrLePM52uAFYe/_ssgManifest.js
  _next/static/7GowBLTEZ1d6wBvpbNhJ-/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-0ca70bfd3599044d.js
  _next/static/chunks/pages/build-74884fdd794baa24.js
  _next/static/chunks/pages/esm-08748e6c66391532.js
  _next/static/chunks/pages/esm-28b631750ce305b8.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

fix: improve error handling
  packages/react-native-builder-bob/src/targets/codegen/index.ts
  packages/react-native-builder-bob/src/targets/typescript.ts
  packages/react-native-builder-bob/src/utils/androidAssemble.ts
  packages/react-native-builder-bob/src/utils/compile.ts
  packages/react-native-builder-bob/src/utils/runRNCCli.ts
  packages/react-native-builder-bob/src/utils/spawn.ts
Due: lint, types

fix: restrict react-native version to 0.78.2
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/inform.ts
  packages/create-react-native-library/src/input.ts
Due: lint, types

refactor: run tsc asynchronously
  packages/react-native-builder-bob/src/targets/typescript.ts
  packages/react-native-builder-bob/src/utils/spawn.ts
Due: lint, types

correct flow homepage url
  docs/pages/build.md
Due: markdown

pass source flag to codegen cli when possible
  packages/react-native-builder-bob/src/targets/codegen/index.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/removeCodegenAppLevelCode.ts
Due: lint, types

bump minimum bob version
  packages/create-react-native-library/src/index.ts
Due: lint, types

fix: pass source flag to codegen cli when possible (#815)
  packages/create-react-native-library/src/index.ts
  packages/react-native-builder-bob/src/targets/codegen/index.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/removeCodegenAppLevelCode.ts
Due: lint, types

docs: correct flow homepage url (#814)
  docs/pages/build.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@688e53f1475572f6d69bb6893c101e1e964aac73 🚀
  404.html
  _next/static/--CYHM6jYrLePM52uAFYe/_buildManifest.js
  _next/static/3wq8UmTbWx1ICMP4EyZ0k/_buildManifest.js
  _next/static/3wq8UmTbWx1ICMP4EyZ0k/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-0ca70bfd3599044d.js
  _next/static/chunks/pages/build-c211fe15dca9cfd2.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

refactor: drop old arch and cpp templates
  .github/workflows/build-templates.yml
  docs/pages/create.md
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/common-local/$package.json
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
  packages/create-react-native-library/templates/cpp-library/android/CMakeLists.txt
  packages/create-react-native-library/templates/cpp-library/android/cpp-adapter.cpp
  packages/create-react-native-library/templates/cpp-library/cpp/{%- project.identifier %}.cpp
  packages/create-react-native-library/templates/cpp-library/cpp/{%- project.identifier %}.h
  packages/create-react-native-library/templates/example-module-legacy/example/src/App.tsx
  packages/create-react-native-library/templates/kotlin-library-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.kt
  packages/create-react-native-library/templates/kotlin-library-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/kotlin-view-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/kotlin-view-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}ViewManager.kt
  packages/create-react-native-library/templates/native-common/android/build.gradle
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
  packages/create-react-native-library/templates/native-library-legacy/src/index.tsx
  packages/create-react-native-library/templates/native-view-legacy/src/index.tsx
  packages/create-react-native-library/templates/objc-library/ios/{%- project.name %}.h
  packages/create-react-native-library/templates/objc-library/ios/{%- project.name %}.mm
  packages/create-react-native-library/templates/objc-view-legacy/ios/{%- project.name %}ViewManager.m
  packages/create-react-native-library/templates/swift-library-legacy/ios/{%- project.name %}-Bridging-Header.h
  packages/create-react-native-library/templates/swift-library-legacy/ios/{%- project.name %}.mm
  packages/create-react-native-library/templates/swift-library-legacy/ios/{%- project.name %}.swift
  packages/create-react-native-library/templates/swift-view-legacy/ios/{%- project.name %}-Bridging-Header.h
  packages/create-react-native-library/templates/swift-view-legacy/ios/{%- project.name %}ViewManager.m
  packages/create-react-native-library/templates/swift-view-legacy/ios/{%- project.name %}ViewManager.swift
Due: lint, types, markdown

refactor: drop old arch and cpp templates (#818)
  .github/workflows/build-templates.yml
  docs/pages/create.md
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/common-local/$package.json
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
  packages/create-react-native-library/templates/cpp-library/android/CMakeLists.txt
  packages/create-react-native-library/templates/cpp-library/android/cpp-adapter.cpp
  packages/create-react-native-library/templates/cpp-library/cpp/{%- project.identifier %}.cpp
  packages/create-react-native-library/templates/cpp-library/cpp/{%- project.identifier %}.h
  packages/create-react-native-library/templates/example-module-legacy/example/src/App.tsx
  packages/create-react-native-library/templates/kotlin-library-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.kt
  packages/create-react-native-library/templates/kotlin-library-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/kotlin-view-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/kotlin-view-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}ViewManager.kt
  packages/create-react-native-library/templates/native-common/android/build.gradle
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
  packages/create-react-native-library/templates/native-library-legacy/src/index.tsx
  packages/create-react-native-library/templates/native-view-legacy/src/index.tsx
  packages/create-react-native-library/templates/objc-library/ios/{%- project.name %}.h
  packages/create-react-native-library/templates/objc-library/ios/{%- project.name %}.mm
  packages/create-react-native-library/templates/objc-view-legacy/ios/{%- project.name %}ViewManager.m
  packages/create-react-native-library/templates/swift-library-legacy/ios/{%- project.name %}-Bridging-Header.h
  packages/create-react-native-library/templates/swift-library-legacy/ios/{%- project.name %}.mm
  packages/create-react-native-library/templates/swift-library-legacy/ios/{%- project.name %}.swift
  packages/create-react-native-library/templates/swift-view-legacy/ios/{%- project.name %}-Bridging-Header.h
  packages/create-react-native-library/templates/swift-view-legacy/ios/{%- project.name %}ViewManager.m
  packages/create-react-native-library/templates/swift-view-legacy/ios/{%- project.name %}ViewManager.swift
Due: lint, types, markdown
