Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

markdown:
  run: npx prettier --write {staged_files}
  stage_fixed: true

refactor: createdPackageJson -> libraryPackageJson
  packages/create-react-native-library/src/index.ts
Due: lint, types

refactor: make questions an array
  packages/create-react-native-library/src/index.ts
Due: lint, types

refactor: version -> bobVersion, crnlVersion -> version
  packages/create-react-native-library/src/index.ts
Due: lint, types

fix: linting issues
  packages/create-react-native-library/src/index.ts
Due: lint, types

fix: view-new type is ignored
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat: remove all the java templates
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/java-library-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.java
  packages/create-react-native-library/templates/java-library-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.java
  packages/create-react-native-library/templates/java-library-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.java
  packages/create-react-native-library/templates/java-library-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.java
  packages/create-react-native-library/templates/java-library-mixed/android/src/newarch/{%- project.name %}Spec.java
  packages/create-react-native-library/templates/java-library-mixed/android/src/oldarch/{%- project.name %}Spec.java
  packages/create-react-native-library/templates/java-library-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.java
  packages/create-react-native-library/templates/java-library-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.java
  packages/create-react-native-library/templates/java-view-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.java
  packages/create-react-native-library/templates/java-view-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}ViewManager.java
  packages/create-react-native-library/templates/java-view-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}View.java
  packages/create-react-native-library/templates/java-view-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}ViewManager.java
  packages/create-react-native-library/templates/java-view-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}ViewPackage.java
  packages/create-react-native-library/templates/java-view-mixed/android/src/newarch/{%- project.name %}ViewManagerSpec.java
  packages/create-react-native-library/templates/java-view-mixed/android/src/oldarch/{%- project.name %}ViewManagerSpec.java
  packages/create-react-native-library/templates/java-view-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}View.java
  packages/create-react-native-library/templates/java-view-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}ViewManager.java
  packages/create-react-native-library/templates/java-view-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}ViewPackage.java
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: lint, types

fix: remove java from CI
  .github/workflows/build-templates.yml
Due: none

feat: remove module and view mixed templates
  .github/workflows/build-templates.yml
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
  packages/create-react-native-library/templates/kotlin-library-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.kt
  packages/create-react-native-library/templates/kotlin-library-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/kotlin-library-mixed/android/src/newarch/{%- project.name %}Spec.kt
  packages/create-react-native-library/templates/kotlin-library-mixed/android/src/oldarch/{%- project.name %}Spec.kt
  packages/create-react-native-library/templates/kotlin-view-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/kotlin-view-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}View.kt
  packages/create-react-native-library/templates/kotlin-view-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}ViewManager.kt
  packages/create-react-native-library/templates/kotlin-view-mixed/android/src/newarch/{%- project.name %}ViewManagerSpec.kt
  packages/create-react-native-library/templates/kotlin-view-mixed/android/src/oldarch/{%- project.name %}ViewManagerSpec.kt
  packages/create-react-native-library/templates/native-library-mixed/src/Native{%- project.name %}.ts
  packages/create-react-native-library/templates/native-library-mixed/src/index.tsx
  packages/create-react-native-library/templates/native-view-mixed/src/index.tsx
  packages/create-react-native-library/templates/native-view-mixed/src/{%- project.name %}ViewNativeComponent.ts
  packages/create-react-native-library/templates/objc-view-mixed/ios/Utils.h
  packages/create-react-native-library/templates/objc-view-mixed/ios/Utils.m
  packages/create-react-native-library/templates/objc-view-mixed/ios/{%- project.name %}View.h
  packages/create-react-native-library/templates/objc-view-mixed/ios/{%- project.name %}View.mm
  packages/create-react-native-library/templates/objc-view-mixed/ios/{%- project.name %}ViewManager.mm
Due: lint, types, markdown

fix: remove view and module new templates
  .github/workflows/build-templates.yml
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/kotlin-view-library-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.kt
  packages/create-react-native-library/templates/kotlin-view-library-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/kotlin-view-library-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}View.kt
  packages/create-react-native-library/templates/kotlin-view-library-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}ViewManager.kt
  packages/create-react-native-library/templates/kotlin-view-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/native-view-library-new/src/Native{%- project.name %}.ts
  packages/create-react-native-library/templates/native-view-library-new/src/index.tsx
  packages/create-react-native-library/templates/native-view-library-new/src/{%- project.name %}NativeComponent.ts
  packages/create-react-native-library/templates/native-view-new/src/index.tsx
  packages/create-react-native-library/templates/objc-view-library-new/ios/{%- project.name %}.h
  packages/create-react-native-library/templates/objc-view-library-new/ios/{%- project.name %}.mm
  packages/create-react-native-library/templates/objc-view-library-new/ios/{%- project.name %}View.h
  packages/create-react-native-library/templates/objc-view-library-new/ios/{%- project.name %}View.mm
  packages/create-react-native-library/templates/objc-view-library-new/ios/{%- project.name %}ViewManager.mm
Due: lint, types

fix: remove view and module legacy templates
  .github/workflows/build-templates.yml
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/kotlin-library-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/kotlin-view-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/kotlin-view-library-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.kt
  packages/create-react-native-library/templates/kotlin-view-library-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/kotlin-view-library-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}ViewManager.kt
  packages/create-react-native-library/templates/native-view-library-legacy/src/index.tsx
  packages/create-react-native-library/templates/native-view-library-legacy/src/{%- project.name %}.ts
  packages/create-react-native-library/templates/native-view-library-legacy/src/{%- project.name %}View.ts
  packages/create-react-native-library/templates/objc-view-library-legacy/ios/{%- project.name %}.h
  packages/create-react-native-library/templates/objc-view-library-legacy/ios/{%- project.name %}.mm
  packages/create-react-native-library/templates/objc-view-library-legacy/ios/{%- project.name %}ViewManager.m
Due: lint, types

fix: fabric option type
  packages/create-react-native-library/src/index.ts
Due: lint, types

fix: readd native view option
  packages/create-react-native-library/src/index.ts
Due: lint, types

fix: bring back backward compatible turbo module
  packages/create-react-native-library/src/index.ts
Due: lint, types

fix: CI types
  .github/workflows/build-templates.yml
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat: readd templates for cpp and swift
  packages/create-react-native-library/templates/native-library-legacy/src/index.tsx
  packages/create-react-native-library/templates/native-library-mixed/src/Native{%- project.name %}.ts
  packages/create-react-native-library/templates/native-library-mixed/src/index.tsx
  packages/create-react-native-library/templates/native-library-new/src/Native{%- project.name %}.ts
  packages/create-react-native-library/templates/native-library-new/src/index.tsx
  packages/create-react-native-library/templates/native-view-legacy/src/index.tsx
Due: lint, types

refactor: rename files
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/kotlin-library-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.kt
  packages/create-react-native-library/templates/kotlin-library-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/kotlin-library-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.kt
  packages/create-react-native-library/templates/kotlin-library-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/kotlin-library-mixed/android/src/newarch/{%- project.name %}Spec.kt
  packages/create-react-native-library/templates/kotlin-library-mixed/android/src/oldarch/{%- project.name %}Spec.kt
  packages/create-react-native-library/templates/kotlin-library-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.kt
  packages/create-react-native-library/templates/kotlin-library-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/kotlin-view-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/kotlin-view-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}ViewManager.kt
Due: lint, types

feat: test swift and kotlin templates' android counterparts
  .github/workflows/build-templates.yml
Due: none

fix: app template tries then on new arch templates
  packages/create-react-native-library/templates/common-example/example/src/App.tsx
Due: lint, types

chore: dont skip any builds on ci
  .github/workflows/build-templates.yml
Due: none

fix: prettier issue on view-module-legacy
  packages/create-react-native-library/templates/native-view-library-legacy/src/index.tsx
Due: lint, types

chore: update build matrix
  .github/workflows/build-templates.yml
Due: none

fix: typo on pipeline
  .github/workflows/build-templates.yml
Due: none

chore: add js type to pipeline
  .github/workflows/build-templates.yml
Due: none

refactor: remove moduleType var
  packages/create-react-native-library/src/index.ts
Due: lint, types

refactor: make ordering better
  packages/create-react-native-library/src/index.ts
Due: lint, types

chore: skip native builds for js libs
  .github/workflows/build-templates.yml
Due: none

fix: js example doesn't use the method
  packages/create-react-native-library/templates/common-example/example/src/App.tsx
Due: lint, types

feat: add use-recommended-template question
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat: add choices to recommended template questino
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat: add outputdir and includesGeneratedCode to package json
  packages/create-react-native-library/templates/common/$package.json
Due: none

feat: add gradle script to invoke codegen
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat: add cmake path to react native config
  packages/create-react-native-library/templates/native-library-mixed/react-native.config.js
  packages/create-react-native-library/templates/native-library-new/react-native.config.js
  packages/create-react-native-library/templates/native-view-mixed/react-native.config.js
  packages/create-react-native-library/templates/native-view-new/react-native.config.js
Due: lint, types

feat: register codegen native files
  packages/create-react-native-library/templates/native-common/android/build.gradle
  packages/create-react-native-library/templates/native-common/{%- project.identifier %}.podspec
Due: none

feat: add codegen script to new arch templates
  packages/create-react-native-library/templates/common/$package.json
Due: none

feat: ignore codegen files
  packages/create-react-native-library/templates/common/$.gitignore
Due: none

feat: add codegen scripts to xcode
  packages/create-react-native-library/src/index.ts
Due: lint, types

refactor: extract the example app codegen patch function
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/utils/patchExampleAppCodegen.ts
Due: lint, types

refactor: rename useRecommendedTemplate to withRecommendedOptions
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat: update README ot have view+module templates
  packages/create-react-native-library/templates/common/README.md
Due: markdown

fix: patch the codegen java package issue
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/native-library-mixed/scripts/patch-codegen-java-package.cjs
  packages/create-react-native-library/templates/native-library-new/scripts/patch-codegen-java-package.cjs
  packages/create-react-native-library/templates/native-view-mixed/scripts/patch-codegen-java-package.cjs
  packages/create-react-native-library/templates/native-view-new/scripts/patch-codegen-java-package.cjs
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  markdown: any of: *.md
