Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files}
      stage_fixed: true
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix: prettier ci error
  packages/create-react-native-library/templates/nitro-view/src/{%- project.name %}.nitro.ts
Due: lint, types

fix: add full nitro-codegen command
  .github/workflows/build-templates.yml
Due: none

fix: change config json import to require
  packages/create-react-native-library/templates/nitro-view/src/index.tsx
Due: lint, types

chore: prettier fix
  packages/create-react-native-library/templates/nitro-view/src/index.tsx
Due: lint, types

fix: add working dir to nitrogen
  .github/workflows/build-templates.yml
Due: none

fix: remove workaround for xcode 16.2
  packages/create-react-native-library/src/constants.ts
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: lint, types, markdown

fix: adjust package in nitro android example
  packages/create-react-native-library/templates/nitro-module/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/nitro-view/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
Due: none

fix: use unified nitro version in template package
  packages/create-react-native-library/templates/common/$package.json
Due: none

fix: Fix `…Package.kt` being in wrong Java `package` for Nitro
  packages/create-react-native-library/templates/nitro-module/android/src/main/java/com/margelo/nitro/{%- project.package_dir %}/{%- project.name %}Package.kt
Due: none

chore: pinc GH Actions
  .github/actions/setup/action.yml
  .github/workflows/build-templates.yml
  .github/workflows/check-project.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/rebase.yml
  packages/create-react-native-library/templates/common/$.github/actions/setup/action.yml
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
Due: none

chore: pin GH Actions (#870)
  .github/actions/setup/action.yml
  .github/workflows/build-templates.yml
  .github/workflows/check-project.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/rebase.yml
  packages/create-react-native-library/templates/common/$.github/actions/setup/action.yml
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
Due: none

fix: Remove folly flags that make Nitro Views crash with SIGABRT on RN 0.80
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
Due: none

feat: add option to create nitro views (#805)
  .github/workflows/build-templates.yml
  packages/create-react-native-library/src/constants.ts
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
  packages/create-react-native-library/templates/common/README.md
  packages/create-react-native-library/templates/native-common/android/build.gradle
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
  packages/create-react-native-library/templates/nitro-view/android/CMakeLists.txt
  packages/create-react-native-library/templates/nitro-view/android/src/main/cpp/cpp-adapter.cpp
  packages/create-react-native-library/templates/nitro-view/android/src/main/java/com/margelo/nitro/{%- project.package_dir %}/{%- project.name %}.kt
  packages/create-react-native-library/templates/nitro-view/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/nitro-view/ios/{%- project.name %}.swift
  packages/create-react-native-library/templates/nitro-view/nitro.json
  packages/create-react-native-library/templates/nitro-view/src/index.tsx
  packages/create-react-native-library/templates/nitro-view/src/{%- project.name %}.nitro.ts
Due: lint, types, markdown

fix: remove folly flags that make Nitro Views crash with SIGABRT on RN 0.80 (#871)
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
Due: none

fix: allow project creation in directories with only .git folder (#866)
  packages/create-react-native-library/src/input.ts
Due: lint, types

fix: ignore error in tsbuildinfo deletion
  packages/react-native-builder-bob/src/targets/typescript.ts
Due: lint, types

fix: use path.sep for better windows compatibility
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/template.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/patchCodegenAndroidPackage.ts
  packages/react-native-builder-bob/src/targets/typescript.ts
Due: lint, types

fix: fix `…Package.kt` being in wrong Java `package` for Nitro (#869)
  packages/create-react-native-library/templates/nitro-module/android/src/main/java/com/margelo/nitro/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/nitro-view/android/src/main/java/com/margelo/nitro/{%- project.package_dir %}/{%- project.name %}Package.kt
Due: none

ci: build js library template on windows
  .github/workflows/build-templates.yml
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/common/$.gitattributes
  packages/create-react-native-library/templates/common/eslint.config.mjs
Due: lint, types

ci: build js library template on windows (#873)
  .github/workflows/build-templates.yml
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/common/$.gitattributes
  packages/create-react-native-library/templates/common/eslint.config.mjs
Due: lint, types

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

docs: mention node version in contributing guide
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
  packages/create-react-native-library/templates/common/README.md
Due: markdown

refactor: remove unnecessary codegen config from build.gradle
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

refactor: remove unnecessary codegen config from build.gradle (#874)
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
Due: markdown

docs: remove excessive dot in CONTRIBUTING.md
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
Due: markdown

fix: fix initializing git repo
  packages/create-react-native-library/src/utils/initialCommit.ts
Due: lint, types

feat: upgrade to latest react native
  packages/create-react-native-library/src/constants.ts
  packages/create-react-native-library/templates/common/tsconfig.json
  packages/create-react-native-library/templates/native-library-new/src/Native{%- project.name %}.ts
  packages/create-react-native-library/templates/native-view-new/src/{%- project.name %}ViewNativeComponent.ts
Due: lint, types

feat: upgrade to latest react native (#882)
  packages/create-react-native-library/src/constants.ts
  packages/create-react-native-library/templates/common/tsconfig.json
  packages/create-react-native-library/templates/native-library-new/src/Native{%- project.name %}.ts
  packages/create-react-native-library/templates/native-view-new/src/{%- project.name %}ViewNativeComponent.ts
Due: lint, types

docs: remove excessive dot in CONTRIBUTING.md (#880)
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
Due: markdown

ci: enable prebuild for react-native
  .github/workflows/build-templates.yml
  packages/create-react-native-library/templates/native-common-example/turbo.json
Due: none

ci: enable prebuild for react-native (#885)
  .github/workflows/build-templates.yml
  packages/create-react-native-library/templates/native-common-example/turbo.json
Due: none

fix: cancel previous ci jobs for android & ios
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
Due: none

feat: enable iOS prebuilds on CI
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
Due: none

fix: fix canceling in-progress workflows
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
Due: none
