Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files}
      stage_fixed: true
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

ci: fix versions for actions
  .github/workflows/build-templates.yml
  .github/workflows/check-project.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/rebase.yml
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
Due: none

chore: fix wrapping on mobile for docs site
  docs/components/Hero.module.css
Due: none

fix: Migrate from `TurboReactPackage` to `BaseReactPackage`
  packages/create-react-native-library/templates/nitro-module/android/src/main/java/com/margelo/nitro/{%- project.package_dir %}/{%- project.name %}Package.kt
Due: none

fix: Migrate from `TurboReactPackage` to `BaseReactPackage` (#903)
  packages/create-react-native-library/templates/nitro-module/android/src/main/java/com/margelo/nitro/{%- project.package_dir %}/{%- project.name %}Package.kt
Due: none

chore: publish
  docs/CHANGELOG.md
  docs/package.json
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

chore: manually syntax highlight to avoid jump from CodeBlockRuntime
  docs/components/Hero.module.css
  docs/components/Hero.tsx
  tsconfig.json
Due: lint, types

chore: update logo
  README.md
  docs/assets/banner.png
  docs/assets/favicon.png
  docs/pages/public/construction_worker.png
  docs/pages/public/logo-dark.svg
  docs/pages/public/logo-light.svg
  docs/rspress.config.ts
  docs/theme/styles.css
Due: lint, types, markdown

refactor: add swift and cpp to source files by default
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
Due: none

refactor: add swift and cpp to source files by default (#904)
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
Due: none

docs: mention create-nitro-module in README
  README.md
Due: markdown

chore(gitignore): remove `nitrogen` folder
  packages/create-react-native-library/templates/common/$.gitignore
Due: none

fix: find tsc in yarn workspace by ensuring no extra ANSI characters are present in 'yarn bin tsc'
  packages/react-native-builder-bob/src/targets/typescript.ts
Due: lint, types

fix: fix locating tsc in workspaces using yarn 1
  packages/react-native-builder-bob/src/targets/typescript.ts
Due: lint, types

fix: validate directory name before skipping the prompt
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/utils/prompt.ts
Due: lint, types

feat: add option to configure tools individually
  .github/workflows/build-templates.yml
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/src/utils/configureTools.ts
  packages/create-react-native-library/src/utils/prompt.ts
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
  packages/create-react-native-library/templates/tools/eslint/eslint.config.mjs
  packages/create-react-native-library/templates/tools/jest/src/__tests__/index.test.tsx
  packages/create-react-native-library/templates/tools/lefthook/lefthook.yml
  packages/create-react-native-library/templates/tools/turborepo/turbo.json
Due: lint, types, markdown

feat: add option to configure tools individually (#907)
  .github/workflows/build-templates.yml
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/src/utils/configureTools.ts
  packages/create-react-native-library/src/utils/prompt.ts
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
  packages/create-react-native-library/templates/tools/eslint/eslint.config.mjs
  packages/create-react-native-library/templates/tools/jest/src/__tests__/index.test.tsx
  packages/create-react-native-library/templates/tools/lefthook/lefthook.yml
  packages/create-react-native-library/templates/tools/turborepo/turbo.json
Due: lint, types, markdown

chore: update yarn to latest version
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.6.1.cjs
  .yarn/releases/yarn-4.11.0.cjs
  .yarnrc.yml
  package.json
  packages/create-react-native-library/templates/common/$.yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  packages/create-react-native-library/templates/common/$.yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  packages/create-react-native-library/templates/common/$.yarn/releases/yarn-3.6.1.cjs
  packages/create-react-native-library/templates/common/$.yarn/releases/yarn-4.11.0.cjs
  packages/create-react-native-library/templates/common/$.yarnrc.yml
  packages/create-react-native-library/templates/common/$package.json
  yarn.lock
Due: none

chore: add pigment
  packages/create-react-native-library/package.json
Due: none

refactor: write prompt using pigment
  .gitignore
  packages/create-react-native-library/package.json
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/inform.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/prompt.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/src/utils/createMetadata.ts
  packages/create-react-native-library/src/utils/prompt.ts
  yarn.lock
Due: lint, types

refactor: write prompt using pigment
  .gitignore
  packages/create-react-native-library/package.json
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/inform.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/prompt.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/src/utils/configureTools.ts
  packages/create-react-native-library/src/utils/createMetadata.ts
  packages/create-react-native-library/src/utils/prompt.ts
  yarn.lock
Due: lint, types

fix: update glob to v10.5.0 to resolve CVE-2025-64756
  package.json
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/utils/compile.ts
  yarn.lock
Due: lint, types

chore: update yarn.lock for glob upgrade
  yarn.lock
Due: none

chore: update yarn.lock with Yarn 4.11.0
  yarn.lock
Due: none

chore: update yarn.lock with correct compression settings
  yarn.lock
Due: none

fix: remove glob from resolutions
  package.json
  yarn.lock
Due: none

fix: update glob to v10.5.0 to resolve CVE-2025-64756 (#910)
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/utils/compile.ts
  yarn.lock
Due: lint, types

chore: update website URL
  README.md
  docs/rspress.config.ts
  packages/create-react-native-library/README.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/README.md
  packages/react-native-builder-bob/package.json
Due: lint, types, markdown

feat: add platform-specific IDE open scripts to generated package.json
  packages/create-react-native-library/templates/common/$package.json
  packages/react-native-builder-bob/bin/bob.cmd
Due: none

removing react dependency from devDependencies since its already being used on peerDependencies (line 89) and its types being declared in devDependencies (line 76)
  packages/create-react-native-library/templates/common/$package.json
Due: none

replacing react-native devDependencies by @types since its being declared in peerDependencies
  packages/create-react-native-library/templates/common/$package.json
Due: none

removing duplicate react-native code peerDependencies
  packages/create-react-native-library/templates/common/$package.json
Due: none

refactor: write prompt using pigment
  .github/workflows/build-templates.yml
  .gitignore
  eslint.config.mjs
  packages/create-react-native-library/package.json
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/inform.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/prompt.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/src/utils/configureTools.ts
  packages/create-react-native-library/src/utils/createMetadata.ts
  packages/create-react-native-library/src/utils/prompt.ts
  packages/react-native-builder-bob/vitest.config.mjs
  yarn.lock
Due: lint, types

refactor: write prompt using pigment (#915)
  .github/workflows/build-templates.yml
  .gitignore
  eslint.config.mjs
  packages/create-react-native-library/package.json
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/inform.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/prompt.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/src/utils/configureTools.ts
  packages/create-react-native-library/src/utils/createMetadata.ts
  packages/create-react-native-library/src/utils/prompt.ts
  packages/react-native-builder-bob/vitest.config.mjs
  yarn.lock
Due: lint, types

fix: fix module blocklist on windows
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/react-native-builder-bob/package.json
Due: lint, types

chore: fix yarn.lock
  yarn.lock
Due: none

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown
