Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

markdown:
  run: npx prettier --write {staged_files}
  stage_fixed: true

feat: ask to use recommended template (#564)
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat: throw if user passes --type or --languages with --with-recommended-options
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat: ask language before type
  packages/create-react-native-library/src/index.ts
Due: lint, types

fix: hide select example question in local library
  packages/create-react-native-library/src/index.ts
Due: lint, types

fix: hide select example question when creating local library (#594)
  packages/create-react-native-library/src/index.ts
Due: lint, types

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
Due: markdown

fix: exclude output folder from typescript
  packages/create-react-native-library/templates/common/tsconfig.build.json
Due: none

feat: support mts, cts, mjs and cts files in source code
  packages/react-native-builder-bob/src/utils/compile.ts
Due: lint, types

fix: add correct script on Android
  packages/create-react-native-library/src/utils/generateExampleApp.ts
Due: lint, types

fix: add correct script on Android (#596)
  packages/create-react-native-library/src/utils/generateExampleApp.ts
Due: lint, types

feat: support mts, cts, mjs and cts files in source code (#595)
  packages/react-native-builder-bob/src/utils/compile.ts
Due: lint, types

chore: publish
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

docs: add guidelines for ESM support
  docs/pages/_meta.json
  docs/pages/build.md
  docs/pages/esm.md
Due: markdown

docs: add guidelines for ESM support (#597)
  docs/pages/_meta.json
  docs/pages/build.md
  docs/pages/esm.md
Due: markdown

docs: remove extra space
  docs/pages/esm.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@a95d0de7f7c5896c215886fd72a76238472313f1 🚀
  404.html
  _next/static/QN1XqYw9p4v7tF-dsjjSL/_buildManifest.js
  _next/static/QN1XqYw9p4v7tF-dsjjSL/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/esm-0bf33632379e9772.js
  _next/static/chunks/pages/esm-af01764984816055.js
  _next/static/jNCdCCyT3ce0D21QT3pPc/_buildManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

fix: always create package.json with type regardless of esm option
  docs/pages/esm.md
  packages/react-native-builder-bob/src/utils/compile.ts
Due: lint, types, markdown

fix: always create package.json with type regardless of esm option (#598)
  docs/pages/esm.md
  packages/react-native-builder-bob/src/utils/compile.ts
Due: lint, types, markdown

feat: enable strict mode by default
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/utils/generateExampleApp.ts
  packages/create-react-native-library/templates/common/babel.config.js
  packages/create-react-native-library/templates/expo-library/example/babel.config.js
  packages/create-react-native-library/templates/native-common-example/example/babel.config.js
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/package.json
  yarn.lock
Due: lint, types

feat: use the bob preset for the library during dev (#599)
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/utils/generateExampleApp.ts
  packages/create-react-native-library/templates/common/babel.config.js
  packages/create-react-native-library/templates/expo-library/example/babel.config.js
  packages/create-react-native-library/templates/native-common-example/example/babel.config.js
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/package.json
  yarn.lock
Due: lint, types

refactor: drop java templates to simplify maintenance
  .github/workflows/build-templates.yml
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/java-library-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.java
  packages/create-react-native-library/templates/java-library-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.java
  packages/create-react-native-library/templates/java-library-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.java
  packages/create-react-native-library/templates/java-library-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.java
  packages/create-react-native-library/templates/java-library-mixed/android/src/newarch/{%- project.name %}Spec.java
  packages/create-react-native-library/templates/java-library-mixed/android/src/oldarch/{%- project.name %}Spec.java
  packages/create-react-native-library/templates/java-library-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.java
  packages/create-react-native-library/templates/java-library-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.java
  packages/create-react-native-library/templates/java-view-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.java
  packages/create-react-native-library/templates/java-view-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}ViewManager.java
  packages/create-react-native-library/templates/java-view-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}View.java
  packages/create-react-native-library/templates/java-view-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}ViewManager.java
  packages/create-react-native-library/templates/java-view-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}ViewPackage.java
  packages/create-react-native-library/templates/java-view-mixed/android/src/newarch/{%- project.name %}ViewManagerSpec.java
  packages/create-react-native-library/templates/java-view-mixed/android/src/oldarch/{%- project.name %}ViewManagerSpec.java
  packages/create-react-native-library/templates/java-view-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}View.java
  packages/create-react-native-library/templates/java-view-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}ViewManager.java
  packages/create-react-native-library/templates/java-view-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}ViewPackage.java
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: lint, types

refactor: drop java templates to simplify maintenance (#601)
  .github/workflows/build-templates.yml
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/java-library-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.java
  packages/create-react-native-library/templates/java-library-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.java
  packages/create-react-native-library/templates/java-library-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.java
  packages/create-react-native-library/templates/java-library-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.java
  packages/create-react-native-library/templates/java-library-mixed/android/src/newarch/{%- project.name %}Spec.java
  packages/create-react-native-library/templates/java-library-mixed/android/src/oldarch/{%- project.name %}Spec.java
  packages/create-react-native-library/templates/java-library-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.java
  packages/create-react-native-library/templates/java-library-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.java
  packages/create-react-native-library/templates/java-view-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.java
  packages/create-react-native-library/templates/java-view-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}ViewManager.java
  packages/create-react-native-library/templates/java-view-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}View.java
  packages/create-react-native-library/templates/java-view-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}ViewManager.java
  packages/create-react-native-library/templates/java-view-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}ViewPackage.java
  packages/create-react-native-library/templates/java-view-mixed/android/src/newarch/{%- project.name %}ViewManagerSpec.java
  packages/create-react-native-library/templates/java-view-mixed/android/src/oldarch/{%- project.name %}ViewManagerSpec.java
  packages/create-react-native-library/templates/java-view-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}View.java
  packages/create-react-native-library/templates/java-view-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}ViewManager.java
  packages/create-react-native-library/templates/java-view-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}ViewPackage.java
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: lint, types

feat: export babel and metro configs to reduce boilerplate
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/utils/generateExampleApp.ts
  packages/create-react-native-library/templates/common-example/example/metro.config.js
  packages/create-react-native-library/templates/expo-library/example/babel.config.js
  packages/create-react-native-library/templates/expo-library/example/metro.config.js
  packages/create-react-native-library/templates/native-common-example/example/babel.config.js
  packages/create-react-native-library/templates/native-common-example/example/react-native.config.js
  packages/react-native-builder-bob/babel-config.js
  packages/react-native-builder-bob/metro-config.js
  packages/react-native-builder-bob/package.json
  yarn.lock
Due: lint, types

feat: export babel and metro configs to reduce boilerplate (#600)
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/utils/generateExampleApp.ts
  packages/create-react-native-library/templates/common-example/example/metro.config.js
  packages/create-react-native-library/templates/expo-library/example/babel.config.js
  packages/create-react-native-library/templates/expo-library/example/metro.config.js
  packages/create-react-native-library/templates/native-common-example/example/babel.config.js
  packages/create-react-native-library/templates/native-common-example/example/react-native.config.js
  packages/react-native-builder-bob/babel-config.js
  packages/react-native-builder-bob/metro-config.js
  packages/react-native-builder-bob/package.json
  yarn.lock
Due: lint, types

refactor: add noEmit to tsconfig.json
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/lefthook.yml
  packages/create-react-native-library/templates/common/tsconfig.json
  packages/react-native-builder-bob/src/targets/typescript.ts
Due: lint, types

fix: sort dependencies in example package.json
  packages/create-react-native-library/src/utils/generateExampleApp.ts
  packages/create-react-native-library/src/utils/sortObjectKeys.ts
Due: lint, types

fix: prefetch bob version in advance to reduce timeouts
  packages/create-react-native-library/src/index.ts
Due: lint, types

chore: publish
  docs/CHANGELOG.md
  docs/package.json
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@be426bb86dd4d3576bd7bf246d77d25a4a6cc698 🚀
  404.html
  _next/static/2o_RRI9L0yXQXwLTWWH5C/_buildManifest.js
  _next/static/2o_RRI9L0yXQXwLTWWH5C/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

fix: read source directory from bob config
  packages/react-native-builder-bob/babel-config.js
Due: lint, types

fix examples in build docs
  docs/pages/build.md
Due: markdown

fix: use new cli package when generating app
  packages/create-react-native-library/src/utils/generateExampleApp.ts
Due: lint, types

fix: update babel preset to include class transforms for hermes
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/package.json
  yarn.lock
Due: lint, types

fix: ensure assets are registered correctly
  packages/react-native-builder-bob/metro-config.js
Due: lint, types

feat: add esm build option for typescript
  docs/pages/build.md
  docs/pages/esm.md
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/common/$package.json
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/targets/typescript.ts
  packages/react-native-builder-bob/src/utils/compile.ts
Due: lint, types, markdown

Update CLI to use `@react-native-community/cli init` instead of `react-native init` (#604)
  packages/create-react-native-library/src/utils/generateExampleApp.ts
Due: lint, types

fix: ensure assets are registered correctly (#608)
  packages/react-native-builder-bob/metro-config.js
Due: lint, types

fix: update babel preset to include class transforms for hermes (#606)
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/package.json
  yarn.lock
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  markdown: any of: *.md
