Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files}
      stage_fixed: true
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix(docs): comply with typecheck
  docs/components/Hero.tsx
Due: lint, types

chore: support newest ck rspress theme and rspress 2.0.8 (#939)
  docs/components/Hero.module.css
  docs/components/Hero.tsx
  docs/package.json
  docs/pages/index.mdx
  docs/rspress.config.ts
  yarn.lock
Due: lint, types

fix: resolve hoisted tsc binaries
  packages/react-native-builder-bob/src/targets/typescript.test.ts
  packages/react-native-builder-bob/src/targets/typescript.ts
Due: lint, types

fix: limit tsc search to workspace root
  packages/react-native-builder-bob/src/__tests__/typescript.test.ts
  packages/react-native-builder-bob/src/targets/typescript.test.ts
  packages/react-native-builder-bob/src/targets/typescript.ts
Due: lint, types

chore: tweak tests
  packages/react-native-builder-bob/src/__tests__/typescript.test.ts
Due: lint, types

fix: resolve hoisted tsc binaries (#944)
  packages/react-native-builder-bob/src/__tests__/typescript.test.ts
  packages/react-native-builder-bob/src/targets/typescript.ts
Due: lint, types

chore: update node version to 24.16.0
  .nvmrc
Due: none

feat: add extensions in .d.ts files for nodenext compat
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/__tests__/resolveModuleSpecifier.test.ts
  packages/react-native-builder-bob/src/__tests__/typescript-declarations.test.ts
  packages/react-native-builder-bob/src/__tests__/updateSourceMap.test.ts
  packages/react-native-builder-bob/src/babel.ts
  packages/react-native-builder-bob/src/targets/typescript.ts
  packages/react-native-builder-bob/src/utils/compile.ts
  packages/react-native-builder-bob/src/utils/resolveModuleSpecifier.ts
  packages/react-native-builder-bob/src/utils/updateSourceMap.ts
  yarn.lock
Due: lint, types

feat: add extensions in .d.ts files for nodenext compat (#945)
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/__tests__/resolveModuleSpecifier.test.ts
  packages/react-native-builder-bob/src/__tests__/typescript-declarations.test.ts
  packages/react-native-builder-bob/src/__tests__/updateSourceMap.test.ts
  packages/react-native-builder-bob/src/babel.ts
  packages/react-native-builder-bob/src/targets/typescript.ts
  packages/react-native-builder-bob/src/utils/compile.ts
  packages/react-native-builder-bob/src/utils/resolveModuleSpecifier.ts
  packages/react-native-builder-bob/src/utils/updateSourceMap.ts
  yarn.lock
Due: lint, types

chore: publish
  docs/CHANGELOG.md
  docs/package.json
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

fix: rework typescript binary resolution to use node resolution
  packages/react-native-builder-bob/src/__tests__/typescript-declarations.test.ts
  packages/react-native-builder-bob/src/__tests__/typescript.test.ts
  packages/react-native-builder-bob/src/targets/typescript.ts
Due: lint, types

chore: publish
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

refactor: simplify and update build.gradle
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

refactor: simplify and update build.gradle (#946)
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

fix: scope name of local library with app name by default
  packages/create-react-native-library/src/prompt.ts
Due: lint, types

ci: add workflow to test building local libraries
  .github/workflows/build-local-libraries.yml
  .github/workflows/build-templates.yml
  packages/create-react-native-library/package.json
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/prompt.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/common-local/$package.json
  yarn.lock
Due: lint, types

ci: skip builds if nothing has changed
  .github/workflows/build-local-libraries.yml
Due: none

ci: update to macos-latest
  .github/workflows/build-local-libraries.yml
  .github/workflows/build-templates.yml
Due: none

ci: add workflow to test building local libraries (#947)
  .github/workflows/build-local-libraries.yml
  .github/workflows/build-templates.yml
  packages/create-react-native-library/package.json
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/prompt.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/common-local/$package.json
  yarn.lock
Due: lint, types

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
Due: markdown

feat: use a unique name for the exports condition for source
  docs/pages/build.md
  docs/pages/esm.md
  docs/pages/faq.md
  packages/create-react-native-library/src/constants.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/tsconfig.json
  packages/create-react-native-library/templates/example-common/example/metro.config.js
  packages/create-react-native-library/templates/tools/jest/~package.json
  packages/create-react-native-library/templates/tools/vite/example/vite.config.mjs
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/__tests__/__snapshots__/init.test.ts.snap
  packages/react-native-builder-bob/src/configs/metro-config.mjs
  packages/react-native-builder-bob/src/configs/vite-config.mjs
  packages/react-native-builder-bob/src/init.ts
  yarn.lock
Due: lint, types, markdown

fix: preserve tsconfig jsx emit in babel builds
  packages/react-native-builder-bob/src/__tests__/babel.test.ts
  packages/react-native-builder-bob/src/configs/babel-preset.cjs
  packages/react-native-builder-bob/src/types.ts
  packages/react-native-builder-bob/src/utils/compile.ts
Due: lint, types

chore: fix upgrade template script
  scripts/upgrade-template-deps.mts
Due: none

chore: upgrade dependencies
  packages/create-react-native-library/src/constants.ts
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/tools/eslint/~package.json
  packages/create-react-native-library/templates/tools/jest/~package.json
  packages/create-react-native-library/templates/tools/lefthook/~package.json
  packages/create-react-native-library/templates/tools/release-it/~package.json
  packages/create-react-native-library/templates/tools/turborepo/~package.json
  packages/create-react-native-library/templates/tools/vite/example/~package.json
  scripts/upgrade-template-deps.mts
Due: lint, types

wip
  docs/pages/build.md
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/__tests__/swc.test.ts
  packages/react-native-builder-bob/src/babel.ts
  packages/react-native-builder-bob/src/configs/babel-preset.cjs
  packages/react-native-builder-bob/src/configs/default-targets.cjs
  packages/react-native-builder-bob/src/schema.ts
  packages/react-native-builder-bob/src/utils/compile.ts
  packages/react-native-builder-bob/src/utils/compileSwc.ts
  packages/react-native-builder-bob/src/utils/isCodegenSpec.ts
  packages/react-native-builder-bob/src/utils/resolveOutputModuleSpecifier.ts
  packages/react-native-builder-bob/src/utils/rewriteModuleSpecifiersInSource.ts
  yarn.lock
Due: lint, types, markdown

fix: gracefully handle expo calling babel config without a filename
  packages/react-native-builder-bob/src/configs/babel-config.cjs
Due: none

Add ndkVersion to build.gradle configuration
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

fix(init): use posix separators for the paths written into package.json
  packages/react-native-builder-bob/src/init.ts
Due: lint, types

fix: remove expo-dev-client from expo example
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
Due: lint, types

fix: handle AGP9's built-in kotlin support
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

fix: only set ndkVersion for nitro and only when project specifies one
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

ci: run unit tests on windows
  .github/workflows/check-project.yml
  packages/react-native-builder-bob/src/init.ts
Due: lint, types

ci: run unit tests on windows
  .github/workflows/check-project.yml
Due: none

fix(init): use posix separators for the paths written into package.json (#953)
  packages/react-native-builder-bob/src/init.ts
Due: lint, types

chore: add .gitattributes for windows
  .gitattributes
Due: none

fix: add ndkVersion to nitro library templates (#951)
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

fix: fix bob init producing incorrect paths on windows (#954)
  .gitattributes
  .github/workflows/check-project.yml
  packages/react-native-builder-bob/src/init.ts
Due: lint, types

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

fix(create-react-native-library): preserve test app gitignore
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
Due: lint, types
