Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files}
      stage_fixed: true
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

chore: improve readability
  .github/workflows/comment-diffs.yml
Due: none

refactor: dont export as default and rename to view
  packages/create-react-native-library/templates/native-view-legacy/src/index.tsx
  packages/create-react-native-library/templates/native-view-legacy/src/{%- project.name %}View.ts
Due: lint, types

feat: extract Native legacy module as well
  packages/create-react-native-library/templates/native-library-legacy/src/Native{%- project.name %}.ts
  packages/create-react-native-library/templates/native-library-legacy/src/index.tsx
Due: lint, types

fix: export -> export const
  packages/create-react-native-library/templates/native-view-legacy/src/{%- project.name %}View.ts
Due: lint, types

fix: adjust lefthook config
  packages/create-react-native-library/templates/common/lefthook.yml
Due: none

docs: add links to the official docs for native modules and views
  README.md
  docs/pages/create.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@9241f934267a7bfdb2e5233be547eef7c451c4d8 🚀
  404.html
  _next/static/Q84JHp9lMvSuLGVBevcfY/_buildManifest.js
  _next/static/U1WNKv__K7ARkuXXuV7pB/_buildManifest.js
  _next/static/U1WNKv__K7ARkuXXuV7pB/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/create-3327154f5dabf16e.js
  _next/static/chunks/pages/create-e3c0335e505fe47e.js
  build.html
  create.html
  faq.html
  index.html
Due: lint, types

ci: update cache key to exclude node_modules
  .github/actions/setup/action.yml
  .github/workflows/build-templates.yml
  .github/workflows/deploy-docs.yml
  packages/create-react-native-library/templates/common/$.github/actions/setup/action.yml
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
Due: none

ci: update cache key to exclude node_modules (#495)
  .github/actions/setup/action.yml
  .github/workflows/build-templates.yml
  .github/workflows/deploy-docs.yml
  packages/create-react-native-library/templates/common/$.github/actions/setup/action.yml
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
Due: none

Deploying to gh-pages from @ callstack/react-native-builder-bob@a5a284481e95abff5227241184db3c8248ff637a 🚀
  404.html
  _next/static/0j6Cn06Jji4qKWg50oabr/_buildManifest.js
  _next/static/0j6Cn06Jji4qKWg50oabr/_ssgManifest.js
  build.html
  create.html
  faq.html
  index.html
Due: lint, types

fix: use prepack instead of prepare
  packages/create-react-native-library/templates/common/$package.json
Due: none

docs: add more information to prepare and prepack scripts
  docs/pages/build.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@a635568f3b026810d90bdae28fa36058ddb0df6b 🚀
  404.html
  _next/static/0j6Cn06Jji4qKWg50oabr/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-0f5a1a30f8ef0172.js
  _next/static/chunks/pages/build-9b149cd009539b7e.js
  _next/static/rk6BOdyh-aYNNdm5lRZAR/_buildManifest.js
  _next/static/rk6BOdyh-aYNNdm5lRZAR/_ssgManifest.js
  build.html
  create.html
  faq.html
  index.html
Due: lint, types

fix: remove unused cmake abiFilters (#486)
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

chore: make repro required for issues
  .github/ISSUE_TEMPLATE/bug-report.yml
Due: none

chore: publish
  docs/CHANGELOG.md
  docs/package.json
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@c233fed21e9a67e20207eedb84c85e9e2c0f985c 🚀
  404.html
  _next/static/mRxN3HRfQbGFrsDLUyLiW/_buildManifest.js
  _next/static/mRxN3HRfQbGFrsDLUyLiW/_ssgManifest.js
  build.html
  create.html
  faq.html
  index.html
Due: lint, types

chore: remove CMake warning
  packages/create-react-native-library/templates/cpp-library/android/CMakeLists.txt
Due: none

chore: use project identifier instead of generic
  packages/create-react-native-library/templates/cpp-library/android/CMakeLists.txt
  packages/create-react-native-library/templates/java-library-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.java
  packages/create-react-native-library/templates/java-library-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.java
  packages/create-react-native-library/templates/java-library-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.java
Due: none

chore: remove npm publish warning
  packages/create-react-native-library/templates/common/$package.json
Due: none

chore: remove extra line break
  packages/create-react-native-library/templates/common/tsconfig.build.json
Due: none

fix: remove npm publish warning (#502)
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/tsconfig.build.json
Due: none

refactor: use project identifier instead of generic (#501)
  packages/create-react-native-library/templates/cpp-library/android/CMakeLists.txt
  packages/create-react-native-library/templates/java-library-legacy/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.java
  packages/create-react-native-library/templates/java-library-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.java
  packages/create-react-native-library/templates/java-library-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.java
Due: none

fix: remove CMake warning (#500)
  packages/create-react-native-library/templates/cpp-library/android/CMakeLists.txt
Due: none

feat: add support for react native 0.73
  .github/workflows/build-templates.yml
  packages/create-react-native-library/templates/common/$.yarnrc.yml
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
  packages/create-react-native-library/templates/common/babel.config.js
  packages/create-react-native-library/templates/example-legacy/example/babel.config.js
  packages/create-react-native-library/templates/native-common-example/scripts/pod-install.cjs
Due: lint, types, markdown

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
Due: markdown

[#432] Update of dependencies in template
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/native-common/{%- project.identifier %}.podspec
Due: none

fix: jsi no template error
  packages/create-react-native-library/templates/cpp-library/android/CMakeLists.txt
Due: none

add overrides for npm
  packages/create-react-native-library/templates/common/$package.json
Due: none

Update ci.yml
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
Due: none

chore: use java 17 on workflows
  .github/workflows/build-templates.yml
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
Due: none

chore: increase jvm max heap size to 6g
  .github/workflows/build-templates.yml
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
Due: none

chore: use java 17 and 6G max heap on workflows (#524)
  .github/workflows/build-templates.yml
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
Due: none

chore: remove pod-install from the template
  .github/workflows/build-templates.yml
  packages/create-react-native-library/src/utils/generateExampleApp.ts
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
Due: lint, types, markdown

chore: tweak
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
Due: none

chore: use pod install instead of pod-install (#520)
  .github/workflows/build-templates.yml
  packages/create-react-native-library/src/utils/generateExampleApp.ts
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
Due: lint, types, markdown

chore: use the new m1 macos runner
  .github/workflows/build-templates.yml
Due: none

chore: use macos 14 runner on template workflows
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
Due: none

fix: jsi no template error (#516)
  packages/create-react-native-library/templates/cpp-library/android/CMakeLists.txt
Due: none

chore: use macos-13 on template workflow as well
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
Due: none
