Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files}
      stage_fixed: true
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

fix: fix incorrect check for --react-native-version (#709)
  packages/create-react-native-library/src/index.ts
Due: lint, types

fix: move from TurboReactPackage to BaseReactPackage (#708)
  packages/create-react-native-library/templates/kotlin-library-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/kotlin-library-new/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
Due: none

fix: ensure 'invokeLibraryCodegen' task executes 'npx' correctly on windows (#707)
  packages/create-react-native-library/src/exampleApp/addCodegenBuildScript.ts
Due: lint, types

refactor: drop backward compatible templates
  .github/workflows/build-templates.yml
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/common-example/example/src/App.tsx
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
  packages/create-react-native-library/templates/example-common/example/metro.config.js
  packages/create-react-native-library/templates/example-module-legacy/example/src/App.tsx
  packages/create-react-native-library/templates/example-module-new/example/src/App.tsx
  packages/create-react-native-library/templates/example-view/example/src/App.tsx
  packages/create-react-native-library/templates/js-library/src/index.tsx
  packages/create-react-native-library/templates/kotlin-library-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.kt
  packages/create-react-native-library/templates/kotlin-library-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/kotlin-library-mixed/android/src/newarch/{%- project.name %}Spec.kt
  packages/create-react-native-library/templates/kotlin-library-mixed/android/src/oldarch/{%- project.name %}Spec.kt
  packages/create-react-native-library/templates/kotlin-view-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/kotlin-view-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}View.kt
  packages/create-react-native-library/templates/kotlin-view-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}ViewManager.kt
  packages/create-react-native-library/templates/kotlin-view-mixed/android/src/newarch/{%- project.name %}ViewManagerSpec.kt
  packages/create-react-native-library/templates/kotlin-view-mixed/android/src/oldarch/{%- project.name %}ViewManagerSpec.kt
  packages/create-react-native-library/templates/native-common/android/build.gradle
  packages/create-react-native-library/templates/native-library-mixed/react-native.config.js
  packages/create-react-native-library/templates/native-library-mixed/src/Native{%- project.name %}.ts
  packages/create-react-native-library/templates/native-library-mixed/src/index.tsx
  packages/create-react-native-library/templates/native-view-mixed/react-native.config.js
  packages/create-react-native-library/templates/native-view-mixed/src/index.tsx
  packages/create-react-native-library/templates/native-view-mixed/src/{%- project.name %}ViewNativeComponent.ts
  packages/create-react-native-library/templates/objc-library/ios/{%- project.name %}.h
  packages/create-react-native-library/templates/objc-library/ios/{%- project.name %}.mm
  packages/create-react-native-library/templates/objc-view-mixed/ios/Utils.h
  packages/create-react-native-library/templates/objc-view-mixed/ios/Utils.m
  packages/create-react-native-library/templates/objc-view-mixed/ios/{%- project.name %}View.h
  packages/create-react-native-library/templates/objc-view-mixed/ios/{%- project.name %}View.mm
  packages/create-react-native-library/templates/objc-view-mixed/ios/{%- project.name %}ViewManager.mm
  packages/create-react-native-library/templates/objc-view-new/ios/{%- project.name %}View.h
  packages/create-react-native-library/templates/objc-view-new/ios/{%- project.name %}View.mm
Due: lint, types, markdown

refactor: drop backward compatible templates (#712)
  .github/workflows/build-templates.yml
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/common-example/example/src/App.tsx
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
  packages/create-react-native-library/templates/example-common/example/metro.config.js
  packages/create-react-native-library/templates/example-module-legacy/example/src/App.tsx
  packages/create-react-native-library/templates/example-module-new/example/src/App.tsx
  packages/create-react-native-library/templates/example-view/example/src/App.tsx
  packages/create-react-native-library/templates/js-library/src/index.tsx
  packages/create-react-native-library/templates/kotlin-library-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.kt
  packages/create-react-native-library/templates/kotlin-library-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/kotlin-library-mixed/android/src/newarch/{%- project.name %}Spec.kt
  packages/create-react-native-library/templates/kotlin-library-mixed/android/src/oldarch/{%- project.name %}Spec.kt
  packages/create-react-native-library/templates/kotlin-view-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/kotlin-view-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}View.kt
  packages/create-react-native-library/templates/kotlin-view-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}ViewManager.kt
  packages/create-react-native-library/templates/kotlin-view-mixed/android/src/newarch/{%- project.name %}ViewManagerSpec.kt
  packages/create-react-native-library/templates/kotlin-view-mixed/android/src/oldarch/{%- project.name %}ViewManagerSpec.kt
  packages/create-react-native-library/templates/native-common/android/build.gradle
  packages/create-react-native-library/templates/native-library-mixed/react-native.config.js
  packages/create-react-native-library/templates/native-library-mixed/src/Native{%- project.name %}.ts
  packages/create-react-native-library/templates/native-library-mixed/src/index.tsx
  packages/create-react-native-library/templates/native-view-mixed/react-native.config.js
  packages/create-react-native-library/templates/native-view-mixed/src/index.tsx
  packages/create-react-native-library/templates/native-view-mixed/src/{%- project.name %}ViewNativeComponent.ts
  packages/create-react-native-library/templates/objc-library/ios/{%- project.name %}.h
  packages/create-react-native-library/templates/objc-library/ios/{%- project.name %}.mm
  packages/create-react-native-library/templates/objc-view-mixed/ios/Utils.h
  packages/create-react-native-library/templates/objc-view-mixed/ios/Utils.m
  packages/create-react-native-library/templates/objc-view-mixed/ios/{%- project.name %}View.h
  packages/create-react-native-library/templates/objc-view-mixed/ios/{%- project.name %}View.mm
  packages/create-react-native-library/templates/objc-view-mixed/ios/{%- project.name %}ViewManager.mm
  packages/create-react-native-library/templates/objc-view-new/ios/{%- project.name %}View.h
  packages/create-react-native-library/templates/objc-view-new/ios/{%- project.name %}View.mm
Due: lint, types, markdown

fix: use 'all' for fabric components codegen config
  packages/create-react-native-library/templates/common-local/$package.json
  packages/create-react-native-library/templates/common/$package.json
Due: none

fix: use 'all' for fabric components codegen config (#715)
  packages/create-react-native-library/templates/common-local/$package.json
  packages/create-react-native-library/templates/common/$package.json
Due: none

chore: publish
  docs/CHANGELOG.md
  docs/package.json
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@50bfbb8d45358ad97b336266d06e1a60228f56e7 🚀
  404.html
  _next/static/LbDt8LDqtVULyE6Oxc-jI/_buildManifest.js
  _next/static/LbDt8LDqtVULyE6Oxc-jI/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

[DEP]Add optional Chaining in androidpath
  packages/react-native-builder-bob/src/utils/patchCodegenAndroidPackage.ts
Due: lint, types

chore: add rn codegen babel plugin
  packages/react-native-builder-bob/package.json
  yarn.lock
Due: none

feat: add @react-native/babel-plugin-codegen to the preset
  packages/react-native-builder-bob/babel-preset.js
Due: lint, types

refactor: make type option readable and refactor workflow
  .github/workflows/build-templates.yml
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/common-local/$package.json
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
Due: lint, types, markdown

refactor: make type option readable and refactor workflow (#718)
  .github/workflows/build-templates.yml
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/common-local/$package.json
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
Due: lint, types, markdown

feat: enable JS codegen transform (#717)
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/package.json
  yarn.lock
Due: lint, types

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

fix: skip compiling fabric view as react native freaks out
  packages/react-native-builder-bob/babel-config.js
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/babel.ts
  packages/react-native-builder-bob/src/utils/compile.ts
  packages/react-native-builder-bob/src/utils/isFabricComponentFile.ts
  yarn.lock
Due: lint, types

fix: skip compiling fabric view as react native freaks out (#720)
  packages/react-native-builder-bob/babel-config.js
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/babel.ts
  packages/react-native-builder-bob/src/utils/compile.ts
  packages/react-native-builder-bob/src/utils/isFabricComponentFile.ts
  yarn.lock
Due: lint, types

refactor: use import instead of require
  packages/create-react-native-library/templates/native-library-new/src/index.tsx
Due: lint, types

Revert "fix: skip compiling fabric view as react native freaks out (#720)"
  packages/react-native-builder-bob/babel-config.js
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/babel.ts
  packages/react-native-builder-bob/src/utils/compile.ts
  packages/react-native-builder-bob/src/utils/isFabricComponentFile.ts
  yarn.lock
Due: lint, types

Revert "feat: enable JS codegen transform (#717)"
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/package.json
  yarn.lock
Due: lint, types

feat: don't add codegen prebuild when we ship nitro
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat: add new arch to nitro modules
  packages/create-react-native-library/src/template.ts
Due: lint, types

feat: create index and nitro files
  packages/create-react-native-library/templates/nitro-module/src/$index.ts
  packages/create-react-native-library/templates/nitro-module/src/{%- project.name %}.nitro.ts
Due: lint, types

feat: add required stuff to podspec
  packages/create-react-native-library/templates/native-common/{%- project.identifier %}.podspec
Due: none

feat: add kotlin files
  packages/create-react-native-library/templates/nitro-module/android/src/main/java/com/margelo/nitro/{%- project.package_dir %}/{%- project.name %}.kt
  packages/create-react-native-library/templates/nitro-module/android/src/main/java/com/margelo/nitro/{%- project.package_dir %}/{%- project.name %}Package.kt
Due: none

feat: add cpp adapter
  packages/create-react-native-library/templates/nitro-module/android/src/main/cpp/$cpp-adapter.cpp
Due: none

feat: don't add codegen with nitro
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/package.json
Due: none

feat: apply the nitro template
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/nitro-module/$nitro.json
Due: lint, types

feat: add nitrogen script
  packages/create-react-native-library/templates/common/$package.json
Due: none

feat: make swift vars public
  packages/create-react-native-library/templates/nitro-module/ios/{%- project.name %}.swift
Due: none

feat: add nitro to contributing
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
Due: markdown

feat: add cmakelist
  packages/create-react-native-library/templates/nitro-module/android/$CMakeLists.txt
Due: none

feat: json is the worst format ever
  packages/create-react-native-library/templates/common/$package.json
Due: none

feat: make the necessary changes on build.gradle
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

feat: add nitro option to cli
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/template.ts
Due: lint, types

fix: use correct podspec
  packages/create-react-native-library/templates/native-common/{%- project.identifier %}.podspec
Due: none

feat: don't add rnccli for nitro
  packages/create-react-native-library/src/exampleApp/dependencies.ts
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/common/$package.json
Due: lint, types

fix: don't print using undefined react native version
  packages/create-react-native-library/src/index.ts
Due: lint, types
