Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

markdown:
  run: npx prettier --write {staged_files}
  stage_fixed: true

fix: enable package exports for metro. fixes #842
  .github/workflows/build-templates.yml
  packages/create-react-native-library/templates/expo-library/example/metro.config.js
Due: lint, types

fix: enable package exports for metro. fixes #842 (#843)
  .github/workflows/build-templates.yml
  packages/create-react-native-library/templates/expo-library/example/metro.config.js
Due: lint, types

fix: add --only-version to release-it to skip unnecessary prompts
  packages/create-react-native-library/templates/common/$package.json
Due: none

chore: upgrade lerna-lite
  package.json
  yarn.lock
Due: none

chore: publish
  docs/CHANGELOG.md
  docs/package.json
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@d02ae54a99d8fd62773a0d9523b11628012665bf 🚀
  404.html
  _next/static/VI1_K1IfX7iylZLNXYNZ3/_buildManifest.js
  _next/static/chunks/849-3f425a27038ed6a6.js
  _next/static/chunks/849-f4d2fde300e3926a.js
  _next/static/zrfxKCuW5Sgj9C4Yezja0/_buildManifest.js
  _next/static/zrfxKCuW5Sgj9C4Yezja0/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

fix(template): disable hierarchical lookup in Metro config to fix module resolution
  packages/create-react-native-library/templates/expo-library/example/metro.config.js
Due: lint, types

chore: add banner image to readme
  README.md
Due: markdown

remove backspace
  README.md
Due: markdown

chore: add a banner image to readme (#857)
  README.md
Due: markdown

feat: Enable 16 KB page size on Android
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

fix: Add `nitro.json` to npm package
  packages/create-react-native-library/templates/common/$package.json
Due: none

fix: abort git repository creation if it takes too long
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/utils/initialCommit.ts
  tsconfig.json
Due: lint, types

fix: abort git repository creation if it takes too long (#861)
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/utils/initialCommit.ts
  tsconfig.json
Due: lint, types

fix: Add `nitro.json` to npm package (#860)
  packages/create-react-native-library/templates/common/$package.json
Due: none

feat: enable 16 KB page size on Android (#859)
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

fix: move metro-config to dev dependencies
  packages/react-native-builder-bob/package.json
  yarn.lock
Due: none

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

fix(template): remove invalid render property from bug report template
  packages/create-react-native-library/templates/common/$.github/ISSUE_TEMPLATE/bug_report.yml
Due: none

docs: update link
  README.md
Due: markdown

Fix indentation
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
Due: none

Update packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
Due: none

Add missing configutation for nitro-modules
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
Due: none

fix(template): Add missing configutation for nitro-modules (#862)
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
Due: none

chore: remove invalid render property from bug report template (#863)
  packages/create-react-native-library/templates/common/$.github/ISSUE_TEMPLATE/bug_report.yml
Due: none

fix: remove the view manager template for iOS
  packages/create-react-native-library/templates/objc-view-new/ios/{%- project.name %}ViewManager.mm
Due: none

fix(template): remove the view manager template for iOS (#864)
  packages/create-react-native-library/templates/objc-view-new/ios/{%- project.name %}ViewManager.mm
Due: none

ci: remove path filters so jobs can be added as required
  .github/workflows/build-templates.yml
Due: none

ci: remove manual pod install step
  .github/workflows/build-templates.yml
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
Due: none

ci: update pod repo and remove pod cache (#865)
  .github/workflows/build-templates.yml
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
Due: none

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
Due: markdown

fix: allow project creation in directories with only .git folder
  packages/create-react-native-library/src/input.ts
Due: lint, types

feat: add nitro view template
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
  packages/create-react-native-library/templates/common/README.md
  packages/create-react-native-library/templates/native-common/android/build.gradle
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
  packages/create-react-native-library/templates/nitro-view/android/CMakeLists.txt
  packages/create-react-native-library/templates/nitro-view/android/src/main/cpp/cpp-adapter.cpp
  packages/create-react-native-library/templates/nitro-view/android/src/main/java/com/margelo/nitro/{%- project.package_dir %}/{%- project.name %}.kt
  packages/create-react-native-library/templates/nitro-view/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/nitro-view/ios/{%- project.name %}.swift
  packages/create-react-native-library/templates/nitro-view/nitro.json
  packages/create-react-native-library/templates/nitro-view/src/index.tsx
  packages/create-react-native-library/templates/nitro-view/src/{%- project.name %}.nitro.ts
Due: lint, types, markdown

feat: add nitro view to template creation
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/template.ts
Due: lint, types

chore: lower case Nitro view in selection
  packages/create-react-native-library/src/input.ts
Due: lint, types

feat: ios16 min deployment for nitro modules example app
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
Due: lint, types

fix: add nitro view to CI matrix
  .github/workflows/build-templates.yml
Due: none

fix: prettier formatting for CI
  packages/create-react-native-library/templates/nitro-view/src/index.tsx
  packages/create-react-native-library/templates/nitro-view/src/{%- project.name %}.nitro.ts
Due: lint, types

fix: add nitrogen step in CI
  .github/workflows/build-templates.yml
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  markdown: any of: *.md
