Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files}
      stage_fixed: true
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

feat: rename script target to custom
  docs/pages/build.md
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/targets/custom.ts
  packages/react-native-builder-bob/src/targets/script.ts
  packages/react-native-builder-bob/src/types.ts
Due: lint, types, markdown

refactor: rename packageManager to packageManagerExecutable
  packages/react-native-builder-bob/src/targets/custom.ts
Due: lint, types

feat: better logs
  packages/react-native-builder-bob/src/targets/custom.ts
Due: lint, types

feat: add script target
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/targets/script.ts
  packages/react-native-builder-bob/src/types.ts
Due: lint, types

feat(bob): support custom target definitions (#732)
  docs/pages/build.md
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/targets/custom.ts
  packages/react-native-builder-bob/src/types.ts
Due: lint, types, markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@5b42f440fc609d9a49b94a5435276acda9d0ade7 🚀
  404.html
  _next/static/LbDt8LDqtVULyE6Oxc-jI/_buildManifest.js
  _next/static/MwApe2qgc9T_EGqrR8GE3/_buildManifest.js
  _next/static/MwApe2qgc9T_EGqrR8GE3/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-522b907200e76bef.js
  _next/static/chunks/pages/build-9300c7de064dfb8b.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

chore: adding .xcode.env.local to $.gitignore
  packages/create-react-native-library/templates/common/$.gitignore
Due: none

chore: adding .xcode.env.local to $.gitignore (#759)
  packages/create-react-native-library/templates/common/$.gitignore
Due: none

chore: upgrading the Bob fallback version to v0.36.0
  packages/create-react-native-library/src/index.ts
Due: lint, types

chore: upgrading the Bob fallback version to v0.36.0 (#762)
  packages/create-react-native-library/src/index.ts
Due: lint, types

fix: `nkdversion` -> `ndkVersion` casing in `gradle.properties` (#744)
  packages/create-react-native-library/templates/native-common/android/gradle.properties
Due: none

feat: apply the nitro template
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/nitro-module/$nitro.json
Due: lint, types

feat: add nitro option to cli
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/template.ts
Due: lint, types

feat: create index and nitro files
  packages/create-react-native-library/templates/nitro-module/src/$index.ts
  packages/create-react-native-library/templates/nitro-module/src/{%- project.name %}.nitro.ts
Due: lint, types

feat: add script target
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/targets/script.ts
Due: lint, types

feat: add swift code
  packages/create-react-native-library/templates/nitro-module/ios/{%- project.name %}.swift
Due: none

feat: don't add codegen prebuild when we ship nitro
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat: add clean to the script target
  packages/react-native-builder-bob/src/targets/script.ts
Due: lint, types

fix: don't print using undefined react native version
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat: add cmakelist
  packages/create-react-native-library/templates/nitro-module/android/$CMakeLists.txt
Due: none

feat: make the necessary changes on build.gradle
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

feat: don't add rnccli for nitro
  packages/create-react-native-library/src/exampleApp/dependencies.ts
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/common/$package.json
Due: lint, types

feat: add cpp adapter
  packages/create-react-native-library/templates/nitro-module/android/src/main/cpp/$cpp-adapter.cpp
Due: none

feat: rename script target to custom
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/targets/script.ts
Due: lint, types

feat: add kotlin files
  packages/create-react-native-library/templates/nitro-module/android/src/main/java/com/margelo/nitro/{%- project.package_dir %}/{%- project.name %}.kt
  packages/create-react-native-library/templates/nitro-module/android/src/main/java/com/margelo/nitro/{%- project.package_dir %}/{%- project.name %}Package.kt
Due: none

feat: don't add codegen with nitro
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/package.json
Due: none

feat: add new arch to nitro modules
  packages/create-react-native-library/src/template.ts
Due: lint, types

feat: add required stuff to podspec
  packages/create-react-native-library/templates/native-common/{%- project.identifier %}.podspec
Due: none

fix: use project package cpp for autolinking
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

fix: make index a tsx file
  packages/create-react-native-library/templates/nitro-module/src/$index.tsx
Due: lint, types

feat: add nitro to contributing
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
Due: markdown

fix: use project name for pod name
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
  packages/create-react-native-library/templates/native-common/{- project.name }.podspec
Due: none

fix: remove unnecessary package json
  packages/create-react-native-library/templates/common/package.json
Due: none

feat: print nitro docs prompt
  packages/create-react-native-library/src/inform.ts
Due: lint, types

fix: type problems
  packages/create-react-native-library/templates/nitro-module/src/$index.ts
  packages/create-react-native-library/templates/nitro-module/src/{%- project.name %}.nitro.ts
Due: lint, types

chore: add nitro to CI
  .github/workflows/build-templates.yml
Due: none

feat: add nitrogen script
  packages/create-react-native-library/templates/common/$package.json
Due: none

feat: make swift vars public
  packages/create-react-native-library/templates/nitro-module/ios/{%- project.name %}.swift
Due: none

feat: add dependencies for nitro
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/common/$package.json
Due: lint, types

fix: move the autolinked package file to correct package
  packages/create-react-native-library/templates/nitro-module/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
Due: none
