Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

markdown:
  run: npx prettier --write {staged_files}
  stage_fixed: true

feat: ask to use recommended template (#564)
  packages/create-react-native-library/src/index.ts
Due: lint, types

chore: use `build-android/ios` commands in added scripts inside `example/` app
  packages/create-react-native-library/src/utils/generateExampleApp.ts
Due: lint, types

feat!: use `react-native-test-app` in default `example/` app
  packages/create-react-native-library/src/utils/generateExampleApp.ts
  packages/create-react-native-library/templates/example-legacy/example/react-native.config.js
  packages/create-react-native-library/templates/native-common-example/example/react-native.config.js
Due: lint, types

feat: allow providing example type via `--example` flag
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/utils/generateExampleApp.ts
Due: lint, types

fix: convert `enum` to union type
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/utils/generateExampleApp.ts
Due: lint, types

fix: don't ask about defaults if language or type is passed
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat: use metro for web bundling in js library template
  .github/workflows/build-templates.yml
  packages/create-react-native-library/src/utils/generateExampleApp.ts
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
  packages/create-react-native-library/templates/expo-library/example/webpack.config.js
Due: lint, types

ci: enable merge queue for GitHub actions
  .github/workflows/build-templates.yml
  .github/workflows/check-project.yml
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
Due: none

feat: use metro for web bundling in js library template (#574)
  .github/workflows/build-templates.yml
  packages/create-react-native-library/src/utils/generateExampleApp.ts
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
  packages/create-react-native-library/templates/expo-library/example/webpack.config.js
Due: lint, types

fix: add `react-native-test-app` specific config conditionally
  packages/create-react-native-library/templates/native-common-example/example/react-native.config.js
Due: lint, types

feat: expose the babel preset at react-native-builder-bob/babel-preset
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/utils/compile.ts
Due: lint, types

ci: use local version of bob on CI
  .github/workflows/build-templates.yml
Due: none

ci: use local version of bob on CI (#575)
  .github/workflows/build-templates.yml
Due: none

feat: switch to new jsx runtime
  packages/create-react-native-library/templates/common-example/example/src/App.tsx
  packages/create-react-native-library/templates/common/tsconfig.json
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/src/index.ts
  tsconfig.json
Due: lint, types

docs: document the babel-preset
  docs/pages/build.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@329dc3d73bca06cdd6fe1ebe2066aadd005decd4 🚀
  404.html
  _next/static/4a1hjODUfyn9X4PXHHf7J/_buildManifest.js
  _next/static/4a1hjODUfyn9X4PXHHf7J/_ssgManifest.js
  _next/static/AwVFhrm08P-Kbo-hsal_d/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-0f5a1a30f8ef0172.js
  _next/static/chunks/pages/build-66c7b4e5833e9c92.js
  build.html
  create.html
  faq.html
  index.html
Due: lint, types

Revert "feat: ask to use recommended template (#564)"
  packages/create-react-native-library/src/index.ts
Due: lint, types

Revert "feat: ask to use recommended template" (#578)
  packages/create-react-native-library/src/index.ts
Due: lint, types

ci: fix yarn checksum error on installing local package
  .github/workflows/build-templates.yml
Due: none

feat: add ability to specify aliases for the babel plugin
  packages/react-native-builder-bob/src/__fixtures__/project/code/$alias-input.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$alias-output.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$exports-input.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$exports-output.ts
  packages/react-native-builder-bob/src/__tests__/index.test.ts
  packages/react-native-builder-bob/src/babel.ts
Due: lint, types

feat: add a babel-plugin to add extensions to imports
  .github/workflows/check-project.yml
  package.json
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/__fixtures__/project/code/$exports-input.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$exports-output.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$imports-input.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$imports-output.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/a.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/b.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/c.mjs
  packages/react-native-builder-bob/src/__fixtures__/project/code/d/.gitkeep
  packages/react-native-builder-bob/src/__fixtures__/project/code/e.story.ts
  packages/react-native-builder-bob/src/__fixtures__/project/f.ts
  packages/react-native-builder-bob/src/__fixtures__/project/index.ts
  packages/react-native-builder-bob/src/__tests__/index.test.ts
  packages/react-native-builder-bob/src/babel.ts
  tsconfig.json
  yarn.lock
Due: lint, types

fix: fix handle .tsx extension
  packages/react-native-builder-bob/src/babel.ts
Due: lint, types

feat: add ESM support for generated project
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/tsconfig.json
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/targets/commonjs.ts
  packages/react-native-builder-bob/src/targets/module.ts
  packages/react-native-builder-bob/src/targets/typescript.ts
  packages/react-native-builder-bob/src/utils/compile.ts
Due: lint, types

feat: switch to new jsx runtime
  packages/create-react-native-library/templates/common-example/example/src/App.tsx
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/tsconfig.json
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/src/index.ts
  tsconfig.json
Due: lint, types

fix: add support for index files to babel plugin
  packages/react-native-builder-bob/src/__fixtures__/project/code/$exports-input.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$exports-output.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$imports-input.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$imports-output.ts
  packages/react-native-builder-bob/src/babel.ts
Due: lint, types

use the corresponding react-native init version
  packages/create-react-native-library/src/utils/generateExampleApp.ts
Due: lint, types

fix: use the corresponding react-native init version (#581)
  packages/create-react-native-library/src/utils/generateExampleApp.ts
Due: lint, types

feat: add a babel-plugin to add extensions to imports and handle aliases (#576)
  .github/workflows/check-project.yml
  package.json
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/__fixtures__/project/code/$alias-input.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$alias-output.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$exports-input.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$exports-output.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$imports-input.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/$imports-output.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/a.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/b.ts
  packages/react-native-builder-bob/src/__fixtures__/project/code/c.mjs
  packages/react-native-builder-bob/src/__fixtures__/project/code/d/.gitkeep
  packages/react-native-builder-bob/src/__fixtures__/project/code/e.story.ts
  packages/react-native-builder-bob/src/__fixtures__/project/f.ts
  packages/react-native-builder-bob/src/__fixtures__/project/index.ts
  packages/react-native-builder-bob/src/__tests__/index.test.ts
  packages/react-native-builder-bob/src/babel.ts
  tsconfig.json
  yarn.lock
Due: lint, types

fix: properly handle example argument
  packages/create-react-native-library/src/index.ts
Due: lint, types

Update packages/create-react-native-library/src/utils/generateExampleApp.ts
  packages/create-react-native-library/src/utils/generateExampleApp.ts
Due: lint, types

chore: use `build-android/ios` commands in added scripts inside `example` app (#569)
  packages/create-react-native-library/src/utils/generateExampleApp.ts
Due: lint, types

ci: fix ci to use the example argument
  .github/workflows/build-templates.yml
Due: none

ci: suppress build failure due to TS errors
  .github/workflows/build-templates.yml
Due: none

fix: fix incorrect conditions for example
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/native-common-example/turbo.json
Due: none

fix: enable automatic pod installation
  packages/create-react-native-library/templates/example-legacy/example/react-native.config.js
  packages/create-react-native-library/templates/native-common-example/example/react-native.config.js
Due: lint, types

feat(crnl): store metadata with new projects (#551)
  packages/create-react-native-library/src/index.ts
  tsconfig.json
Due: lint, types

feat!: add ability to use `react-native-test-app` for `example/` app (#572)
  .github/workflows/build-templates.yml
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/utils/generateExampleApp.ts
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/README.md
  packages/create-react-native-library/templates/example-legacy/example/react-native.config.js
  packages/create-react-native-library/templates/native-common-example/example/react-native.config.js
  packages/create-react-native-library/templates/native-common-example/turbo.json
Due: lint, types, markdown

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  markdown: any of: *.md
