Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files}
      stage_fixed: true
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

refactor: remove duplicate react-native.config.js
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/example-legacy/example/react-native.config.js
  packages/create-react-native-library/templates/native-common-example/example/babel.config.js
  packages/create-react-native-library/templates/native-common-example/example/index.js
  packages/create-react-native-library/templates/native-common-example/example/ios/File.swift
  packages/create-react-native-library/templates/native-common-example/example/ios/{%- project.name %}Example-Bridging-Header.h
Due: lint, types

refactor: remove duplicate react-native.config.js (#582)
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/example-legacy/example/react-native.config.js
  packages/create-react-native-library/templates/native-common-example/example/babel.config.js
  packages/create-react-native-library/templates/native-common-example/example/index.js
  packages/create-react-native-library/templates/native-common-example/example/ios/File.swift
  packages/create-react-native-library/templates/native-common-example/example/ios/{%- project.name %}Example-Bridging-Header.h
Due: lint, types

chore: publish
  docs/CHANGELOG.md
  docs/package.json
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@c113f4036700bf7febab59be51fed497f9c5fdbc 🚀
  404.html
  _next/static/D6o6ONCy21yts_dJ1Y-tH/_buildManifest.js
  _next/static/D6o6ONCy21yts_dJ1Y-tH/_ssgManifest.js
  build.html
  create.html
  faq.html
  index.html
Due: lint, types

feat: switch to new jsx runtime
  .github/workflows/build-templates.yml
  packages/create-react-native-library/templates/common-example/example/src/App.tsx
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/tsconfig.json
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/src/index.ts
  tsconfig.json
Due: lint, types

feat: add ESM support for generated project
  docs/pages/build.md
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/tsconfig.json
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/targets/commonjs.ts
  packages/react-native-builder-bob/src/targets/module.ts
  packages/react-native-builder-bob/src/targets/typescript.ts
  packages/react-native-builder-bob/src/utils/compile.ts
Due: lint, types, markdown

fix: prompt to remove problematic react-native field
  packages/react-native-builder-bob/src/index.ts
Due: lint, types

ci: run CI for next branch
  .github/workflows/build-templates.yml
  .github/workflows/check-project.yml
Due: none

chore: update lerna config
  lerna.json
Due: none

chore: document the release process
  README.md
Due: markdown

chore: update lerna for prerelease
  lerna.json
Due: none

feat: add ESM support for generated project (#583)
  .github/workflows/build-templates.yml
  docs/pages/build.md
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/common-example/example/src/App.tsx
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/tsconfig.json
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/targets/commonjs.ts
  packages/react-native-builder-bob/src/targets/module.ts
  packages/react-native-builder-bob/src/targets/typescript.ts
  packages/react-native-builder-bob/src/utils/compile.ts
  tsconfig.json
Due: lint, types, markdown

chore: fix prerelease process docos
  README.md
Due: markdown

fix: don't add extensions if .native.ts etc. exist
  packages/react-native-builder-bob/src/babel.ts
Due: lint, types

chore: publish
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

fix: support rewriting .js extensions
  packages/react-native-builder-bob/src/babel.ts
Due: lint, types

fix: handle more out of tree plaforms
  packages/react-native-builder-bob/src/babel.ts
Due: lint, types

feat: make the esm option configurable
  docs/pages/build.md
  packages/create-react-native-library/templates/common/$package.json
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/targets/commonjs.ts
  packages/react-native-builder-bob/src/targets/module.ts
  packages/react-native-builder-bob/src/utils/compile.ts
Due: lint, types, markdown

fix: fix typo when checking extensions
  packages/react-native-builder-bob/src/__tests__/index.test.ts
  packages/react-native-builder-bob/src/babel.ts
Due: lint, types

refactor: drop the alias plugin for now
  packages/react-native-builder-bob/src/babel.ts
Due: lint, types

fix: dependencies doesn't exist in rootPackageJson
  packages/create-react-native-library/src/index.ts
Due: lint, types

docs: improve documentation for ES modules support
  docs/pages/build.md
Due: markdown

Update index.ts
  packages/create-react-native-library/src/index.ts
Due: lint, types

fix: devDependencies doesn't exist in rootPackageJson (#584)
  packages/create-react-native-library/src/index.ts
Due: lint, types

refactor: avoid 2 calls to write package.json
  packages/create-react-native-library/src/index.ts
Due: lint, types

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
Due: markdown

refactor: check if example has react & react-native deps
  packages/create-react-native-library/src/index.ts
Due: lint, types

fix(test-app): merge `build:ios/android` commands
  packages/create-react-native-library/src/utils/generateExampleApp.ts
Due: lint, types

fix: fix `build:ios/android` commands in test-app example (#585)
  packages/create-react-native-library/src/utils/generateExampleApp.ts
Due: lint, types

chore: remove the test for aliases
  packages/react-native-builder-bob/src/__tests__/index.test.ts
Due: lint, types
