Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

markdown:
  run: npx prettier --write {staged_files}
  stage_fixed: true

fix: correct the paths for codegen generated header files on views
  packages/create-react-native-library/templates/objc-view-mixed/ios/{%- project.name %}View.mm
  packages/create-react-native-library/templates/objc-view-new/ios/{%- project.name %}View.mm
Due: none

fix: every created example app is testing app
  packages/create-react-native-library/src/index.ts
Due: lint, types

fix: every created example app is testing app (#684)
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat: remove xcodebuild action
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/utils/addCodegenBuildScript.ts
Due: lint, types

feat: don't add a XCode prebuild action to invoke codegen anymore (#679)
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/utils/addCodegenBuildScript.ts
Due: lint, types

fix: correct the paths for codegen generated header files on views (#680)
  packages/create-react-native-library/templates/objc-view-mixed/ios/{%- project.name %}View.mm
  packages/create-react-native-library/templates/objc-view-new/ios/{%- project.name %}View.mm
Due: none

feat: use node to call rnccli codegen
  packages/react-native-builder-bob/src/targets/codegen.ts
  packages/react-native-builder-bob/src/utils/runRNCCli.ts
Due: lint, types

feat: have a better warning when user don't have community cli
  packages/react-native-builder-bob/src/targets/codegen.ts
Due: lint, types

feat: use node to call codegen (#685)
  packages/react-native-builder-bob/src/targets/codegen.ts
  packages/react-native-builder-bob/src/utils/runRNCCli.ts
Due: lint, types

fix: expo app doesn't have index.js
  packages/create-react-native-library/templates/expo-library/example/App.js
  packages/create-react-native-library/templates/expo-library/example/index.js
Due: lint, types

fix: expo app doesn't have index.js (#686)
  packages/create-react-native-library/templates/expo-library/example/App.js
  packages/create-react-native-library/templates/expo-library/example/index.js
Due: lint, types

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

fix: single answer questions dont get stored with metadata (#633)
  packages/create-react-native-library/src/index.ts
Due: lint, types

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
Due: markdown

fix: spawn CLI directly without using Node
  packages/react-native-builder-bob/src/utils/runRNCCli.ts
Due: lint, types

fix: lint
  packages/react-native-builder-bob/src/utils/runRNCCli.ts
Due: lint, types

refactor: not using spread
  packages/react-native-builder-bob/src/utils/runRNCCli.ts
Due: lint, types

feat: remove xcode compatibility
  packages/react-native-builder-bob/src/utils/runRNCCli.ts
Due: lint, types

fix: spawn CLI directly without using Node (#689)
  packages/react-native-builder-bob/src/utils/runRNCCli.ts
Due: lint, types

chore: publish
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

fix: use npx to call rnccli
  packages/react-native-builder-bob/src/utils/runRNCCli.ts
Due: lint, types

fix: add react-native.config.js to the published file list (#659)
  packages/create-react-native-library/templates/common/$package.json
Due: none

feat: allow to specify JSX Runtime for @babel/preset-react`
  docs/pages/build.md
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/src/utils/compile.ts
Due: lint, types, markdown

chore: remove extraneous formatting
  docs/pages/build.md
Due: markdown

refactor: add jsdoc for jsxRuntime option
  packages/react-native-builder-bob/babel-preset.js
Due: lint, types

feat: allow to specify JSX Runtime for @babel/preset-react` (#695)
  docs/pages/build.md
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/src/utils/compile.ts
Due: lint, types, markdown

chore: publish
  docs/CHANGELOG.md
  docs/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@cac236dcb0dc73f964d1543f5484adb749b30f8f 🚀
  404.html
  _next/static/oBPVq0lzU5966xrRCFDXl/_buildManifest.js
  _next/static/oBPVq0lzU5966xrRCFDXl/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

feat: add issue templates
  packages/create-react-native-library/templates/common/$.github/ISSUE_TEMPLATE/bug_report.yml
  packages/create-react-native-library/templates/common/$.github/ISSUE_TEMPLATE/config.yml
  packages/create-react-native-library/templates/common/$.github/ISSUE_TEMPLATE/feature_request.yml
Due: none

fix: use npx to call rnccli (#693)
  packages/react-native-builder-bob/src/utils/runRNCCli.ts
Due: lint, types

fix(cli): update stdio options to capture error output
  packages/react-native-builder-bob/src/utils/runRNCCli.ts
Due: lint, types

fix: update tsconfig to align how metro resolves package exports
  docs/pages/esm.md
  packages/create-react-native-library/templates/common/tsconfig.json
Due: markdown

feat: pass options to babel-preset using callers
  packages/create-react-native-library/templates/common/babel.config.js
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/src/types.ts
  packages/react-native-builder-bob/src/utils/compile.ts
Due: lint, types

fix: fix deleting .tsbuildinfo file
  packages/react-native-builder-bob/src/targets/typescript.ts
Due: lint, types

fix: fix deleting .tsbuildinfo file (#706)
  packages/react-native-builder-bob/src/targets/typescript.ts
Due: lint, types

fix: use proper codegen types
  packages/create-react-native-library/templates/common/$package.json
Due: none

feat: only patch codegen if type is module
  packages/react-native-builder-bob/src/targets/codegen.ts
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  markdown: any of: *.md
