Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files}
      stage_fixed: true
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

feat: ios16 min deployment for nitro modules example app
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
Due: lint, types

feat: run tasks in parallel with workers
  packages/react-native-builder-bob/src/build.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/patchCodegenAndroidPackage.ts
  packages/react-native-builder-bob/src/utils/workerize.ts
Due: lint, types

feat: update eslint to v9 (#794)
  docs/next.config.js
  eslint.config.mjs
  package.json
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/eslint.config.mjs
  packages/react-native-builder-bob/babel-config.js
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/metro-config.js
  packages/react-native-builder-bob/src/__tests__/babel.test.ts
  packages/react-native-builder-bob/src/__tests__/init.test.ts
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/init.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/patchCodegenAndroidPackage.test.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/removeCodegenAppLevelCode.test.ts
  packages/react-native-builder-bob/src/utils/loadConfig.ts
  yarn.lock
Due: lint, types

chore: lower case Nitro view in selection
  packages/create-react-native-library/src/input.ts
Due: lint, types

feat: run tasks in parallel with workers (#792)
  packages/react-native-builder-bob/src/build.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/patchCodegenAndroidPackage.ts
  packages/react-native-builder-bob/src/utils/workerize.ts
Due: lint, types

chore: add .next to eslint ignore list
  eslint.config.mjs
Due: none

refactor: drop cosmiconfig
  packages/react-native-builder-bob/babel-config.js
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/build.ts
  packages/react-native-builder-bob/src/init.ts
  packages/react-native-builder-bob/src/utils/loadConfig.ts
  yarn.lock
Due: lint, types

refactor: drop cosmiconfig (#802)
  packages/react-native-builder-bob/babel-config.js
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/build.ts
  packages/react-native-builder-bob/src/init.ts
  packages/react-native-builder-bob/src/utils/loadConfig.ts
  yarn.lock
Due: lint, types

fix: minimize usage of process.exit(1)
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/utils/assert.ts
  packages/react-native-builder-bob/src/build.ts
  packages/react-native-builder-bob/src/init.ts
  packages/react-native-builder-bob/src/targets/codegen/index.ts
  packages/react-native-builder-bob/src/targets/custom.ts
Due: lint, types

fix: fix typescript error message with missing tsconfig
  packages/react-native-builder-bob/src/targets/typescript.ts
Due: lint, types

chore: publish
  docs/CHANGELOG.md
  docs/package.json
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@c9af25bf214b96a001382a61014b7e22e90cad2d 🚀
  404.html
  _next/static/aNym3KpyXNGGbz0l0Es77/_buildManifest.js
  _next/static/aNym3KpyXNGGbz0l0Es77/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

feat: validate configuration with arktype
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/build.ts
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/schema.ts
  packages/react-native-builder-bob/src/targets/codegen/index.ts
  packages/react-native-builder-bob/src/types.ts
  packages/react-native-builder-bob/src/utils/loadConfig.ts
  packages/react-native-builder-bob/src/utils/workerize.ts
  yarn.lock
Due: lint, types

fix: add nitro view to CI matrix
  .github/workflows/build-templates.yml
Due: none

fix: prettier ci error
  packages/create-react-native-library/templates/nitro-view/src/{%- project.name %}.nitro.ts
Due: lint, types

fix: prettier formatting for CI
  packages/create-react-native-library/templates/nitro-view/src/index.tsx
  packages/create-react-native-library/templates/nitro-view/src/{%- project.name %}.nitro.ts
Due: lint, types

fix: remove resolvePackageJsonImports: false since Metro supports it from 0.82.0
  docs/pages/esm.md
  packages/create-react-native-library/templates/common/tsconfig.json
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@7ac5d1a93f1a2f154eefa4aa5bde06e6f5b6b249 🚀
  404.html
  _next/static/aNym3KpyXNGGbz0l0Es77/_buildManifest.js
  _next/static/aUeD6-aZ1ScIputxX_Gnt/_buildManifest.js
  _next/static/aUeD6-aZ1ScIputxX_Gnt/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/esm-0be6f952a4a8d49d.js
  _next/static/chunks/pages/esm-77fb887a33125469.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

fix: add nitrogen step in CI
  .github/workflows/build-templates.yml
Due: none

fix: add full nitro-codegen command
  .github/workflows/build-templates.yml
Due: none

fix: add working dir to nitrogen
  .github/workflows/build-templates.yml
Due: none

fix: promisify the workers in bob
  packages/react-native-builder-bob/src/build.ts
  packages/react-native-builder-bob/src/utils/workerize.ts
Due: lint, types

Deploying to gh-pages from @ callstack/react-native-builder-bob@23f5ac7c2c3bccfa697d551486e0ba56cf528a30 🚀
  404.html
  _next/static/auTMbzccnuCNZQuf6Ifyq/_buildManifest.js
  _next/static/auTMbzccnuCNZQuf6Ifyq/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

fix: change config json import to require
  packages/create-react-native-library/templates/nitro-view/src/index.tsx
Due: lint, types

chore: prettier fix
  packages/create-react-native-library/templates/nitro-view/src/index.tsx
Due: lint, types

chore: update node version in .nvmrc
  .nvmrc
Due: none

make all headers private
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
Due: none

import the fabric headers from the same target
  packages/create-react-native-library/templates/objc-view-new/ios/{%- project.name %}View.mm
Due: none

import the codegen header from the same target
  packages/create-react-native-library/templates/objc-library/ios/{%- project.name %}.h
Due: none

fix(crnl): certain versions of XCode can't resolve codegen headers (#810)
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
  packages/create-react-native-library/templates/objc-library/ios/{%- project.name %}.h
  packages/create-react-native-library/templates/objc-view-new/ios/{%- project.name %}View.mm
Due: none

feat: validate configuration with arktype (#806)
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/build.ts
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/schema.ts
  packages/react-native-builder-bob/src/targets/codegen/index.ts
  packages/react-native-builder-bob/src/types.ts
  packages/react-native-builder-bob/src/utils/loadConfig.ts
  packages/react-native-builder-bob/src/utils/workerize.ts
  yarn.lock
Due: lint, types

refactor: drop commonjs build from default setup
  docs/pages/build.md
  docs/pages/esm.md
  packages/create-react-native-library/templates/common/$package.json
  packages/react-native-builder-bob/src/__tests__/__snapshots__/init.test.ts.snap
  packages/react-native-builder-bob/src/init.ts
  packages/react-native-builder-bob/src/targets/typescript.ts
Due: lint, types, markdown

refactor: drop commonjs build from default setup (#800)
  docs/pages/build.md
  docs/pages/esm.md
  packages/create-react-native-library/templates/common/$package.json
  packages/react-native-builder-bob/src/__tests__/__snapshots__/init.test.ts.snap
  packages/react-native-builder-bob/src/init.ts
  packages/react-native-builder-bob/src/targets/typescript.ts
Due: lint, types, markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@f11b666f316cdf3f71e479b73f45b257f91392c3 🚀
  404.html
  _next/static/auTMbzccnuCNZQuf6Ifyq/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-9187236bb5c8b411.js
  _next/static/chunks/pages/build-ed5d4b3c0b50f624.js
  _next/static/chunks/pages/esm-651145767f235519.js
  _next/static/chunks/pages/esm-77fb887a33125469.js
  _next/static/lX7S9_Hm2_lGKVx9xPx4b/_buildManifest.js
  _next/static/lX7S9_Hm2_lGKVx9xPx4b/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

Deploying to gh-pages from @ callstack/react-native-builder-bob@f1db236b9017176dd568ce89e2296be6b1a67e3c 🚀
  404.html
  _next/static/I1Bn3-Tik1cD1saXASnqF/_buildManifest.js
  _next/static/I1Bn3-Tik1cD1saXASnqF/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

Deploying to gh-pages from @ callstack/react-native-builder-bob@40ab826c043c64ff377ee4e707a10c7c595d8252 🚀
  404.html
  _next/static/2EQ_3sQrkf1iI13SPBnnD/_buildManifest.js
  _next/static/2EQ_3sQrkf1iI13SPBnnD/_ssgManifest.js
  _next/static/I1Bn3-Tik1cD1saXASnqF/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/esm-651145767f235519.js
  _next/static/chunks/pages/esm-ed410446d5c15ea8.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types
