Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files}
      stage_fixed: true
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

chore: extract the verify function outside of the main function
  packages/create-react-native-library/src/index.ts
Due: lint, types

chore: ask the questions imperatively
  packages/create-react-native-library/src/index.ts
Due: lint, types

chore: let prompts run the array of questions
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat: add clean option for cleaning build directory
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/targets/codegen.ts
  packages/react-native-builder-bob/src/targets/commonjs.ts
  packages/react-native-builder-bob/src/targets/module.ts
  packages/react-native-builder-bob/src/targets/typescript.ts
Due: lint, types

feat: make the vanilla example app the first option
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat: make the vanilla example app the first option (#654)
  packages/create-react-native-library/src/index.ts
Due: lint, types

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
Due: markdown

feat: disable test-app
  packages/create-react-native-library/src/index.ts
Due: lint, types

docs: mention you need to export package.json
  docs/pages/build.md
Due: markdown

feat: add package.json to exports with bob init if includesGeneratedCode is falsy
  packages/react-native-builder-bob/src/index.ts
Due: lint, types

fix: typo react-native.config.json -> react-native.config.js
  packages/create-react-native-library/templates/common/$package.json
Due: none

fix: unknown option npm when generating a vanilla example app
  packages/create-react-native-library/src/utils/generateExampleApp.ts
Due: lint, types

fix: unknown option npm when generating a vanilla example app (#664)
  packages/create-react-native-library/src/utils/generateExampleApp.ts
Due: lint, types

fix: add react-native-community-cli dev dependency
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/common/$package.json
Due: lint, types

fix: call @react-native-community/cli codegen instead of react-native
  packages/react-native-builder-bob/src/targets/codegen.ts
Due: lint, types

chore: use nodejs assert instead of console assert
  packages/create-react-native-library/src/index.ts
Due: lint, types

fix: vanilla example codegen fails (#665)
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/common/$package.json
  packages/react-native-builder-bob/src/targets/codegen.ts
Due: lint, types

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

feat: add --example none option to skip example app creation
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat: add --replace-directory option to overwrite existing directory
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat: add --skip-git option to disable git commands during generation
  packages/create-react-native-library/src/index.ts
Due: lint, types

chore: bump release-it and release-it conventional changelog versions
  packages/create-react-native-library/templates/common/$package.json
Due: none

chore: bump release-it and release-it conventional changelog versions (#677)
  packages/create-react-native-library/templates/common/$package.json
Due: none

docs: mention the codegen target
  docs/pages/build.md
Due: markdown

docs: mention its not recommended to not ship codegen scaffold
  docs/pages/build.md
Due: markdown

docs: mention we dont handle codegen automatically yet
  docs/pages/build.md
Due: markdown

chore: hide testing app behind an env var
  packages/create-react-native-library/src/index.ts
Due: lint, types

docs: move opting out codegen to bottom
  docs/pages/build.md
Due: markdown

docs: mention when you won't need codegen
  docs/pages/build.md
Due: markdown

feat: disable RNTA temporarily (#658)
  docs/pages/build.md
  packages/create-react-native-library/src/index.ts
  packages/react-native-builder-bob/src/index.ts
Due: lint, types, markdown

chore: publish
  docs/CHANGELOG.md
  docs/package.json
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@aa400f622d6953ff949bd749d7bc4c9af397f486 🚀
  404.html
  _next/static/N47Hd4YIww4VxTNgxfj3b/_buildManifest.js
  _next/static/N47Hd4YIww4VxTNgxfj3b/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-61773b9d670fbc20.js
  _next/static/chunks/pages/build-f7301bca0cdc2f39.js
  _next/static/defWdkOc983wzvgQey2aA/_buildManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

Deploying to gh-pages from @ callstack/react-native-builder-bob@194296b8ce2a7885b639532abb06535f9e66899d 🚀
  404.html
  _next/static/42Tl-BUXAgydsUJnup57y/_buildManifest.js
  _next/static/42Tl-BUXAgydsUJnup57y/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

fix: type issue in crnl index
  packages/create-react-native-library/src/index.ts
Due: lint, types

chore: type issue in crnl index (#681)
  packages/create-react-native-library/src/index.ts
Due: lint, types
