Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files}
      stage_fixed: true
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

docs: replace recorded gif with animated svg (#473)
  docs/assets/create-react-native-library.gif
  docs/assets/create-react-native-library.svg
  docs/assets/react-native-builder-bob.svg
  docs/pages/build.md
  docs/pages/create.md
  lefthook.yml
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@e232d5ad86d89d21bd1c707a1b5c5ef6a69271c6 🚀
  404.html
  _next/static/-MgN9-2I0wAphzsjaU4y5/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-86a9a1147bc6722b.js
  _next/static/chunks/pages/build-ae9086409e2a0ace.js
  _next/static/chunks/pages/create-316569701cd5d7d4.js
  _next/static/chunks/pages/create-458051197df9486c.js
  _next/static/media/create-react-native-library.91c6b751.gif
  _next/static/media/create-react-native-library.eafc048f.svg
  _next/static/media/react-native-builder-bob.f743a9da.svg
  _next/static/qHovpsgNMeW0SE4DuJVIU/_buildManifest.js
  _next/static/qHovpsgNMeW0SE4DuJVIU/_ssgManifest.js
  build.html
  create.html
  faq.html
  index.html
Due: lint, types

fix: detect package manager when configuring bob
  packages/react-native-builder-bob/src/index.ts
Due: lint, types

fix: fix build failure with react-native 0.73 rc
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

chore: publish
  docs/CHANGELOG.md
  docs/package.json
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@1d82fb23700516ca8c2d5864c6df90f9ae3e3c11 🚀
  404.html
  _next/static/mU2qOPRGDQwVL9xbCs8Yc/_buildManifest.js
  _next/static/mU2qOPRGDQwVL9xbCs8Yc/_ssgManifest.js
  build.html
  create.html
  faq.html
  index.html
Due: lint, types

docs: mention yalc for testing libraries locally
  docs/pages/faq.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@3cdfe8fec9670e9f9560d9a4e1d8c53e35e894cd 🚀
  404.html
  _next/static/3Z9d6dkq-T9JERX2LD6s4/_buildManifest.js
  _next/static/3Z9d6dkq-T9JERX2LD6s4/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/faq-a86424b9667053a5.js
  _next/static/chunks/pages/faq-b668e87545e3d0a2.js
  _next/static/mU2qOPRGDQwVL9xbCs8Yc/_buildManifest.js
  build.html
  create.html
  faq.html
  index.html
Due: lint, types

ci: use m1 runner for iOS builds
  .github/workflows/build-templates.yml
Due: none

refactor: simplify the return in build.gradle
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

fix: typo in landing page
  docs/pages/index.md
Due: markdown

docs: fix typo in landing page (#481)
  docs/pages/index.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@59106a9e47e441df534c2f6b903ca7313caeab48 🚀
  404.html
  _next/static/3Z9d6dkq-T9JERX2LD6s4/_buildManifest.js
  _next/static/GiMFmDdf_8qq1d2vCpEgL/_buildManifest.js
  _next/static/GiMFmDdf_8qq1d2vCpEgL/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/index-5803dab2c8a049b3.js
  _next/static/chunks/pages/index-6fdbec81bd1b6f9b.js
  build.html
  create.html
  faq.html
  index.html
Due: lint, types

docs: add favicon
  docs/theme.config.jsx
Due: lint, types

docs: add favicon 👷‍♂️ (#482)
  docs/theme.config.jsx
Due: lint, types

Deploying to gh-pages from @ callstack/react-native-builder-bob@ef69d0d9962c3caae5d172191a384b598db8dbad 🚀
  404.html
  _next/static/BOdrXOgMqaxSkQNoz23T1/_buildManifest.js
  _next/static/BOdrXOgMqaxSkQNoz23T1/_ssgManifest.js
  _next/static/GiMFmDdf_8qq1d2vCpEgL/_buildManifest.js
  _next/static/chunks/pages/build-86a9a1147bc6722b.js
  _next/static/chunks/pages/build-9b149cd009539b7e.js
  _next/static/chunks/pages/create-458051197df9486c.js
  _next/static/chunks/pages/create-e3c0335e505fe47e.js
  _next/static/chunks/pages/faq-53749b95b1244585.js
  _next/static/chunks/pages/faq-a86424b9667053a5.js
  _next/static/chunks/pages/index-5981cefc764efe90.js
  _next/static/chunks/pages/index-6fdbec81bd1b6f9b.js
  build.html
  create.html
  faq.html
  index.html
Due: lint, types

chore: add fetch before checkout
  .github/workflows/comment-diffs.yml
Due: none

chore: use macos runner
  .github/workflows/comment-diffs.yml
Due: none

chore: add diff commenting CI
  .github/workflows/comment-diffs.yml
Due: none

chore: dummy change
  packages/create-react-native-library/templates/java-library-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.java
Due: none

chore: disable setup again for testing
  .github/workflows/comment-diffs.yml
Due: none

chore: use origin/main
  .github/workflows/comment-diffs.yml
Due: none

chore: remove all actions and add new action for commenting diffs
  .github/workflows/build-templates.yml
  .github/workflows/check-project.yml
  .github/workflows/comment-diffs.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/rebase.yml
Due: none

chore: add no example
  .github/workflows/comment-diffs.yml
Due: none

chore: divide fetch main and checkout main
  .github/workflows/comment-diffs.yml
Due: none

chore: fix names
  .github/workflows/comment-diffs.yml
Due: none

chore: add delimeter
  .github/workflows/comment-diffs.yml
Due: none

chore: print diff
  .github/workflows/comment-diffs.yml
Due: none

chore: ls
  .github/workflows/comment-diffs.yml
Due: none

chore: remove url from action
  .github/workflows/comment-diffs.yml
Due: none

chore: fix string
  .github/workflows/comment-diffs.yml
Due: none

chore: cat diff
  .github/workflows/comment-diffs.yml
Due: none

chore: add || true
  .github/workflows/comment-diffs.yml
Due: none

chore: add debug txt
  .github/workflows/comment-diffs.yml
Due: none

chore: add no ignore file case
  .github/workflows/comment-diffs.yml
Due: none

chore: remove params from git switch
  .github/workflows/comment-diffs.yml
Due: none

chore: uncomment echo
  .github/workflows/comment-diffs.yml
Due: none

chore: add EOF
  .github/workflows/comment-diffs.yml
Due: none

chore: customize a file for diff
  packages/create-react-native-library/templates/common/babel.config.js
Due: lint, types
