Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

markdown:
  run: npx prettier --write {staged_files}
  stage_fixed: true

chore: use the macos-13 runner
  .github/workflows/build-templates.yml
Due: none

fix: remove engines from the generated library
  packages/create-react-native-library/templates/common/$package.json
Due: none

feat: add a dummy swift file to the example if the library uses swift
  packages/create-react-native-library/src/add-dummy-swift-file.rb
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/utils/generateExampleApp.ts
Due: lint, types

chore: use the macOS 14 with M1 processor runner on workflows (#522)
  .github/workflows/build-templates.yml
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
Due: none

chore: update of dependencies in template (#503)
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/native-common/{%- project.identifier %}.podspec
Due: none

docs: update local library docs
  docs/pages/create.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@1f0b00d55c538ec22870f8d75c05aa90ecfb14f0 🚀
  404.html
  _next/static/BPS1Ew23Yrdigkrlj8025/_buildManifest.js
  _next/static/BPS1Ew23Yrdigkrlj8025/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/create-3327154f5dabf16e.js
  _next/static/chunks/pages/create-beec1796b1516eda.js
  _next/static/mRxN3HRfQbGFrsDLUyLiW/_buildManifest.js
  build.html
  create.html
  faq.html
  index.html
Due: lint, types

chore: publish
  docs/CHANGELOG.md
  docs/package.json
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@2d5b583afb31a8607e8ecae0a693e099a9a6fefd 🚀
  404.html
  _next/static/rp6QrOcziCgBRgklmLJ2w/_buildManifest.js
  _next/static/rp6QrOcziCgBRgklmLJ2w/_ssgManifest.js
  build.html
  create.html
  faq.html
  index.html
Due: lint, types

fix: podspec file indentation
  packages/create-react-native-library/templates/native-common/{%- project.identifier %}.podspec
Due: none

Node.js 16 actions are deprecated.
  .github/actions/setup/action.yml
  .github/workflows/build-templates.yml
  .github/workflows/check-project.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/rebase.yml
Due: none

chore: update actions to latest versions (#532)
  .github/actions/setup/action.yml
  .github/workflows/build-templates.yml
  .github/workflows/check-project.yml
  .github/workflows/deploy-docs.yml
  .github/workflows/rebase.yml
Due: none

Deploying to gh-pages from @ callstack/react-native-builder-bob@aa4d72367b6dae098cc38f10b04e19daf3499249 🚀
  404.html
  _next/static/AwVFhrm08P-Kbo-hsal_d/_buildManifest.js
  _next/static/AwVFhrm08P-Kbo-hsal_d/_ssgManifest.js
  build.html
  create.html
  faq.html
  index.html
Due: lint, types

Add abiFilters to the native template
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

fix: podspec file indentation (#530)
  packages/create-react-native-library/templates/native-common/{%- project.identifier %}.podspec
Due: none

Update packages/create-react-native-library/templates/native-common/android/build.gradle
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

fix: add abiFilters to the native template (#546)
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

feat(crnl): pass --template blank to create-expo-app while creating a js only library
  packages/create-react-native-library/src/utils/generateExampleApp.ts
Due: lint, types

feat(crnl): pass --template blank to create-expo-app (#558)
  packages/create-react-native-library/src/utils/generateExampleApp.ts
Due: lint, types

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
Due: markdown

chore: disable jetifier for generated native examples
  packages/create-react-native-library/src/utils/generateExampleApp.ts
Due: lint, types

fix: disable jetifier for generated native examples (#563)
  packages/create-react-native-library/src/utils/generateExampleApp.ts
Due: lint, types

feat: create kotlin part
  packages/create-react-native-library/templates/kotlin-view-library-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Module.kt
  packages/create-react-native-library/templates/kotlin-view-library-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/kotlin-view-library-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}View.kt
  packages/create-react-native-library/templates/kotlin-view-library-mixed/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}ViewManager.kt
  packages/create-react-native-library/templates/kotlin-view-library-mixed/android/src/newarch/{%- project.name %}Spec.kt
  packages/create-react-native-library/templates/kotlin-view-library-mixed/android/src/newarch/{%- project.name %}ViewManagerSpec.kt
  packages/create-react-native-library/templates/kotlin-view-library-mixed/android/src/oldarch/{%- project.name %}Spec.kt
  packages/create-react-native-library/templates/kotlin-view-library-mixed/android/src/oldarch/{%- project.name %}ViewManagerSpec.kt
Due: none

feat: create objc part
  packages/create-react-native-library/templates/objc-view-library-mixed/ios/Utils.h
  packages/create-react-native-library/templates/objc-view-library-mixed/ios/Utils.m
  packages/create-react-native-library/templates/objc-view-library-mixed/ios/{%- project.name %}.h
  packages/create-react-native-library/templates/objc-view-library-mixed/ios/{%- project.name %}.mm
  packages/create-react-native-library/templates/objc-view-library-mixed/ios/{%- project.name %}View.h
  packages/create-react-native-library/templates/objc-view-library-mixed/ios/{%- project.name %}View.mm
  packages/create-react-native-library/templates/objc-view-library-mixed/ios/{%- project.name %}ViewManager.mm
Due: none

feat: pass codegen type all for view+module libraries
  packages/create-react-native-library/templates/common/$package.json
Due: none

feat: handle view+module template on CLI
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat: remove the `View` prefix from view codegens
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/objc-view-library-mixed/ios/{%- project.name %}View.mm
  packages/create-react-native-library/templates/objc-view-mixed/ios/{%- project.name %}View.mm
  packages/create-react-native-library/templates/objc-view-new/ios/{%- project.name %}View.mm
Due: none

feat: handle example app
  packages/create-react-native-library/templates/common-example/example/src/App.tsx
Due: lint, types

feat: create ts part
  packages/create-react-native-library/templates/native-view-library-mixed/src/Native{%- project.name %}.ts
  packages/create-react-native-library/templates/native-view-library-mixed/src/index.tsx
  packages/create-react-native-library/templates/native-view-library-mixed/src/{%- project.name %}NativeComponent.ts
Due: lint, types

chore: fix ts error with importing package.json
  tsconfig.json
Due: none

fix: use fs.readJson to get the version
  packages/create-react-native-library/src/index.ts
Due: lint, types

fix(crnl): add package.json to tsconfig.json
  packages/create-react-native-library/src/index.ts
  tsconfig.json
Due: lint, types

feat(crnl): save metadata with new projects
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat: write the crnl metadata to generated package.json
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat: include all the passed args by default in the config
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat(crnl): rename crnl.json to create-react-native-library.json
  packages/create-react-native-library/src/index.ts
Due: lint, types

refactor: use async fs methods
  packages/create-react-native-library/src/index.ts
Due: lint, types

refactor: better type and better name for filteredAnswers
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat: ignore the `local` key
  packages/create-react-native-library/src/index.ts
Due: lint, types

refactor: eliminate kebab case keys from answers
  packages/create-react-native-library/src/index.ts
Due: lint, types

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  markdown: any of: *.md
