Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx eslint {staged_files}
    types:
      glob: "*.{js,ts,jsx,tsx}"
      run: npx tsc --noEmit
    markdown:
      glob: "*.md"
      run: npx prettier --write {staged_files}
      stage_fixed: true
commit-msg:
  parallel: true
  commands:
    commitlint:
      run: npx commitlint --edit

feat(crnl): support nitro modules (#721)
  .github/workflows/build-templates.yml
  packages/create-react-native-library/src/exampleApp/dependencies.ts
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/common-local/$package.json
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
  packages/create-react-native-library/templates/common/$.gitignore
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/CONTRIBUTING.md
  packages/create-react-native-library/templates/common/README.md
  packages/create-react-native-library/templates/native-common/android/build.gradle
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
  packages/create-react-native-library/templates/nitro-module/android/CMakeLists.txt
  packages/create-react-native-library/templates/nitro-module/android/src/main/cpp/cpp-adapter.cpp
  packages/create-react-native-library/templates/nitro-module/android/src/main/java/com/margelo/nitro/{%- project.package_dir %}/{%- project.name %}.kt
  packages/create-react-native-library/templates/nitro-module/android/src/main/java/com/{%- project.package_dir %}/{%- project.name %}Package.kt
  packages/create-react-native-library/templates/nitro-module/ios/{%- project.name %}.swift
  packages/create-react-native-library/templates/nitro-module/nitro.json
  packages/create-react-native-library/templates/nitro-module/src/index.tsx
  packages/create-react-native-library/templates/nitro-module/src/{%- project.name %}.nitro.ts
Due: lint, types, markdown

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
Due: markdown

Generated Prefix is not required
  packages/create-react-native-library/templates/objc-library/ios/{%- project.name %}.h
Due: none

fix(crnl): fix nitro modules android template
  packages/create-react-native-library/templates/native-common/android/build.gradle
  packages/create-react-native-library/templates/nitro-module/android/src/main/java/com/margelo/nitro/{%- project.package_dir %}/{%- project.name %}.kt
Due: none

fix(crnl): fix nitro modules android template (#765)
  packages/create-react-native-library/templates/native-common/android/build.gradle
  packages/create-react-native-library/templates/nitro-module/android/src/main/java/com/margelo/nitro/{%- project.package_dir %}/{%- project.name %}.kt
Due: none

Bring back #715 to fix Android builds for Fabric components
  packages/create-react-native-library/templates/common-local/$package.json
  packages/create-react-native-library/templates/common/$package.json
Due: none

fix: Import `@DoNotStrip`
  packages/create-react-native-library/templates/nitro-module/android/src/main/java/com/margelo/nitro/{%- project.package_dir %}/{%- project.name %}.kt
Due: none

fix: Import `@DoNotStrip` (#770)
  packages/create-react-native-library/templates/nitro-module/android/src/main/java/com/margelo/nitro/{%- project.package_dir %}/{%- project.name %}.kt
Due: none

fix: remove React-Codegen dependency from podspec
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
Due: none

fix: bring back #715 to fix Android builds for Fabric components (#769)
  packages/create-react-native-library/templates/common-local/$package.json
  packages/create-react-native-library/templates/common/$package.json
Due: none

chore: drop 0.71 support
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
Due: none

Update packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
Due: none

docs: add create-expo-module in alternatives section
  README.md
Due: markdown

refactor: remove code for new architecture on old react-native versions (#779)
  packages/create-react-native-library/templates/native-common/{%- project.name %}.podspec
Due: none

refactor: remove unnecessary checks for new arch
  packages/create-react-native-library/src/exampleApp/addCodegenBuildScript.ts
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: lint, types

docs: add create-expo-module in alternatives section (#784)
  README.md
Due: markdown

fix: update release-it deps and config #733 (#746)
  packages/create-react-native-library/templates/common/$package.json
Due: none

fix: write errors to stderr
  packages/react-native-builder-bob/src/utils/logger.ts
Due: lint, types

feat: prefix build logs with target name
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/patchCodegenAndroidPackage.test.ts
  packages/react-native-builder-bob/src/utils/logger.ts
Due: lint, types

feat: run tasks in parallel with workers
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/patchCodegenAndroidPackage.ts
  packages/react-native-builder-bob/src/utils/workerize.ts
  yarn.lock
Due: lint, types

feat: add support for expo example in native libraries
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/example-expo/example/babel.config.js
  packages/create-react-native-library/templates/example-expo/example/index.js
  packages/create-react-native-library/templates/example-expo/example/metro.config.js
  packages/create-react-native-library/templates/example-expo/example/tsconfig.json
  packages/create-react-native-library/templates/native-common-example/example/react-native.config.js
  packages/create-react-native-library/templates/objc-library/ios/{%- project.name %}.h
  packages/create-react-native-library/templates/objc-view-new/ios/{%- project.name %}View.mm
Due: lint, types

feat: upgrade eslint to v9 in created projects
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/eslint.config.mjs
Due: none

build: upgrade eslint to v9
  eslint.config.mjs
  package.json
  yarn.lock
Due: none

fix: prevent example app from adding newArchEnabled if already present
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
Due: lint, types

fix: fix generating package.json when esm is enabled
  packages/react-native-builder-bob/src/utils/compile.ts
Due: lint, types

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

fix: prevent example app from adding newArchEnabled if already present (#796)
  packages/create-react-native-library/src/exampleApp/generateExampleApp.ts
Due: lint, types

refactor: remove unnecessary checks for new arch (#791)
  packages/create-react-native-library/src/exampleApp/addCodegenBuildScript.ts
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: lint, types

docs: improve ESM related docs
  docs/pages/build.md
  docs/pages/esm.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@b83ce27381b9709136af6027ba103438c1d8e2b7 🚀
  404.html
  _next/static/R7gKjNVu4n7nH5MagHBU8/_buildManifest.js
  _next/static/R7gKjNVu4n7nH5MagHBU8/_ssgManifest.js
  _next/static/V8tmqZusif-bBBuRFO8e5/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-522b907200e76bef.js
  _next/static/chunks/pages/build-9ed280c7dfdf2b28.js
  _next/static/chunks/pages/esm-cb88a36bf01ae4cb.js
  _next/static/chunks/pages/esm-e7eacb74b474a623.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

docs: add more info regarding custom babel config
  docs/pages/build.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@eeb4914e4aabba9e2308d30c29b789500c2ae770 🚀
  404.html
  _next/static/R7gKjNVu4n7nH5MagHBU8/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-3d845de991a020c9.js
  _next/static/chunks/pages/build-9ed280c7dfdf2b28.js
  _next/static/ws_nsNn3kiFflXHQNbtm_/_buildManifest.js
  _next/static/ws_nsNn3kiFflXHQNbtm_/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

docs: fix description for jsxRuntime option
  docs/pages/build.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@65678c546c1bdc015508d37ec77bff907926a724 🚀
  404.html
  _next/static/Cq9cUnLfGqUfOztjMIgRS/_buildManifest.js
  _next/static/Cq9cUnLfGqUfOztjMIgRS/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-3d845de991a020c9.js
  _next/static/chunks/pages/build-3e62c66cbe942a74.js
  _next/static/ws_nsNn3kiFflXHQNbtm_/_buildManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

docs: update docs for the custom target
  docs/pages/build.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@e5aa62dd4abb58b8413b8aadee5f4f0cd00fd1fe 🚀
  404.html
  _next/static/BwZIMF1l2n2E-m7OlC6mW/_buildManifest.js
  _next/static/BwZIMF1l2n2E-m7OlC6mW/_ssgManifest.js
  _next/static/Cq9cUnLfGqUfOztjMIgRS/_buildManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-3e62c66cbe942a74.js
  _next/static/chunks/pages/build-59ea6e84c675bc67.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types
