Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

markdown:
  run: npx prettier --write {staged_files}
  stage_fixed: true

enable test app
  packages/create-react-native-library/src/input.ts
Due: lint, types

put includesgenerated code for all targetes
  packages/create-react-native-library/src/input.ts
  packages/create-react-native-library/templates/common/$package.json
Due: lint, types

put rncli dep for test app examples
  packages/create-react-native-library/src/exampleApp/dependencies.ts
Due: lint, types

fix: update release-it deps and config #733
  packages/create-react-native-library/templates/common/$package.json
Due: none

fea(docs): add docs for testing with react native testing library
  docs/pages/faq.md
Due: markdown

feat: add issue templates (#696)
  packages/create-react-native-library/templates/common/$.github/ISSUE_TEMPLATE/bug_report.yml
  packages/create-react-native-library/templates/common/$.github/ISSUE_TEMPLATE/config.yml
Due: none

move utils to patches
  packages/react-native-builder-bob/src/targets/codegen/index.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/patchCodegenAndroidPackage.test.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/patchCodegenAndroidPackage.ts
Due: lint, types

patch codegen app level code
  packages/react-native-builder-bob/src/targets/codegen/patches/removeCodegenAppLevelCode.test.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/removeCodegenAppLevelCode.ts
Due: lint, types

fix: treat js-only libs as legacy arch
  packages/create-react-native-library/src/template.ts
Due: lint, types

fix: legacy arch example app template fails on js
  packages/create-react-native-library/templates/example-module-legacy/example/src/App.tsx
Due: lint, types

fix: ios example app has duplicated symbols due to codegen (#757)
  packages/react-native-builder-bob/src/targets/codegen/index.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/patchCodegenAndroidPackage.test.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/patchCodegenAndroidPackage.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/removeCodegenAppLevelCode.test.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/removeCodegenAppLevelCode.ts
Due: lint, types

fix unused imports
  packages/create-react-native-library/templates/example-module-legacy/example/src/App.tsx
Due: lint, types

fix: js-only libraries have codegen config (#758)
  packages/create-react-native-library/src/template.ts
  packages/create-react-native-library/templates/example-module-legacy/example/src/App.tsx
Due: lint, types

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

fix: bob codegen deletes view specs when codegen type is all
  packages/react-native-builder-bob/src/targets/codegen/patches/patchCodegenAndroidPackage.test.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/patchCodegenAndroidPackage.ts
Due: lint, types

fix: codegen generated headers are public on ios (#737)
  packages/create-react-native-library/templates/native-common/{%- project.identifier %}.podspec
Due: none

fix: bob codegen deletes view specs when codegen type is all (#736)
  packages/react-native-builder-bob/src/targets/codegen/patches/patchCodegenAndroidPackage.test.ts
  packages/react-native-builder-bob/src/targets/codegen/patches/patchCodegenAndroidPackage.ts
Due: lint, types

fix: build architectures needed only for cpp projects
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

fix: build architectures needed only for cpp projects (#753)
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

feat: update gh actions in template from v3 to v4
  .nvmrc
  packages/create-react-native-library/templates/common/$.github/actions/setup/action.yml
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
  packages/create-react-native-library/templates/common/$.nvmrc
Due: none

upgrade the node version in root packagejson
  package.json
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/package.json
Due: none

pin .nvmrc version to 20
  packages/create-react-native-library/templates/common/$.nvmrc
Due: none

pin node version to 20
  .nvmrc
Due: none

feat: update gh actions in template from `v3` to `v4` (#748)
  .nvmrc
  package.json
  packages/create-react-native-library/package.json
  packages/create-react-native-library/templates/common/$.github/actions/setup/action.yml
  packages/create-react-native-library/templates/common/$.github/workflows/ci.yml
  packages/create-react-native-library/templates/common/$.nvmrc
  packages/react-native-builder-bob/package.json
Due: none

fix: ndkVersion casing in gradle.properties
  packages/create-react-native-library/templates/native-common/android/gradle.properties
Due: none

fix: get Gradle version dynamically
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

feat: update values in `build.gradle`
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

feat(android): upgrade SDK versions and build tools
  packages/create-react-native-library/templates/native-common/android/gradle.properties
Due: none

fix: self code review
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

feat(android): upgrade SDK versions and build tools (#742)
  packages/create-react-native-library/templates/native-common/android/build.gradle
  packages/create-react-native-library/templates/native-common/android/gradle.properties
Due: none

Update packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/common/$package.json
Due: none

feat: use new package
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

chore: remove React Native 0.71 leftover in `build.gradle` (#743)
  packages/create-react-native-library/templates/native-common/android/build.gradle
Due: none

fix: don't pass any output to the custom target
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/targets/custom.ts
Due: lint, types

feat: warn user if clean path doesn't exist
  packages/react-native-builder-bob/src/targets/custom.ts
Due: lint, types

feat: remove cwd
  docs/pages/build.md
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/targets/custom.ts
  packages/react-native-builder-bob/src/types.ts
Due: lint, types, markdown

feat: add clean to the script target
  packages/react-native-builder-bob/src/targets/script.ts
Due: lint, types

Update prompts
  packages/react-native-builder-bob/src/targets/custom.ts
Due: lint, types

docs: script target
  docs/pages/build.md
Due: markdown

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  markdown: any of: *.md
