Repository callstack/react-native-builder-bob: changes, and which lefthook commands are due for each by the changed paths.
All: lint, types, markdown

lint:
  run: npx eslint {staged_files}

types:
  run: npx tsc --noEmit

markdown:
  run: npx prettier --write {staged_files}
  stage_fixed: true

feat: add esm build option for typescript (#603)
  docs/pages/build.md
  docs/pages/esm.md
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/common/$package.json
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/targets/typescript.ts
  packages/react-native-builder-bob/src/utils/compile.ts
Due: lint, types, markdown

chore: publish
  docs/CHANGELOG.md
  docs/package.json
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@47d624eb8e1524a15a4ceaa5d0388d3af5b2bb14 🚀
  404.html
  _next/static/ibg2v6YFA3Q7m1uJptBaJ/_buildManifest.js
  _next/static/ibg2v6YFA3Q7m1uJptBaJ/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

chore: ensure semantic pr title
  .github/workflows/pull-request-title.yml
Due: none

docs: update ESM support docs
  docs/pages/build.md
  docs/pages/esm.md
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@0d915f4ff11ea641c3f3d96014c29a831ef81161 🚀
  404.html
  _next/static/Gc7qZ6tL1vgp-mfafHymJ/_buildManifest.js
  _next/static/Gc7qZ6tL1vgp-mfafHymJ/_ssgManifest.js
  _next/static/chunks/nextra-data-en-US.json
  _next/static/chunks/pages/build-61773b9d670fbc20.js
  _next/static/chunks/pages/build-f2cd134083567fd1.js
  _next/static/chunks/pages/esm-9d85da1646ba4ed1.js
  _next/static/chunks/pages/esm-aead98fefd04f192.js
  _next/static/ibg2v6YFA3Q7m1uJptBaJ/_buildManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

fix: always use example app's babel config. closes #611
  packages/react-native-builder-bob/babel-config.js
  packages/react-native-builder-bob/babel-preset.js
  packages/react-native-builder-bob/package.json
  yarn.lock
Due: lint, types

chore: publish
  docs/CHANGELOG.md
  docs/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

Deploying to gh-pages from @ callstack/react-native-builder-bob@8edf59069dc59358b6a2e7968f1dd243ae1d58a7 🚀
  404.html
  _next/static/defWdkOc983wzvgQey2aA/_buildManifest.js
  _next/static/defWdkOc983wzvgQey2aA/_ssgManifest.js
  build.html
  create.html
  esm.html
  faq.html
  index.html
Due: lint, types

ci: build new architecture for mixed templates
  .github/workflows/build-templates.yml
  packages/create-react-native-library/templates/native-common-example/turbo.json
Due: none

ci: build new architecture for mixed templates (#614)
  .github/workflows/build-templates.yml
  packages/create-react-native-library/templates/native-common-example/turbo.json
Due: none

fix: addres issues
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/utils/addCodegenBuildScript.ts
  packages/create-react-native-library/templates/native-library-mixed/react-native.config.js
  packages/create-react-native-library/templates/native-library-new/react-native.config.js
  packages/create-react-native-library/templates/native-view-mixed/react-native.config.js
  packages/create-react-native-library/templates/native-view-new/react-native.config.js
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/targets/codegen.ts
  packages/react-native-builder-bob/src/types.ts
  packages/react-native-builder-bob/src/utils/patchCodegen.ts
  packages/react-native-builder-bob/src/utils/spawn.ts
Due: lint, types

fix: use all as codegen type
  packages/create-react-native-library/templates/common/$package.json
Due: none

feat: remove previous codegen specs
  packages/react-native-builder-bob/src/__tests__/patchCodegen.test.ts
  packages/react-native-builder-bob/src/targets/codegen.ts
  packages/react-native-builder-bob/src/utils/patchCodegen.ts
Due: lint, types

feat: ship codegen-generated specs (#566)
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/src/utils/addCodegenBuildScript.ts
  packages/create-react-native-library/templates/common/$.gitignore
  packages/create-react-native-library/templates/common/$package.json
  packages/create-react-native-library/templates/native-common/android/build.gradle
  packages/create-react-native-library/templates/native-common/{%- project.identifier %}.podspec
  packages/create-react-native-library/templates/native-library-mixed/react-native.config.js
  packages/create-react-native-library/templates/native-library-new/react-native.config.js
  packages/create-react-native-library/templates/native-view-mixed/react-native.config.js
  packages/create-react-native-library/templates/native-view-new/react-native.config.js
  packages/react-native-builder-bob/package.json
  packages/react-native-builder-bob/src/__tests__/patchCodegen.test.ts
  packages/react-native-builder-bob/src/index.ts
  packages/react-native-builder-bob/src/targets/codegen.ts
  packages/react-native-builder-bob/src/types.ts
  packages/react-native-builder-bob/src/utils/patchCodegen.ts
  packages/react-native-builder-bob/src/utils/spawn.ts
  yarn.lock
Due: lint, types

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

fix: creating library with `react-native-test-app` example
  packages/create-react-native-library/src/index.ts
Due: lint, types

fix: add `includesGeneratedCode` only for vanilla example
  packages/create-react-native-library/templates/common/$package.json
Due: none

fix: creating library with react-native-test-app example (#622)
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/common/$package.json
Due: lint, types

fix: treat ESM syntax code as CommonJS if esm is not enabled
  packages/react-native-builder-bob/src/utils/compile.ts
Due: lint, types

fix: conditionally generate package.json
  packages/react-native-builder-bob/src/utils/compile.ts
Due: lint, types

chore: publish
  packages/react-native-builder-bob/CHANGELOG.md
  packages/react-native-builder-bob/package.json
Due: markdown

fix(android): fix typo in cmakeListsPath for turbo native modules
  packages/create-react-native-library/templates/native-library-mixed/react-native.config.js
  packages/create-react-native-library/templates/native-library-new/react-native.config.js
  packages/create-react-native-library/templates/native-view-mixed/react-native.config.js
  packages/create-react-native-library/templates/native-view-new/react-native.config.js
Due: lint, types

fix(android): fix typo in cmakeListsPath for turbo native local modules
  packages/create-react-native-library/src/index.ts
  packages/create-react-native-library/templates/native-library-mixed/react-native.config.js
  packages/create-react-native-library/templates/native-library-new/react-native.config.js
  packages/create-react-native-library/templates/native-view-mixed/react-native.config.js
  packages/create-react-native-library/templates/native-view-new/react-native.config.js
Due: lint, types

fix(format): fix indentation in react-native.config ejs file
  packages/create-react-native-library/templates/native-library-mixed/react-native.config.js
  packages/create-react-native-library/templates/native-library-new/react-native.config.js
  packages/create-react-native-library/templates/native-view-mixed/react-native.config.js
  packages/create-react-native-library/templates/native-view-new/react-native.config.js
Due: lint, types

test if example app is vanilla instead of checking if its local
  packages/create-react-native-library/templates/native-library-mixed/react-native.config.js
  packages/create-react-native-library/templates/native-library-new/react-native.config.js
  packages/create-react-native-library/templates/native-view-mixed/react-native.config.js
  packages/create-react-native-library/templates/native-view-new/react-native.config.js
Due: lint, types

remove unused local property
  packages/create-react-native-library/src/index.ts
Due: lint, types

add _ again
  packages/create-react-native-library/templates/native-library-mixed/react-native.config.js
  packages/create-react-native-library/templates/native-library-new/react-native.config.js
  packages/create-react-native-library/templates/native-view-mixed/react-native.config.js
  packages/create-react-native-library/templates/native-view-new/react-native.config.js
Due: lint, types

fix: typo in cmakeListsPath for turbo native modules (#629)
  packages/create-react-native-library/templates/native-library-mixed/react-native.config.js
  packages/create-react-native-library/templates/native-library-new/react-native.config.js
  packages/create-react-native-library/templates/native-view-mixed/react-native.config.js
  packages/create-react-native-library/templates/native-view-new/react-native.config.js
Due: lint, types

chore: publish
  packages/create-react-native-library/CHANGELOG.md
  packages/create-react-native-library/package.json
Due: markdown

fix: single answer questions dont get stored with metadata
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat: ask language before type
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat: ask to use recommended template (#564)
  packages/create-react-native-library/src/index.ts
Due: lint, types

feat: throw if user passes --type or --languages with --with-recommended-options
  packages/create-react-native-library/src/index.ts
Due: lint, types

wip
  packages/create-react-native-library/src/index.ts
Due: lint, types

fix: make sure react-native.config.json is shipped with each library
  packages/create-react-native-library/templates/common/$package.json
Due: none

fix: make sure react-native.config.json is shipped with each library Fixes #647 (#648)
  packages/create-react-native-library/templates/common/$package.json
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx}
  types: any of: *.{js,ts,jsx,tsx}
  markdown: any of: *.md
